.navblock.no-animation(repeat-host)
  a.item(href="#",repeat-item,editable="true") Section 1
  a.item(href="#",repeat-item,editable="true") Section 2
  a.item(href="#",repeat-item,editable="true") Section 3
