.navblock(repeat-host)
  a.item(href="#",repeat-item,editable="true") Section Name
  a.item(href="#",repeat-item,editable="true") Section Name
  a.item(href="#",repeat-item,editable="true") Section Name
