.container
  .thumb(image,style="background-image:url(/assets/img/sample/36.jpg)",resizable="false",editable="false")
  .thumb(image,style="background-image:url(/assets/img/sample/37.jpg)",resizable="false",editable="false")
  .ctrl.unsortable
