listen 443;
ssl on;
error_page 405 = $uri;

location ~ ^/ws$ {
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  proxy_set_header Host $host;
  proxy_pass http://mwb-api;
  proxy_http_version 1.1;
  proxy_set_header Upgrade $http_upgrade;
  proxy_set_header Connection "upgrade";
  proxy_connect_timeout 30m;
  proxy_send_timeout 30m;
  proxy_read_timeout 30m;
}

location ~ ^/page/create$ {
  root /home/web/server/;
  try_files /static/page/create.html @apiserver;
}

location ~ ^/page/work.html$ {
  root /home/web/server/;
  try_files /static/page/work.html @apiserver;
}

location ~ ^/page/([^/]+)/?$ {
  root /home/web/server/;
  try_files /static/page/index.html @apiserver;
}

location ~ ^/s/avatar/(.*)$ {
  root /home/web/server/;
  try_files /static/s/avatar/$1 /static/assets/img/avatar.svg 403;
}

location = /robots.txt {
  return 404;
}

location = /js/global.js {
  proxy_set_header X-Real-IP $remote_addr;
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  proxy_set_header Host $http_host;
  proxy_set_header X-NginX-Proxy true;
  proxy_pass http://mwb-api;
  proxy_redirect off;
  proxy_intercept_errors on;
  error_page 404 500 502 503 504 =200 @globalfallback;
}

location @globalfallback {
  root /home/web/server/static/;
  try_files $uri $uri/;
}

location ~ \.(?:ico|css|js|gif|jpe?g|png|svg|woff)$ {
  root /home/web/server/static/;
  #expires 30d;
  #add_header Pragma public;
  #add_header Cache-Control public;
}

location ~ ^/(.*)$ {
  root /home/web/server/;
  try_files /static/$1 /static/$1/index.html @apiserver;
}

location @apiserver {
  proxy_set_header X-Real-IP $remote_addr;
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  proxy_set_header Host $http_host;
  proxy_set_header X-NginX-Proxy true;
  proxy_set_header X-Forwarded-Proto $scheme;
  proxy_cookie_domain localhost $host;
  proxy_pass http://mwb-api;
  proxy_redirect off;
  #limit_req zone=api burst=7 nodelay;
}
