include ./sites-enabled/makeweb.io/upstream.config;
root /home/web/projects/makeweb.io/static/;

server {
  server_name makeweb.io;
  include ./sites-enabled/makeweb.io/http.config;
}

server {
  server_name makeweb.io;
  location ^~ /test/ { internal; }
  include ./sites-enabled/makeweb.io/https.config;
  include ./sites-enabled/makeweb.io/proxy.config;
  ssl_certificate /etc/letsencrypt/live/makeweb.io/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/makeweb.io/privkey.pem;
}

server {
  server_name www.makeweb.io;
  include ./sites-enabled/makeweb.io/http.config;
}
