include ./sites-enabled/makeweb.io/upstream.config;
root /home/web/server/static/;

server {
  server_name makeweb.io;
  include ./sites-enabled/makeweb.io/http.config;
}

server {
  server_name makeweb.io;
  location ^~ /test/ { internal; }
  include ./sites-enabled/makeweb.io/https.config;
  include ./sites-enabled/makeweb.io/proxy.config;
  ssl_certificate /etc/letsencrypt/live/makeweb.io/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/makeweb.io/privkey.pem;
}

server {
  server_name www.makeweb.io;
  include ./sites-enabled/makeweb.io/http.config;
}

server {
  server_name www.makeweb.io;
  listen 443;
  ssl on;
  ssl_protocols TLSv1.1 TLSv1.2;
  ssl_certificate /etc/letsencrypt/live/makeweb.io/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/makeweb.io/privkey.pem;
  return 301 $scheme://makeweb.io$request_uri;
}
