proxy_set_header Host $http_host;
proxy_redirect off;

# rewrite cookie domain from localhost to $host.
# not necessary if we explicitly set cookie domain to other than localhost
proxy_cookie_domain localhost $host;

# tell API server that we are behind nginx
proxy_set_header X-NginX-Proxy true;

# tell API server the original IP address
# https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Forwarded-For
proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
proxy_set_header X-Real-IP $remote_addr;

# tell API server the original scheme ( http / https ) .
# https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Forwarded-Proto
proxy_set_header X-Forwarded-Proto $scheme;

# to limit request rate, use limit_req and limit_req_zone.
# limit_req zone=api burst=7 nodelay;
