br
h2.text-center What is MakeWeb?
br
p MakeWeb is a collaborative web editing service. In MakeWeb, layouts are provided as "blocks" that can be composed together by dragging and dropping, so you don't have to worry about coding and layout tweaking but fully focus on the content you are creating.
p While making web are made easy, we also help you to more easily collaborate with others with our realtime collaborating editing interface. Share your link with friends and colleagues, and start coworking now!
