.row
  .col-sm-8
    .card
      .card-header
        .mb-2
          .btn.btn-secondary Actor
          .btn.btn-link acts
          .btn.btn-secondary Objective
          .btn.btn-link with additional information
        p.mb-0 via some link or source - #[a(href="#") reference URL]
      .card-body
        blockquote this is some quotation of the someone's word.
        .text-right someone
  .col-sm-4
    h6 Note
    p Some descriptive thought or annotation from narrative, used to help readers get into the plot more quickly.
