.row
  .col-sm-8
    .card
      .card-header
        .mb-2
          .btn.btn-secondary(editable="true") Actor
          .btn.btn-link(editable="true") acts
          .btn.btn-secondary(editable="true") Objective
          .btn.btn-link(editable="true") with additional information
        p.mb-0 via some link or source - #[a(href="#") reference URL]
      .card-body(repeat-host)
        blockquote(repeat-item) this is some quotation of the someone's word.
        .text-right someone
  .col-sm-4
    h6 Note
    p Some descriptive thought or annotation from narrative, used to help readers get into the plot more quickly.
