.list
  .item(image="bk",style="background-image:url(/assets/img/sample/38.jpg)"): .row
    .col-sm-1
    .col-sm-5
      h3 Internet Technologies #[small.tiny.ml-2 / 1960s]
      p Research into packet switching, one of the fundamental Internet technologies started in the early 1960s in the work of Paul Baran, and packet switched networks such as the NPL network by Donald Davies, ARPANET, Tymnet, the Merit Network, Telenet, and CYCLADES, were developed in the late 1960s and 1970s using a variety of protocols.
      p The ARPANET project led to the development of protocols for internetworking, by which multiple separate networks could be joined into a network of networks.
    .col-sm-5
      .thumb(image,style="background-image:url(/assets/img/sample/38.jpg)")
