table(repeat-host)
  tr(editable="false")
    th(resizable,editable="true") Name
    th(resizable,editable="true") Score
    th(resizable,editable="true") Rank
  tr(repeat-item)
    td(editable="true") Johnny
    td(editable="true") 98
    td(editable="true") A+
  tr(repeat-item)
    td(editable="true") Richard
    td(editable="true") 78
    td(editable="true") B-
  tr(repeat-item)
    td(editable="true") Wang
    td(editable="true") 93
    td(editable="true") A
  tr(repeat-item)
    td(editable="true") Sasuke
    td(editable="true") 62
    td(editable="true") D-
