extends /base.jade
block vars
  - var navbar = false
block head
  +css("/css/site/index.css")
block body
  .root-bk-gradient: .inner
    .authpanel-static-outer
      include static.jade
    +nbr(1)
    .text-center: a(href="/") Back to Home
