nav.navbar.navbar-expand-lg
  button.navbar-toggler(type="button",data-toggle="collapse",data-target="#navbarSupportedContent")
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav(repeat-host,style="margin:auto")
      li.nav-item(repeat-item)
        a.nav-link(href="#",editable="true") Home
      li.nav-item(repeat-item)
        a.nav-link(href="#",editable="true") About
      li.nav-item(repeat-item)
        a.nav-link(href="#",editable="true") Product
