.block-navbar-center
  width: 100%!important
  max-width: initial!important
  background: #444
  color: #fff
  nav.navbar
    background: none
    color: currentColor
  & > .inner
    width: 100%!important
    max-width: initial!important
    margin: 0!important
  nav.navbar li.nav-item a.nav-link
    color: currentColor
  nav.navbar .navbar-brand
    color: currentColor
