div
  br
  h2.text-center Common questions
  br
  br
  .row(repeat-host)
    .col-sm-6.mb-4(repeat-item)
      b How should I attribute?
      p.mt-2 If you use CC-BY licensed resources, please add a link to the page of the resource in any place of your website.
    .col-sm-6.mb-4(repeat-item)
      b Can I bundle and resell?
      p.mt-2 Yes, you can. We only prohibit a direct resell of downloaded resources on their own. 
    .col-sm-6.mb-4(repeat-item)
      b Can I request for new features?
      p.mt-2 Sure! Request is always welcome, just leave a message in our website or contact us directly.
    .col-sm-6.mb-4(repeat-item)
      b In whatever reason, I want a refund.
      p.mt-2 Please contact us directly within 7 days after your payment is made. We will do it for you.

  .text-center: a(href="#") see all questions #[i.fa &#xf061;]
