.block-timeline
  .list
    .item
      border-left: 1px solid #ccc
      //- prevent margin collapsing
      border-top: 1px solid transparent
      padding: 0 0 30px 20px
      position: relative
      .title
        font-size: 1.2em
        font-weight: 600
        margin: -10px 0 5px 0
      &:after
        content: " "
        display: block
        position: absolute
        top: 0
        left: -5px
        border-radius: 50%
        width: 10px
        height: 10px
        background: #ccc
    .item:last-child
      border-left: 0px solid transparent
