h3.mb-4 Timeline
.list(repeat-host)
  .item(repeat-item)
    .title(editable="true") President of United States #[small 2009 - 2017]
    .desc(editable="true") the 44th President took place on January 20, 2009. In his first few days in office, Obama issued executive orders and presidential memoranda directing the U.S. military to develop plans to withdraw troops from Iraq.
  .item(repeat-item)
    .title(editable="true") U.S. Senator from Illinois #[small 2005 - 2008]
    .desc(editable="true") Obama was sworn in as a senator on January 3, 2005,[136] becoming the only Senate member of the Congressional Black Caucus.[137] CQ Weekly characterized him as a "loyal Democrat" based on analysis of all Senate votes from 2005 to 2007.
  .item(repeat-item)
    .title(editable="true") Illinois State Senator #[small 1997 - 2004]
    .desc(editable="true") Obama was elected to the Illinois Senate in 1996, succeeding Democratic State Senator Alice Palmer from Illinois's 13th District, which, at that time, spanned Chicago South Side neighborhoods from Hyde Park–Kenwood south to South Shore and west to Chicago Lawn.
