[image=image] {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.block-item {
  position: relative;
  border-top: 0.1px solid transparent;
  border-bottom: 0.1px solid transparent;
}
.block-item > .inner {
  margin: 20px;
}
