[image=image] {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.block-item {
  position: relative;
  border-top: 0.1px solid transparent;
  border-bottom: 0.1px solid transparent;
}
.block-item > .inner {
  margin: 20px 40px;
}
.block-item:first-child > .inner {
  margin-top: 40px;
}
.block-item:last-child > .inner {
  margin-bottom: 40px;
}
.block-item {
  color: #555;
}
.block-item h1,
.block-item h2,
.block-item h3,
.block-item h4 {
  color: #333;
  font-weight: 300;
}
.block-item .btn a {
  color: #fff;
}
.block-item b {
  font-weight: 600;
}
