[image=image] {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.block-item {
  position: relative;
  border-top: 0.1px solid transparent;
  border-bottom: 0.1px solid transparent;
}
.block-item > .inner {
  margin: 20px 40px;
}
.block-item:first-child > .inner {
  margin-top: 40px;
}
.block-item:last-child > .inner {
  margin-bottom: 40px;
}
.block-item {
  color: #555;
}
.block-item .btn a {
  color: #fff;
}
.block-item b {
  font-weight: 600;
}
#makeweb {
  position: fixed;
  bottom: 10px;
  right: 20px;
  font-size: 12px;
  color: #999;
}
#makeweb img {
  height: 11px;
  vertical-align: 0;
}
#edit-this-page {
  position: fixed;
  top: 10px;
  left: 10px;
  color: #aaa;
  font-size: 12px;
}
@media (max-width: 768px) {
  .block-item > .inner {
    margin: 20px 10px;
  }
}
