#nav-top {
  display: none;
}
body {
  background: #eee;
}
#editor-root {
  width: 100%;
  min-height: 100%;
  height: 100%;
  padding: 5px 0 0 0;
  background: #eee;
}
[contenteditable=true] {
  outline: none;
}
[image=image] .uploadcare--widget button {
  cursor: pointer;
}
#editor {
  width: 100%;
  height: 100%;
  padding: 0;
  width: 100%;
}
#editor > .head {
  width: 800px;
  margin: auto;
  height: 36px;
  -ms-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
#editor > .inner {
  font-family: 'Raleway', sans-serif;
  width: 800px;
  min-height: 100%;
  border: 0px solid #ccc;
  border-top: 1px solid rgba(0,0,0,0);
  margin: auto;
  background: #fff;
  box-shadow: 0 6px 6px rgba(0,0,0,0.2);
  -ms-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
#editor > .inner > .sortable-ghost {
  background-image: none !important;
  border: 2px dashed #ccc;
  margin: 10px;
  padding: 10px;
}
#blocks-picker {
  overflow: scroll;
  position: fixed;
  padding: 41px 10px 10px;
  width: 110px;
  height: 100%;
  left: auto;
  top: 0;
  -ms-transition: right 0.3s ease-in-out;
  -moz-transition: right 0.3s ease-in-out;
  -webkit-transition: right 0.3s ease-in-out;
  -o-transition: right 0.3s ease-in-out;
  transition: right 0.3s ease-in-out;
}
#blocks-picker .block-thumb {
  text-align: center;
  margin-bottom: 10px;
}
#blocks-picker .block-thumb .name {
  line-height: 14px;
  font-size: 13px;
  color: #aaa;
}
#blocks-picker .block-thumb .thumb {
  width: 90px;
  height: 60px;
  background-image: none !important;
  background: #fff;
  margin-bottom: 5px;
  background: #fff center center no-repeat;
  background-size: contain;
  box-shadow: 0 3px 2px rgba(0,0,0,0.1);
}
#collab-info {
  position: fixed;
  padding: 41px 10px 10px;
  width: 110px;
  height: 100%;
  top: 0;
  right: auto;
  -ms-transition: left 0.3s ease-in-out;
  -moz-transition: left 0.3s ease-in-out;
  -webkit-transition: left 0.3s ease-in-out;
  -o-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
  color: #444;
}
#collab-info .list {
  font-size: 0.8em;
  color: #777;
}
.editor-export-modal pre {
  white-space: normal;
  font-family: consolas, monospace;
  font-size: 16px;
  background: #eee;
  border: 1px solid #ccc;
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
  height: 300px;
  overflow: scroll;
  border-radius: 5px;
  padding: 10px;
}
[ng-clipboard] {
  position: relative;
}
[ng-clipboard] .hover-tip {
  display: none;
}
.copied[ng-clipboard] .hover-tip {
  display: block;
}
.editor-preview-modal .cover-modal-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 80%;
  width: 800px;
  max-width: 90%;
}
.editor-preview-modal .cover-modal-inner .card,
.editor-preview-modal .cover-modal-inner .card-body {
  width: 100%;
  height: 100%;
}
.editor-preview-modal .cover-modal-inner #editor-preview {
  padding: 0;
  overflow: scroll;
}
#editor > .inner > .placeholder {
  width: 100%;
  height: 300px;
  padding: 10px;
  display: table;
}
#editor > .inner > .placeholder > div {
  width: 100%;
  height: 300px;
  border: 4px dashed #49f;
  border-radius: 3px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 3em;
  color: #ddd;
}
#editor > .inner > .placeholder > div:after {
  content: "Drop Here";
  display: block;
}
