#nav-top {
  display: none;
}
body {
  background: #f1f3f3;
}
#editor-root {
  width: 100%;
  min-height: 100%;
  height: 100%;
  padding: 0;
  background: #f1f3f3;
}
[contenteditable=true] {
  outline: none;
}
#editor {
  width: 100%;
  height: 100%;
  padding: 0;
  width: 100%;
}
#editor > .head {
  width: 800px;
  margin: auto;
  padding: 15px 0;
  color: #777;
  height: 61px;
  -ms-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
#editor > .head .btn {
  font-weight: 200;
}
#editor > .head .dropdown-item {
  color: #666;
  font-weight: 200;
}
#editor > .head .dropdown-menu {
  box-shadow: 0 3px 1px rgba(0,0,0,0.09);
  border-radius: 1px;
  border: none;
}
#editor > .inner {
  z-index: 4;
  position: relative;
  font-family: 'Raleway', sans-serif;
  width: 800px;
  min-height: 100%;
  border: 0px solid #ccc;
  border-top: 0.1px solid rgba(0,0,0,0);
  margin: auto auto 40px;
  background: #fff;
  box-shadow: 0 24px 18px rgba(0,0,0,0.2);
  -ms-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
#editor > .inner > .sortable-ghost {
  background-image: none !important;
  border: 2px dashed #ccc;
  margin: 10px;
  padding: 10px;
}
#blocks-picker {
  overflow-y: scroll;
  position: fixed;
  padding: 81px 10px 50px;
  width: 180px;
  height: 100%;
  left: auto;
  top: 0;
  z-index: 3;
  -ms-transition: right 0.3s ease-in-out;
  -moz-transition: right 0.3s ease-in-out;
  -webkit-transition: right 0.3s ease-in-out;
  -o-transition: right 0.3s ease-in-out;
  transition: right 0.3s ease-in-out;
}
#blocks-picker .block-thumb {
  text-align: center;
  margin-bottom: 10px;
  width: 150px;
}
#blocks-picker .block-thumb .name {
  line-height: 14px;
  font-size: 13px;
  color: #aaa;
}
#blocks-picker .block-thumb .thumb {
  width: 150px;
  height: 0;
  padding-bottom: 40%;
  background: #fff;
  margin-bottom: 5px;
  background: #fff center center no-repeat;
  background-size: contain;
  box-shadow: 0 3px 2px rgba(0,0,0,0.1);
}
#blocks-preview {
  display: none;
  position: absolute;
  top: 100px;
  left: 200px;
  width: 256px;
  height: auto;
  background: #fff;
  z-index: 5;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  border: 0px solid #fff;
}
#blocks-preview .inner {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 0;
  border-radius: 3px;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
}
#blocks-preview .pin:after {
  content: " ";
  display: block;
  width: 10px;
  height: 10px;
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #fff;
  border-left: 0px solid #eee;
  border-bottom: 0px solid #eee;
  background: #fff;
  position: absolute;
  left: -5px;
  top: 20px;
  z-index: 0;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
#collab-info {
  position: fixed;
  padding: 81px 10px 10px 20px;
  width: 110px;
  height: 100%;
  top: 0;
  right: auto;
  -ms-transition: left 0.3s ease-in-out;
  -moz-transition: left 0.3s ease-in-out;
  -webkit-transition: left 0.3s ease-in-out;
  -o-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
  color: #444;
}
#collab-info .list {
  font-size: 0.8em;
  color: #777;
}
#collab-info .list .item {
  margin-bottom: 5px;
}
#collab-info .list .item a {
  color: #444;
}
#collab-info .list .item i {
  margin-right: 5px;
}
.editor-export-modal pre {
  white-space: normal;
  font-family: consolas, monospace;
  font-size: 16px;
  background: #eee;
  border: 1px solid #ccc;
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
  height: 300px;
  overflow: scroll;
  border-radius: 5px;
  padding: 10px;
}
[ng-clipboard] {
  position: relative;
}
[ng-clipboard] .hover-tip {
  display: none;
}
.copied[ng-clipboard] .hover-tip {
  display: block;
}
.editor-preview-modal .cover-modal-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 80%;
  width: 800px;
  max-width: 90%;
}
.editor-preview-modal .cover-modal-inner .card,
.editor-preview-modal .cover-modal-inner .card-body {
  width: 100%;
  height: 100%;
}
.editor-preview-modal .cover-modal-inner #editor-preview {
  padding: 0;
  overflow: scroll;
}
#editor > .inner > .placeholder {
  width: 100%;
  height: 300px;
  padding: 10px;
  display: table;
}
#editor > .inner > .placeholder > div {
  width: 100%;
  height: 300px;
  border: 4px dashed #49f;
  border-radius: 3px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 3em;
  color: #ddd;
}
#editor > .inner > .placeholder > div:after {
  content: "Drop Here";
  display: block;
}
#editor-node-handle {
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 8;
  background: #fff;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #777;
  display: none;
}
#editor-node-handle:before {
  content: " ";
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  -ms-transform: translate(-60%, -50%) rotate(45deg);
  -moz-transform: translate(-60%, -50%) rotate(45deg);
  -webkit-transform: translate(-60%, -50%) rotate(45deg);
  -o-transform: translate(-60%, -50%) rotate(45deg);
  transform: translate(-60%, -50%) rotate(45deg);
  top: 50%;
  background: #fff;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
#editor-node-handle i.fa {
  display: block;
  padding: 7px 5px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}
#editor-node-handle i.fa.fa-arrows {
  font-size: 15px;
}
#editor-node-handle i.fa.fa-trash-o {
  font-size: 18px;
  border: none;
}
#collaborator-cursors {
  position: relative;
  margin: auto;
}
#collaborator-cursors .cursor {
  position: absolute;
  width: 2px;
  background: rgba(255,255,255,0.3);
  height: 24px;
  color: #f00;
  border: 1px solid currentColor;
  border-radius: 3px;
  z-index: 6;
}
#collaborator-cursors .cursor.color0,
#collab-info .item span.color0 {
  color: #000;
}
#collaborator-cursors .cursor.color1,
#collab-info .item span.color1 {
  color: #f44336;
}
#collaborator-cursors .cursor.color2,
#collab-info .item span.color2 {
  color: #03a9f4;
}
#collaborator-cursors .cursor.color3,
#collab-info .item span.color3 {
  color: #8bc34a;
}
#collaborator-cursors .cursor.color4,
#collab-info .item span.color4 {
  color: #9c27b0;
}
#collaborator-cursors .cursor.color5,
#collab-info .item span.color5 {
  color: #009688;
}
#collaborator-cursors .cursor.color6,
#collab-info .item span.color6 {
  color: #3f51b5;
}
#collaborator-cursors .cursor.color7,
#collab-info .item span.color7 {
  color: #ff9800;
}
#editor > .inner div[base-block].initializing {
  margin: 20px;
}
#editor > .inner div[base-block].initializing .thumb {
  height: 50px;
  border-radius: 25px;
  background: url("/assets/img/loader/msg.gif") #eee center center no-repeat;
}
#editor > .inner div[base-block].initializing .name {
  display: none;
}
#editor > .inner div[base-block].sortable-ghost {
  padding: 20px;
  margin: 20px;
}
#editor > .inner div[base-block].sortable-ghost .thumb {
  display: none;
}
