#nav-top {
  display: none;
}
body {
  background: #eee;
}
#editor-root {
  width: 100%;
  min-height: 100%;
  height: 100%;
  padding: 5px 0 0 0;
  background: #eee;
}
[contenteditable=true] {
  outline: none;
}
#editor {
  width: 100%;
  height: 100%;
  padding: 0;
  width: 100%;
}
#editor > .head {
  width: 800px;
  margin: auto;
  height: 36px;
  -ms-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
#editor > .inner {
  font-family: 'Raleway', sans-serif;
  width: 800px;
  min-height: 100%;
  border: 0px solid #ccc;
  border-top: 0.1px solid rgba(0,0,0,0);
  margin: auto;
  background: #fff;
  box-shadow: 0 6px 6px rgba(0,0,0,0.2);
  -ms-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
#editor > .inner > .sortable-ghost {
  background-image: none !important;
  border: 2px dashed #ccc;
  margin: 10px;
  padding: 10px;
}
#blocks-picker {
  overflow-y: scroll;
  position: fixed;
  padding: 41px 10px 10px;
  width: 120px;
  height: 100%;
  left: auto;
  top: 0;
  -ms-transition: right 0.3s ease-in-out;
  -moz-transition: right 0.3s ease-in-out;
  -webkit-transition: right 0.3s ease-in-out;
  -o-transition: right 0.3s ease-in-out;
  transition: right 0.3s ease-in-out;
}
#blocks-picker .block-thumb {
  text-align: center;
  margin-bottom: 10px;
}
#blocks-picker .block-thumb .name {
  line-height: 14px;
  font-size: 13px;
  color: #aaa;
}
#blocks-picker .block-thumb .thumb {
  width: 100px;
  height: 60px;
  background-image: none !important;
  background: #fff;
  margin-bottom: 5px;
  background: #fff center center no-repeat;
  background-size: contain;
  box-shadow: 0 3px 2px rgba(0,0,0,0.1);
}
#collab-info {
  position: fixed;
  padding: 41px 10px 10px;
  width: 110px;
  height: 100%;
  top: 0;
  right: auto;
  -ms-transition: left 0.3s ease-in-out;
  -moz-transition: left 0.3s ease-in-out;
  -webkit-transition: left 0.3s ease-in-out;
  -o-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
  color: #444;
}
#collab-info .list {
  font-size: 0.8em;
  color: #777;
}
.editor-export-modal pre {
  white-space: normal;
  font-family: consolas, monospace;
  font-size: 16px;
  background: #eee;
  border: 1px solid #ccc;
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
  height: 300px;
  overflow: scroll;
  border-radius: 5px;
  padding: 10px;
}
[ng-clipboard] {
  position: relative;
}
[ng-clipboard] .hover-tip {
  display: none;
}
.copied[ng-clipboard] .hover-tip {
  display: block;
}
.editor-preview-modal .cover-modal-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 80%;
  width: 800px;
  max-width: 90%;
}
.editor-preview-modal .cover-modal-inner .card,
.editor-preview-modal .cover-modal-inner .card-body {
  width: 100%;
  height: 100%;
}
.editor-preview-modal .cover-modal-inner #editor-preview {
  padding: 0;
  overflow: scroll;
}
#editor > .inner > .placeholder {
  width: 100%;
  height: 300px;
  padding: 10px;
  display: table;
}
#editor > .inner > .placeholder > div {
  width: 100%;
  height: 300px;
  border: 4px dashed #49f;
  border-radius: 3px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 3em;
  color: #ddd;
}
#editor > .inner > .placeholder > div:after {
  content: "Drop Here";
  display: block;
}
#editor-node-handle {
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 4;
  background: #fff;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #777;
  display: none;
}
#editor-node-handle:before {
  content: " ";
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  -ms-transform: translate(-60%, -50%) rotate(45deg);
  -moz-transform: translate(-60%, -50%) rotate(45deg);
  -webkit-transform: translate(-60%, -50%) rotate(45deg);
  -o-transform: translate(-60%, -50%) rotate(45deg);
  transform: translate(-60%, -50%) rotate(45deg);
  top: 50%;
  background: #fff;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
#editor-node-handle i.fa {
  display: block;
  padding: 7px 5px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}
#editor-node-handle i.fa.fa-arrows {
  font-size: 15px;
}
#editor-node-handle i.fa.fa-trash-o {
  font-size: 18px;
  border: none;
}
#collaborator-cursors {
  position: relative;
  margin: auto;
}
#collaborator-cursors .cursor {
  position: absolute;
  width: 2px;
  background: rgba(255,255,255,0.3);
  height: 24px;
  border: 1px solid #0f0;
  border-radius: 3px;
  z-index: 3;
}
#collaborator-cursors .cursor.color1 {
  background: rgba(255,255,255,0.3);
  border-color: #f00;
}
#collaborator-cursors .cursor.color2 {
  background: rgba(255,255,255,0.3);
  border-color: #0f0;
}
#collaborator-cursors .cursor.color3 {
  background: rgba(255,255,255,0.3);
  border-color: #00f;
}
#collaborator-cursors .cursor.color4 {
  background: rgba(255,255,255,0.3);
  border-color: #f0f;
}
#collaborator-cursors .cursor.color5 {
  background: rgba(255,255,255,0.3);
  border-color: #ff0;
}
#collaborator-cursors .cursor.color6 {
  background: rgba(255,255,255,0.3);
  border-color: #0ff;
}
.block-item > .handle {
  position: absolute;
  cursor: pointer;
  display: none;
  top: 0;
  left: auto;
  right: 100%;
  margin: 5px -2px 0 0;
  padding: 2px 5px;
  background: #fff;
  border: 1px solid #ccc;
  border-right: 0;
  border-radius: 5px 0 0 5px;
  box-shadow: -2px 0px 1px rgba(0,0,0,0.05);
  color: #777;
  font-size: 14px;
  text-align: center;
}
.block-item:hover > .handle {
  display: block;
}
.block-item.sortable-ghost > .handle {
  display: none;
}
.block-item *[image] {
  position: relative;
}
[image=image] {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.block-item {
  position: relative;
  border-top: 0.1px solid transparent;
  border-bottom: 0.1px solid transparent;
}
.block-item > .inner {
  margin: 20px;
}
#makeweb {
  position: fixed;
  bottom: 10px;
  right: 20px;
  font-size: 12px;
  color: #999;
}
#makeweb img {
  height: 11px;
  vertical-align: 0;
}
