#nav-top {
  display: none;
}
body {
  background: #f1f3f3;
}
#editor-root {
  width: 100%;
  min-height: 100%;
  height: 100%;
  padding: 0;
  background: #f1f3f3;
}
[contenteditable=true] {
  outline: none;
}
#editor {
  width: 100%;
  height: 100%;
  padding: 0;
  width: 100%;
}
#editor > .head {
  width: 800px;
  margin: auto;
  padding: 15px 0;
  color: #777;
  height: 61px;
  -ms-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
#editor > .head .btn {
  font-weight: 200;
}
#editor > .head .dropdown-item {
  color: #666;
  font-weight: 200;
}
#editor > .head .dropdown-menu {
  box-shadow: 0 3px 1px rgba(0,0,0,0.09);
  border-radius: 1px;
  border: none;
}
#editor > .inner {
  z-index: 4;
  position: relative;
  font-family: 'Raleway', sans-serif;
  width: 800px;
  min-height: 100%;
  border: 0px solid #ccc;
  border-top: 0.1px solid rgba(0,0,0,0);
  margin: auto auto 40px;
  background: #fff;
  box-shadow: 0 24px 18px rgba(0,0,0,0.2);
  -ms-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
#editor > .inner > .sortable-ghost {
  background-image: none !important;
  border: 2px dashed #ccc;
  margin: 10px;
  padding: 10px;
}
#blocks-picker {
  overflow-y: scroll;
  position: fixed;
  padding: 81px 10px 50px;
  width: 190px;
  height: 100%;
  left: auto;
  top: 0;
  z-index: 3;
  -ms-transition: right 0.3s ease-in-out;
  -moz-transition: right 0.3s ease-in-out;
  -webkit-transition: right 0.3s ease-in-out;
  -o-transition: right 0.3s ease-in-out;
  transition: right 0.3s ease-in-out;
}
#blocks-picker .block-thumb {
  text-align: center;
  margin-bottom: 10px;
  width: 160px;
}
#blocks-picker .block-thumb .name {
  line-height: 14px;
  font-size: 13px;
  color: #aaa;
}
#blocks-picker .block-thumb .thumb {
  width: 160px;
  height: 0;
  padding-bottom: 40%;
  background: #fff;
  margin-bottom: 5px;
  background: #fff center center no-repeat;
  background-size: contain;
  box-shadow: 0 3px 2px rgba(0,0,0,0.1);
}
#blocks-preview {
  display: none;
  position: absolute;
  top: 100px;
  left: 200px;
  width: 320px;
  height: auto;
  background: #fff;
  z-index: 5;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  border: 0px solid #fff;
}
#blocks-preview .name {
  display: none;
  position: absolute;
  top: -26px;
  left: 50%;
  -ms-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  background: rgba(255,255,255,0.8);
  padding: 0 10px;
  font-size: 14px;
  border-radius: 2px;
  text-transform: capitalize;
}
#blocks-preview .inner {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 0;
  border-radius: 3px;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
}
#blocks-preview .pin:after {
  content: " ";
  display: block;
  width: 10px;
  height: 10px;
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #fff;
  border-left: 0px solid #eee;
  border-bottom: 0px solid #eee;
  background: #fff;
  position: absolute;
  left: -5px;
  top: 20px;
  z-index: 0;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
#collab-info {
  position: fixed;
  padding: 81px 10px 10px 20px;
  width: 110px;
  height: 100%;
  top: 0;
  right: auto;
  -ms-transition: left 0.3s ease-in-out;
  -moz-transition: left 0.3s ease-in-out;
  -webkit-transition: left 0.3s ease-in-out;
  -o-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
  color: #444;
}
#collab-info .avatar {
  vertical-align: -5px;
}
#collab-info .list {
  font-size: 0.8em;
  color: #777;
}
#collab-info .list .item {
  margin-bottom: 5px;
}
#collab-info .list .item a {
  color: #444;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px;
  display: inline-block;
  border-left: 4px solid #777;
  padding-left: 5px;
  margin-left: 3px;
}
#collab-info .list .item i {
  margin-right: 5px;
}
.editor-export-modal pre {
  white-space: normal;
  font-family: consolas, monospace;
  font-size: 16px;
  background: #eee;
  border: 1px solid #ccc;
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
  height: 300px;
  overflow: scroll;
  border-radius: 5px;
  padding: 10px;
}
.editor-preview-modal .cover-modal-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 80%;
  width: 800px;
  max-width: 90%;
}
.editor-preview-modal .cover-modal-inner .card,
.editor-preview-modal .cover-modal-inner .card-body {
  width: 100%;
  height: 100%;
}
.editor-preview-modal .cover-modal-inner #editor-preview {
  padding: 0;
  overflow: scroll;
}
.editor-preview-modal .cover-modal-inner #editor-preview iframe {
  border: none;
  width: 100%;
  height: 100%;
}
.editor-iconpicker-modal .cover-modal-inner {
  overflow-y: scroll;
  height: 500px;
}
.editor-iconpicker-modal .list {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 2em;
}
.editor-iconpicker-modal .list i {
  display: inline-block;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  text-align: center;
  margin: 5px;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  cursor: pointer;
}
#editor > .inner > .placeholder {
  width: 100%;
  height: 300px;
  padding: 10px;
  display: table;
}
#editor > .inner > .placeholder > div {
  width: 100%;
  height: 300px;
  border: 4px dashed #49f;
  border-radius: 3px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 3em;
  color: #ddd;
}
#editor > .inner > .placeholder > div:after {
  content: "Drop Here";
  display: block;
}
*[image]:hover {
  box-shadow: 0 0 3px 3px rgba(0,0,0,0.1);
}
#editor-insert-handle {
  position: fixed;
  bottom: 5px;
  left: 50%;
  width: 130px;
  -ms-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  background: #fff;
  padding: 2px 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  border: 1px solid #ccc;
  z-index: 8;
}
#editor-text-handle {
  position: absolute;
  z-index: 8;
  width: 400px;
  display: none;
}
#editor-text-handle a {
  cursor: pointer;
}
#editor-node-handle {
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 8;
  background: #fff;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #777;
  display: none;
}
#editor-node-handle:before {
  content: " ";
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  -ms-transform: translate(-60%, -50%) rotate(45deg);
  -moz-transform: translate(-60%, -50%) rotate(45deg);
  -webkit-transform: translate(-60%, -50%) rotate(45deg);
  -o-transform: translate(-60%, -50%) rotate(45deg);
  transform: translate(-60%, -50%) rotate(45deg);
  top: 30%;
  background: #fff;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
#editor-node-handle i.fa {
  display: block;
  padding: 7px 5px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}
#editor-node-handle i.fa.fa-arrows {
  font-size: 15px;
}
#editor-node-handle i.fa.fa-trash-o {
  font-size: 18px;
  border: none;
}
#editor-node-handle i.fa.fa-link {
  display: none;
}
#editor-node-handle.link i.fa {
  display: none;
}
#editor-node-handle.link i.fa.fa-link {
  display: block;
}
#editor-node-handle i.fa.fa-lock,
#editor-node-handle i.fa.fa-unlock-alt,
#editor-node-handle i.fa.fa-camera {
  display: none;
}
#editor-node-handle.no-repeat i.fa.fa-clone,
#editor-node-handle.no-repeat i.fa.fa-trash-o {
  display: none;
}
#editor-node-handle.aspect-ratio i.fa.fa-lock,
#editor-node-handle.aspect-ratio i.fa.fa-unlock-alt {
  display: block;
}
#editor-node-handle.image i.fa.fa-camera {
  display: block;
}
#collaborator-cursors {
  position: relative;
  margin: auto;
}
#collaborator-cursors .cursor {
  position: absolute;
  width: 2px;
  background: rgba(255,255,255,0.3);
  height: 24px;
  color: #f00;
  border: 1px solid #777;
  border-radius: 3px;
  z-index: 6;
}
#collaborator-cursors .cursor.color0,
#collab-info .item a.color0 {
  border-color: #000;
}
#collaborator-cursors .cursor.color1,
#collab-info .item a.color1 {
  border-color: #f44336;
}
#collaborator-cursors .cursor.color2,
#collab-info .item a.color2 {
  border-color: #ff9800;
}
#collaborator-cursors .cursor.color3,
#collab-info .item a.color3 {
  border-color: #ffeb3b;
}
#collaborator-cursors .cursor.color4,
#collab-info .item a.color4 {
  border-color: #8bc34a;
}
#collaborator-cursors .cursor.color5,
#collab-info .item a.color5 {
  border-color: #009688;
}
#collaborator-cursors .cursor.color6,
#collab-info .item a.color6 {
  border-color: #03a9f4;
}
#collaborator-cursors .cursor.color7,
#collab-info .item a.color7 {
  border-color: #3f51b5;
}
#collaborator-cursors .cursor.color8,
#collab-info .item a.color8 {
  border-color: #9c27b0;
}
#collaborator-cursors .cursor.color9,
#collab-info .item a.color9 {
  border-color: #795548;
}
#collaborator-cursors .cursor.color10,
#collab-info .item a.color10 {
  border-color: #000;
}
#editor > .inner div[base-block].initializing {
  margin: 20px;
}
#editor > .inner div[base-block].initializing .thumb {
  height: 50px;
  border-radius: 25px;
  background: url("/assets/img/loader/msg.gif") #eee center center no-repeat;
}
#editor > .inner div[base-block].initializing .name {
  display: none;
}
#editor > .inner div[base-block].sortable-ghost {
  padding: 20px;
  margin: 20px;
}
#editor > .inner div[base-block].sortable-ghost .thumb {
  display: none;
}
.sortable-drag iframe {
  visibility: hidden;
  pointer-events: none;
}
#editor > .inner > .block-item {
  -ms-transition: outline 0.5s ease-in-out;
  -moz-transition: outline 0.5s ease-in-out;
  -webkit-transition: outline 0.5s ease-in-out;
  -o-transition: outline 0.5s ease-in-out;
  transition: outline 0.5s ease-in-out;
  outline: 2px dashed rgba(224,224,224,0);
}
#editor > .inner > .block-item:hover {
  -ms-transition: outline 0.5s ease-in-out;
  -moz-transition: outline 0.5s ease-in-out;
  -webkit-transition: outline 0.5s ease-in-out;
  -o-transition: outline 0.5s ease-in-out;
  transition: outline 0.5s ease-in-out;
  outline: 2px dashed #e0e0e0;
}
#editor > .inner > .block-item [repeat-item]:hover {
  outline: 1px dashed #e0e0e0;
}
.editor-blockconfig-modal .cover-modal-inner {
  margin: 5vh auto;
  height: 90vh;
}
.editor-blockconfig-modal .nav-tabs {
  margin: 0;
}
.editor-blockconfig-modal .card {
  height: 100%;
  overflow: scroll;
}
#collab-info .list .item.ng-enter {
  -ms-transform: translate(-200%, 0) skewX(45deg);
  -moz-transform: translate(-200%, 0) skewX(45deg);
  -webkit-transform: translate(-200%, 0) skewX(45deg);
  -o-transform: translate(-200%, 0) skewX(45deg);
  transform: translate(-200%, 0) skewX(45deg);
  -ms-animation: ldt-rush-left-in 1s linear forwards;
  -moz-animation: ldt-rush-left-in 1s linear forwards;
  -webkit-animation: ldt-rush-left-in 1s linear forwards;
  -o-animation: ldt-rush-left-in 1s linear forwards;
  animation: ldt-rush-left-in 1s linear forwards;
}
#collab-info .list .item.ng-leave {
  -ms-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -ms-animation: ldt-slide-left-out 1s cubic-bezier(0, 0.5, 0.5, 1) forwards;
  -moz-animation: ldt-slide-left-out 1s cubic-bezier(0, 0.5, 0.5, 1) forwards;
  -webkit-animation: ldt-slide-left-out 1s cubic-bezier(0, 0.5, 0.5, 1) forwards;
  -o-animation: ldt-slide-left-out 1s cubic-bezier(0, 0.5, 0.5, 1) forwards;
  animation: ldt-slide-left-out 1s cubic-bezier(0, 0.5, 0.5, 1) forwards;
}
[edit-transition='jump-in'] {
  -ms-transform: scale(0);
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -ms-animation: ldt-jump-in 0.6s forwards;
  -moz-animation: ldt-jump-in 0.6s forwards;
  -webkit-animation: ldt-jump-in 0.6s forwards;
  -o-animation: ldt-jump-in 0.6s forwards;
  animation: ldt-jump-in 0.6s forwards;
}
[edit-transition='jump-out'] {
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -ms-animation: ldt-jump-out 0.6s forwards;
  -moz-animation: ldt-jump-out 0.6s forwards;
  -webkit-animation: ldt-jump-out 0.6s forwards;
  -o-animation: ldt-jump-out 0.6s forwards;
  animation: ldt-jump-out 0.6s forwards;
}
.block-item > .handle {
  position: absolute;
  cursor: pointer;
  display: none;
  animation-duration: 0.1s;
  top: 0;
  left: auto;
  right: 100%;
  z-index: 7;
  margin: 5px -2px 0 0;
  padding: 2px 0;
  background: #fff;
  border: 1px solid #e1e3e4;
  border-radius: 5px;
  box-shadow: 1px 2px 2px rgba(0,0,0,0.05);
  color: #777;
  font-size: 14px;
  text-align: center;
}
.block-item > .handle:after {
  content: " ";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  background: #fff;
  border-right: 1px solid #e1e3e4;
  border-top: 1px solid #e1e3e4;
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  right: -5px;
  top: 10px;
}
.block-item > .handle i.fa {
  padding: 3px 6px;
}
.block-item > .handle i.fa:hover {
  color: #007bff;
}
.block-item > .handle i.fa:first-child {
  padding-top: 8px;
}
.block-item > .handle i.fa:last-child {
  padding-bottom: 8px;
}
.block-item:hover > .handle {
  display: block;
}
.block-item.sortable-ghost iframe {
  display: none;
}
.block-item.sortable-ghost {
  max-height: 300px;
  overflow: hidden;
}
.block-item.sortable-ghost > .handle {
  display: none;
}
.block-item *[image] {
  position: relative;
}
*[image] {
  position: relative;
}
[image=image] {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  max-width: 100%;
}
.root-block {
  font-family: Raleway, PingFangTC-Regular, Heiti TC, Microsoft JhengHei, Helvetica, Arial, sans-serif;
  color: #555;
}
.root-block iframe {
  border: 0;
}
.root-block .btn a {
  color: #fff;
}
.root-block b {
  font-weight: 600;
}
.root-block h1 {
  font-size: 3em;
}
.root-block h2 {
  font-size: 2.25em;
}
.root-block h3 {
  font-size: 1.75em;
}
.root-block h4 {
  font-size: 1.5em;
}
.root-block h5 {
  font-size: 1.25em;
}
.root-block h6 {
  font-size: 1em;
}
.block-item {
  position: relative;
  border-top: 0.1px solid transparent;
  border-bottom: 0.1px solid transparent;
}
.block-item > .inner {
  margin: 20px 40px;
}
.block-item:first-child > .inner {
  margin-top: 40px;
}
.block-item:last-child > .inner {
  margin-bottom: 40px;
}
#makeweb {
  position: fixed;
  bottom: 0;
  right: 20px;
  font-size: 12px;
  color: #ccc;
  padding: 10px;
  background: #222;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 9px 4px 2px rgba(0,0,0,0.2);
}
#makeweb .inner {
  margin-bottom: -10px;
}
#makeweb img {
  height: 11px;
  vertical-align: 0;
}
#makeweb.short {
  padding: 6px 10px;
}
#edit-this-page {
  position: fixed;
  right: 20px;
  bottom: 40px;
  color: #444;
  font-size: 12px;
  background: rgba(255,255,255,0.9);
  padding: 5px;
  border-radius: 5px;
  width: 50px;
  height: 56px;
  text-align: center;
  box-shadow: 0 3px 3px rgba(0,0,0,0.1);
}
#edit-this-page i.fa {
  font-size: 28px;
  margin-left: 8px;
}
i.fa-icon {
  font: normal normal normal 14px/1 FontAwesome;
}
@media (max-width: 768px) {
  .block-item > .inner {
    margin: 20px 10px;
  }
}
