.block-scrolling-timeline {
  height: 100vh;
  max-height: 400px;
}
.block-scrolling-timeline > .inner {
  height: 100%;
}
.block-scrolling-timeline .timeline {
  padding: 20px;
  position: absolute;
  z-index: 1;
  display: flex;
  height: 100%;
  background: rgba(255,255,255,0.9);
  transition: all 0.5s ease-in-out;
  flex-direction: column;
  flex-wrap: nowrap;
}
.block-scrolling-timeline .timeline .item {
  flex: 1 1 auto;
  border-left: 1px solid #999;
  padding: 0 10px 10px;
  position: relative;
  line-height: 10px;
  transition: all 0.5s ease-in-out;
}
.block-scrolling-timeline .timeline .item > *:first-child {
  margin-top: -10px;
}
.block-scrolling-timeline .timeline .item:before {
  content: " ";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #777;
  position: absolute;
  left: -5px;
  top: 0px;
  border: 1px solid transparent;
  transition: all 0.5s ease-in-out;
}
.block-scrolling-timeline .timeline .item.active {
  color: #f00;
}
.block-scrolling-timeline .timeline .item.active:before {
  border-color: #f00;
  background: #fff;
}
.block-scrolling-timeline .timeline .item:last-child {
  border-left: none;
}
.block-scrolling-timeline .timeline.sticky {
  position: fixed;
  top: 0;
  padding-top: 60px;
  opacity: 1;
}
.block-scrolling-timeline .timeline.no-transition {
  transition: none;
}
