.list-group .closebtn {
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
  margin: 0;
  font-size: 25px;
  line-height: 17px;
  height: 20px;
}
.list-group .closebtn.lg {
  font-size: 35px;
}
