#editor .medium-editor-dragover {
  background-color: initial;
}
.medium-editor-action.editor-color-picker div {
  height: 0;
  width: 0;
  border: 7px solid #3498db;
  border-top-color: #e74b62;
  border-left-color: #e74b62;
}
.medium-editor-anchor-preview .medium-editor-toolbar-anchor-preview {
  font-size: 14px;
  text-align: left;
  border-radius: 5px;
}
.medium-editor-anchor-preview .medium-editor-toolbar-anchor-preview a {
  margin: 0;
}
.medium-editor-toolbar .medium-editor-toolbar-form {
  border-radius: 5px;
}
.medium-editor-toolbar .medium-editor-toolbar-form .medium-editor-toolbar-save,
.medium-editor-toolbar .medium-editor-toolbar-form .medium-editor-toolbar-close {
  font-size: 0;
  color: rgba(0,0,0,0);
}
.medium-editor-toolbar .medium-editor-toolbar-form .medium-editor-toolbar-save:after {
  color: #4caf50;
  content: "\f00c";
  display: inline;
  font: normal normal normal 20px/1 FontAwesome;
}
.medium-editor-toolbar .medium-editor-toolbar-form .medium-editor-toolbar-close:after {
  color: #c2c4b3;
  content: "\f00d";
  display: inline;
  font: normal normal normal 20px/1 FontAwesome;
}
.medium-editor-toolbar {
  margin-top: -5px;
}
.medium-editor-toolbar ul li button {
  padding: 4px 8px;
  height: 36px;
  min-width: 32px;
}
.medium-editor-toolbar.medium-toolbar-arrow-under:after {
  top: 36px;
}
.medium-editor-action.medium-editor-button-active .fa.fa-link:before {
  content: "\f127";
}
.medium-editor-action.editor-image-button > div {
  width: 18px;
  height: 18px;
  background: center center no-repeat;
  background-size: cover;
}
.medium-editor-toolbar-anchor-preview:after {
  content: "\f044";
  display: inline-block;
  font: normal normal normal 11px/1 FontAwesome;
  color: #ccc;
  margin-left: 10px;
  vertical-align: middle;
}
.vanilla-color-picker {
  line-height: 0;
  padding: 4px;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.vanilla-color-picker div {
  cursor: pointer;
  outline: none;
}
.vanilla-color-picker .vanilla-color-picker-single-color-picked {
  box-shadow: 0 0 2px 1px rgba(255,255,0,0.5);
}
