//- module
.card.pricing: .pricing-panel.pay-panel.card-body
  +nbr(2)
  .row.block1024
    .col-sm-4.offset-sm-1
      h4.text-center Your Choice
      .pricing-plans
        div(ng-show="subscription.plan == 'advanced' || !subscription.plan"): include plans/advanced.jade
        div(ng-show="subscription.plan == 'pro'"): include /pricing/plans/pro.jade
      .text-center
        small.gray You will be charged now and periodically when your account automatically renews.
    .col-sm-6
      .payments.middle
        .pay-credit-card
          +nbr(3)
          +credit-card-panel("subscription.modal.cc", false, "Subscribe")
+script("https://js.tappaysdk.com/tpdirect/v2_2_1")
