extends /base.jade
block vars
  - var url = "https://makeweb.io/";
  - var navInvert = true;
block head
  +css("/css/site/landing.css")
  +css("/css/site/index.css")
  link(href="https://fonts.googleapis.com/css?family=Asap:400,700|Asap+Condensed",rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Prompt:400,700",rel="stylesheet")
  link(rel="stylesheet",href="https://use.typekit.net/efg4kga.css")
  link(href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed|Encode+Sans:400,700|Lato:700",rel="stylesheet")
block body
  include /pricing/plan-modal.jade
