//- module
.card.pricing: .pricing-panel.pay-panel.card-body
  +nbr(2)
  .row.block1024
    .col-sm-4.offset-sm-1
      h4.text-center Your Choice
      .pricing-plans
        div(ng-show="planChooser.choice == 'monthly-advanced-1' || !planChooser.choice"): include plans/advanced.jade
        div(ng-show="planChooser.choice == 'monthly-pro-1'"): include /pricing/plans/pro.jade
      .text-center
        small.gray You will be charged now and periodically when your account automatically renews.
    .col-sm-6
      .payments.middle
        .pay-credit-card
          +credit-card-panel("payPanels.cc", false, "Subscribe")
+script("https://js.tappaysdk.com/tpdirect/v2_2_1")
