.btn
  cursor: pointer

.dropdown-toggle::after
  width: 6px
  height: 6px
  transform: translate(1px,1px) rotate(45deg)
  border: none
  border-right: 1px solid currentColor
  border-bottom: 1px solid currentColor
