@import '../vars.styl'
@import '../basic.styl'

.flip > .irs
  margin-bottom: 15px
.irs
  margin-top: -20px
  .irs-single, .irs-min, .irs-max, .irs-from, .irs-to
    bottom: -17px
    top: auto
  .irs-single:after, .irs-from:after, .irs-to:after
    border-top-color: transparent
    border-bottom-color: #ed5565
    bottom: auto
    top: -6px

.irs-input.input
  .irs
    display: none

.irs-switch
  position: absolute
  top: 0
  z-index: index(order, 'slider-switch')
  right: 13px
  font-size: 1.6em
  vertical-align: middle
  line-height: 20px
  cursor: pointer

