.medium-editor-action.editor-color-picker div
  height: 0
  width: 0
  border: 7px solid #3498db
  border-top-color: #e74b62
  border-left-color: #e74b62
.vanilla-color-picker
  line-height: 0
  padding: 4px
  border-radius: 3px
  box-shadow: 0 2px 4px rgba(0,0,0,.2)
  div
    cursor: pointer
    outline: none
  .vanilla-color-picker-single-color-picked
    box-shadow: 0 0 2px 1px rgba(255,255,0,0.5)
