//- module
@import 'basic'
@import 'vars'

#notifications
  position: fixed
  top: 60px
  left: 50%
  transform: translate(-50%,0)
  z-index: index(order, 'notifications')

+keyframes(fadeout)
  0%
    opacity: 1
  50%
    opacity: 1
  100%
    opacity: 0

+keyframes(notify-slide-in)
  0%, 10%, 18%, 25%
    animation-timing-function: cubic-bezier(.3,0,1,.7)
  5%, 15%, 22%, 28%
    animation-timing-function: cubic-bezier(0,.3,.7,1)
  0%
    transform(translate(0,-100px))
    opacity: 0
  5%
    transform(translate(0,0))
  10%
    transform(translate(0,-40px))
  15%
    transform(translate(0,0))
  18%
    transform(translate(0,-16px))
    opacity: 1
  22%
    transform(translate(0,0))
  25%
    transform(translate(0,-5px))
  28%
    transform(translate(0,0))
    opacity: 1
  70%
    opacity: 1
  100%
    opacity: 0

.notify
  border-radius: 3px
  padding: 5px 20px 5px 47px
  box-shadow: 0 3px 2px rgba(0,0,0,.1)
  margin-bottom: 5px
  animation(notify-slide-in 5s linear 1 forwards)
  color: #fafbfc
  border: 0
  background: #999
  position: relative
  &:before
    content: " "
    width: 32px
    height: 100%
    display: block
    background: #999
    position: absolute
    border-radius: 3px 0 0 3px
    top: 0
    left: 0
  &:after
    font-size: 14px
    margin: 0
    font-family: FontAwesome
    -moz-osx-font-smoothing: grayscale
    -webkit-font-smoothing: antialiased
    font-style: normal
    font-weight: normal
    display: block
    position: absolute
    left: 6px
    top: 7px
    text-align: center
    width: 20px

.notify.notify-danger
  background: #dc6575
  &:before
    background: #bc1525
  &:after
    content: "\f00d"

.notify.notify-warning
  background: #ffc107
  &:before
    background: #ff9150
  &:after
    content: "\f12a"

.notify.notify-success
  background: #5fd179
  &:before
    background: #08a02a
  &:after
    content: "\f00c"

.notify.notify-info
  background: #78d3e2
  &:before
    background: #3baabd
  &:after
    content: "\f129"

.notify.notify-note
  background: #f9fafb
  color: #444
  &:before
    background: #c9cacb
  &:after
    content: "\f0f3"
    color: #fff
