.row
  .col-sm-4
    .timeline(repeat-host)
      .item(repeat-item)
        h4 1998
        p Year of Inspiration
      .item(repeat-item)
        h4 2003
        p Renaissance
      .item(repeat-item)
        h4 2007
        p Collaborative
  .col-sm-7
    h2 Parallex Scrolling
    p Parallax scrolling is a technique in computer graphics where background images move by the camera slower than foreground images, creating an illusion of depth in a 2D scene and adding to the immersion.
    p The technique grew out of the multiplane camera technique used in traditional animation since the 1930s. Parallax scrolling was popularized in 2D computer graphics and video games by the arcade games Moon Patrol and Jungle Hunt, both released in 1982.
    p Some parallax scrolling had earlier been used by the 1981 arcade game Jump Bug.[6]
  .col-sm-1
