//- module
+cover-modal("config.modal", "editor-config-modal")
  .card
    .card-body(style="display:table")
      div(style="display:table-cell;text-align:center;vertical-align:middle;width:100%;height:100%")
        span Block Config Goes Here (TODO)

