//- module
+cover-modal("iconPicker.modal", "editor-iconpicker-modal")
  .card(ng-click="iconPicker.click($event)")
    .closebtn.lg(ng-click="iconPicker.modal.ctrl.toggle()")
    .card-body
      .list

        i.fa.fa-500px(c="f26e")
        i.fa.fa-address-book(c="f2b9")
        i.fa.fa-address-book-o(c="f2ba")
        i.fa.fa-address-card(c="f2bb")
        i.fa.fa-address-card-o(c="f2bc")
        i.fa.fa-adjust(c="f042")
        i.fa.fa-adn(c="f170")
        i.fa.fa-align-center(c="f037")
        i.fa.fa-align-justify(c="f039")
        i.fa.fa-align-left(c="f036")
        i.fa.fa-align-right(c="f038")
        i.fa.fa-amazon(c="f270")
        i.fa.fa-ambulance(c="f0f9")
        i.fa.fa-american-sign-language-interpreting(c="f2a3")
        i.fa.fa-anchor(c="f13d")
        i.fa.fa-android(c="f17b")
        i.fa.fa-angellist(c="f209")
        i.fa.fa-angle-double-down(c="f103")
        i.fa.fa-angle-double-left(c="f100")
        i.fa.fa-angle-double-right(c="f101")
        i.fa.fa-angle-double-up(c="f102")
        i.fa.fa-angle-down(c="f107")
        i.fa.fa-angle-left(c="f104")
        i.fa.fa-angle-right(c="f105")
        i.fa.fa-angle-up(c="f106")
        i.fa.fa-apple(c="f179")
        i.fa.fa-archive(c="f187")
        i.fa.fa-area-chart(c="f1fe")
        i.fa.fa-arrow-circle-down(c="f0ab")
        i.fa.fa-arrow-circle-left(c="f0a8")
        i.fa.fa-arrow-circle-o-down(c="f01a")
        i.fa.fa-arrow-circle-o-left(c="f190")
        i.fa.fa-arrow-circle-o-right(c="f18e")
        i.fa.fa-arrow-circle-o-up(c="f01b")
        i.fa.fa-arrow-circle-right(c="f0a9")
        i.fa.fa-arrow-circle-up(c="f0aa")
        i.fa.fa-arrow-down(c="f063")
        i.fa.fa-arrow-left(c="f060")
        i.fa.fa-arrow-right(c="f061")
        i.fa.fa-arrow-up(c="f062")
        i.fa.fa-arrows(c="f047")
        i.fa.fa-arrows-alt(c="f0b2")
        i.fa.fa-arrows-h(c="f07e")
        i.fa.fa-arrows-v(c="f07d")
        i.fa.fa-asl-interpreting(c="f2a3")
        i.fa.fa-assistive-listening-systems(c="f2a2")
        i.fa.fa-asterisk(c="f069")
        i.fa.fa-at(c="f1fa")
        i.fa.fa-audio-description(c="f29e")
        i.fa.fa-automobile(c="f1b9")
        i.fa.fa-backward(c="f04a")
        i.fa.fa-balance-scale(c="f24e")
        i.fa.fa-ban(c="f05e")
        i.fa.fa-bandcamp(c="f2d5")
        i.fa.fa-bank(c="f19c")
        i.fa.fa-bar-chart(c="f080")
        i.fa.fa-bar-chart-o(c="f080")
        i.fa.fa-barcode(c="f02a")
        i.fa.fa-bars(c="f0c9")
        i.fa.fa-bath(c="f2cd")
        i.fa.fa-bathtub(c="f2cd")
        i.fa.fa-battery(c="f240")
        i.fa.fa-battery-0(c="f244")
        i.fa.fa-battery-1(c="f243")
        i.fa.fa-battery-2(c="f242")
        i.fa.fa-battery-3(c="f241")
        i.fa.fa-battery-4(c="f240")
        i.fa.fa-battery-empty(c="f244")
        i.fa.fa-battery-full(c="f240")
        i.fa.fa-battery-half(c="f242")
        i.fa.fa-battery-quarter(c="f243")
        i.fa.fa-battery-three-quarters(c="f241")
        i.fa.fa-bed(c="f236")
        i.fa.fa-beer(c="f0fc")
        i.fa.fa-behance(c="f1b4")
        i.fa.fa-behance-square(c="f1b5")
        i.fa.fa-bell(c="f0f3")
        i.fa.fa-bell-o(c="f0a2")
        i.fa.fa-bell-slash(c="f1f6")
        i.fa.fa-bell-slash-o(c="f1f7")
        i.fa.fa-bicycle(c="f206")
        i.fa.fa-binoculars(c="f1e5")
        i.fa.fa-birthday-cake(c="f1fd")
        i.fa.fa-bitbucket(c="f171")
        i.fa.fa-bitbucket-square(c="f172")
        i.fa.fa-bitcoin(c="f15a")
        i.fa.fa-black-tie(c="f27e")
        i.fa.fa-blind(c="f29d")
        i.fa.fa-bluetooth(c="f293")
        i.fa.fa-bluetooth-b(c="f294")
        i.fa.fa-bold(c="f032")
        i.fa.fa-bolt(c="f0e7")
        i.fa.fa-bomb(c="f1e2")
        i.fa.fa-book(c="f02d")
        i.fa.fa-bookmark(c="f02e")
        i.fa.fa-bookmark-o(c="f097")
        i.fa.fa-braille(c="f2a1")
        i.fa.fa-briefcase(c="f0b1")
        i.fa.fa-btc(c="f15a")
        i.fa.fa-bug(c="f188")
        i.fa.fa-building(c="f1ad")
        i.fa.fa-building-o(c="f0f7")
        i.fa.fa-bullhorn(c="f0a1")
        i.fa.fa-bullseye(c="f140")
        i.fa.fa-bus(c="f207")
        i.fa.fa-buysellads(c="f20d")
        i.fa.fa-cab(c="f1ba")
        i.fa.fa-calculator(c="f1ec")
        i.fa.fa-calendar(c="f073")
        i.fa.fa-calendar-check-o(c="f274")
        i.fa.fa-calendar-minus-o(c="f272")
        i.fa.fa-calendar-o(c="f133")
        i.fa.fa-calendar-plus-o(c="f271")
        i.fa.fa-calendar-times-o(c="f273")
        i.fa.fa-camera(c="f030")
        i.fa.fa-camera-retro(c="f083")
        i.fa.fa-car(c="f1b9")
        i.fa.fa-caret-down(c="f0d7")
        i.fa.fa-caret-left(c="f0d9")
        i.fa.fa-caret-right(c="f0da")
        i.fa.fa-caret-square-o-down(c="f150")
        i.fa.fa-caret-square-o-left(c="f191")
        i.fa.fa-caret-square-o-right(c="f152")
        i.fa.fa-caret-square-o-up(c="f151")
        i.fa.fa-caret-up(c="f0d8")
        i.fa.fa-cart-arrow-down(c="f218")
        i.fa.fa-cart-plus(c="f217")
        i.fa.fa-cc(c="f20a")
        i.fa.fa-cc-amex(c="f1f3")
        i.fa.fa-cc-diners-club(c="f24c")
        i.fa.fa-cc-discover(c="f1f2")
        i.fa.fa-cc-jcb(c="f24b")
        i.fa.fa-cc-mastercard(c="f1f1")
        i.fa.fa-cc-paypal(c="f1f4")
        i.fa.fa-cc-stripe(c="f1f5")
        i.fa.fa-cc-visa(c="f1f0")
        i.fa.fa-certificate(c="f0a3")
        i.fa.fa-chain(c="f0c1")
        i.fa.fa-chain-broken(c="f127")
        i.fa.fa-check(c="f00c")
        i.fa.fa-check-circle(c="f058")
        i.fa.fa-check-circle-o(c="f05d")
        i.fa.fa-check-square(c="f14a")
        i.fa.fa-check-square-o(c="f046")
        i.fa.fa-chevron-circle-down(c="f13a")
        i.fa.fa-chevron-circle-left(c="f137")
        i.fa.fa-chevron-circle-right(c="f138")
        i.fa.fa-chevron-circle-up(c="f139")
        i.fa.fa-chevron-down(c="f078")
        i.fa.fa-chevron-left(c="f053")
        i.fa.fa-chevron-right(c="f054")
        i.fa.fa-chevron-up(c="f077")
        i.fa.fa-child(c="f1ae")
        i.fa.fa-chrome(c="f268")
        i.fa.fa-circle(c="f111")
        i.fa.fa-circle-o(c="f10c")
        i.fa.fa-circle-o-notch(c="f1ce")
        i.fa.fa-circle-thin(c="f1db")
        i.fa.fa-clipboard(c="f0ea")
        i.fa.fa-clock-o(c="f017")
        i.fa.fa-clone(c="f24d")
        i.fa.fa-close(c="f00d")
        i.fa.fa-cloud(c="f0c2")
        i.fa.fa-cloud-download(c="f0ed")
        i.fa.fa-cloud-upload(c="f0ee")
        i.fa.fa-cny(c="f157")
        i.fa.fa-code(c="f121")
        i.fa.fa-code-fork(c="f126")
        i.fa.fa-codepen(c="f1cb")
        i.fa.fa-codiepie(c="f284")
        i.fa.fa-coffee(c="f0f4")
        i.fa.fa-cog(c="f013")
        i.fa.fa-cogs(c="f085")
        i.fa.fa-columns(c="f0db")
        i.fa.fa-comment(c="f075")
        i.fa.fa-comment-o(c="f0e5")
        i.fa.fa-commenting(c="f27a")
        i.fa.fa-commenting-o(c="f27b")
        i.fa.fa-comments(c="f086")
        i.fa.fa-comments-o(c="f0e6")
        i.fa.fa-compass(c="f14e")
        i.fa.fa-compress(c="f066")
        i.fa.fa-connectdevelop(c="f20e")
        i.fa.fa-contao(c="f26d")
        i.fa.fa-copy(c="f0c5")
        i.fa.fa-copyright(c="f1f9")
        i.fa.fa-creative-commons(c="f25e")
        i.fa.fa-credit-card(c="f09d")
        i.fa.fa-credit-card-alt(c="f283")
        i.fa.fa-crop(c="f125")
        i.fa.fa-crosshairs(c="f05b")
        i.fa.fa-css3(c="f13c")
        i.fa.fa-cube(c="f1b2")
        i.fa.fa-cubes(c="f1b3")
        i.fa.fa-cut(c="f0c4")
        i.fa.fa-cutlery(c="f0f5")
        i.fa.fa-dashboard(c="f0e4")
        i.fa.fa-dashcube(c="f210")
        i.fa.fa-database(c="f1c0")
        i.fa.fa-deaf(c="f2a4")
        i.fa.fa-deafness(c="f2a4")
        i.fa.fa-dedent(c="f03b")
        i.fa.fa-delicious(c="f1a5")
        i.fa.fa-desktop(c="f108")
        i.fa.fa-deviantart(c="f1bd")
        i.fa.fa-diamond(c="f219")
        i.fa.fa-digg(c="f1a6")
        i.fa.fa-dollar(c="f155")
        i.fa.fa-dot-circle-o(c="f192")
        i.fa.fa-download(c="f019")
        i.fa.fa-dribbble(c="f17d")
        i.fa.fa-drivers-license(c="f2c2")
        i.fa.fa-drivers-license-o(c="f2c3")
        i.fa.fa-dropbox(c="f16b")
        i.fa.fa-drupal(c="f1a9")
        i.fa.fa-edge(c="f282")
        i.fa.fa-edit(c="f044")
        i.fa.fa-eercast(c="f2da")
        i.fa.fa-eject(c="f052")
        i.fa.fa-ellipsis-h(c="f141")
        i.fa.fa-ellipsis-v(c="f142")
        i.fa.fa-empire(c="f1d1")
        i.fa.fa-envelope(c="f0e0")
        i.fa.fa-envelope-o(c="f003")
        i.fa.fa-envelope-open(c="f2b6")
        i.fa.fa-envelope-open-o(c="f2b7")
        i.fa.fa-envelope-square(c="f199")
        i.fa.fa-envira(c="f299")
        i.fa.fa-eraser(c="f12d")
        i.fa.fa-etsy(c="f2d7")
        i.fa.fa-eur(c="f153")
        i.fa.fa-euro(c="f153")
        i.fa.fa-exchange(c="f0ec")
        i.fa.fa-exclamation(c="f12a")
        i.fa.fa-exclamation-circle(c="f06a")
        i.fa.fa-exclamation-triangle(c="f071")
        i.fa.fa-expand(c="f065")
        i.fa.fa-expeditedssl(c="f23e")
        i.fa.fa-external-link(c="f08e")
        i.fa.fa-external-link-square(c="f14c")
        i.fa.fa-eye(c="f06e")
        i.fa.fa-eye-slash(c="f070")
        i.fa.fa-eyedropper(c="f1fb")
        i.fa.fa-fa(c="f2b4")
        i.fa.fa-facebook(c="f09a")
        i.fa.fa-facebook-f(c="f09a")
        i.fa.fa-facebook-official(c="f230")
        i.fa.fa-facebook-square(c="f082")
        i.fa.fa-fast-backward(c="f049")
        i.fa.fa-fast-forward(c="f050")
        i.fa.fa-fax(c="f1ac")
        i.fa.fa-feed(c="f09e")
        i.fa.fa-female(c="f182")
        i.fa.fa-fighter-jet(c="f0fb")
        i.fa.fa-file(c="f15b")
        i.fa.fa-file-archive-o(c="f1c6")
        i.fa.fa-file-audio-o(c="f1c7")
        i.fa.fa-file-code-o(c="f1c9")
        i.fa.fa-file-excel-o(c="f1c3")
        i.fa.fa-file-image-o(c="f1c5")
        i.fa.fa-file-movie-o(c="f1c8")
        i.fa.fa-file-o(c="f016")
        i.fa.fa-file-pdf-o(c="f1c1")
        i.fa.fa-file-photo-o(c="f1c5")
        i.fa.fa-file-picture-o(c="f1c5")
        i.fa.fa-file-powerpoint-o(c="f1c4")
        i.fa.fa-file-sound-o(c="f1c7")
        i.fa.fa-file-text(c="f15c")
        i.fa.fa-file-text-o(c="f0f6")
        i.fa.fa-file-video-o(c="f1c8")
        i.fa.fa-file-word-o(c="f1c2")
        i.fa.fa-file-zip-o(c="f1c6")
        i.fa.fa-files-o(c="f0c5")
        i.fa.fa-film(c="f008")
        i.fa.fa-filter(c="f0b0")
        i.fa.fa-fire(c="f06d")
        i.fa.fa-fire-extinguisher(c="f134")
        i.fa.fa-firefox(c="f269")
        i.fa.fa-first-order(c="f2b0")
        i.fa.fa-flag(c="f024")
        i.fa.fa-flag-checkered(c="f11e")
        i.fa.fa-flag-o(c="f11d")
        i.fa.fa-flash(c="f0e7")
        i.fa.fa-flask(c="f0c3")
        i.fa.fa-flickr(c="f16e")
        i.fa.fa-floppy-o(c="f0c7")
        i.fa.fa-folder(c="f07b")
        i.fa.fa-folder-o(c="f114")
        i.fa.fa-folder-open(c="f07c")
        i.fa.fa-folder-open-o(c="f115")
        i.fa.fa-font(c="f031")
        i.fa.fa-font-awesome(c="f2b4")
        i.fa.fa-fonticons(c="f280")
        i.fa.fa-fort-awesome(c="f286")
        i.fa.fa-forumbee(c="f211")
        i.fa.fa-forward(c="f04e")
        i.fa.fa-foursquare(c="f180")
        i.fa.fa-free-code-camp(c="f2c5")
        i.fa.fa-frown-o(c="f119")
        i.fa.fa-futbol-o(c="f1e3")
        i.fa.fa-gamepad(c="f11b")
        i.fa.fa-gavel(c="f0e3")
        i.fa.fa-gbp(c="f154")
        i.fa.fa-ge(c="f1d1")
        i.fa.fa-gear(c="f013")
        i.fa.fa-gears(c="f085")
        i.fa.fa-genderless(c="f22d")
        i.fa.fa-get-pocket(c="f265")
        i.fa.fa-gg(c="f260")
        i.fa.fa-gg-circle(c="f261")
        i.fa.fa-gift(c="f06b")
        i.fa.fa-git(c="f1d3")
        i.fa.fa-git-square(c="f1d2")
        i.fa.fa-github(c="f09b")
        i.fa.fa-github-alt(c="f113")
        i.fa.fa-github-square(c="f092")
        i.fa.fa-gitlab(c="f296")
        i.fa.fa-gittip(c="f184")
        i.fa.fa-glass(c="f000")
        i.fa.fa-glide(c="f2a5")
        i.fa.fa-glide-g(c="f2a6")
        i.fa.fa-globe(c="f0ac")
        i.fa.fa-google(c="f1a0")
        i.fa.fa-google-plus(c="f0d5")
        i.fa.fa-google-plus-circle(c="f2b3")
        i.fa.fa-google-plus-official(c="f2b3")
        i.fa.fa-google-plus-square(c="f0d4")
        i.fa.fa-google-wallet(c="f1ee")
        i.fa.fa-graduation-cap(c="f19d")
        i.fa.fa-gratipay(c="f184")
        i.fa.fa-grav(c="f2d6")
        i.fa.fa-group(c="f0c0")
        i.fa.fa-h-square(c="f0fd")
        i.fa.fa-hacker-news(c="f1d4")
        i.fa.fa-hand-grab-o(c="f255")
        i.fa.fa-hand-lizard-o(c="f258")
        i.fa.fa-hand-o-down(c="f0a7")
        i.fa.fa-hand-o-left(c="f0a5")
        i.fa.fa-hand-o-right(c="f0a4")
        i.fa.fa-hand-o-up(c="f0a6")
        i.fa.fa-hand-paper-o(c="f256")
        i.fa.fa-hand-peace-o(c="f25b")
        i.fa.fa-hand-pointer-o(c="f25a")
        i.fa.fa-hand-rock-o(c="f255")
        i.fa.fa-hand-scissors-o(c="f257")
        i.fa.fa-hand-spock-o(c="f259")
        i.fa.fa-hand-stop-o(c="f256")
        i.fa.fa-handshake-o(c="f2b5")
        i.fa.fa-hard-of-hearing(c="f2a4")
        i.fa.fa-hashtag(c="f292")
        i.fa.fa-hdd-o(c="f0a0")
        i.fa.fa-header(c="f1dc")
        i.fa.fa-headphones(c="f025")
        i.fa.fa-heart(c="f004")
        i.fa.fa-heart-o(c="f08a")
        i.fa.fa-heartbeat(c="f21e")
        i.fa.fa-history(c="f1da")
        i.fa.fa-home(c="f015")
        i.fa.fa-hospital-o(c="f0f8")
        i.fa.fa-hotel(c="f236")
        i.fa.fa-hourglass(c="f254")
        i.fa.fa-hourglass-1(c="f251")
        i.fa.fa-hourglass-2(c="f252")
        i.fa.fa-hourglass-3(c="f253")
        i.fa.fa-hourglass-end(c="f253")
        i.fa.fa-hourglass-half(c="f252")
        i.fa.fa-hourglass-o(c="f250")
        i.fa.fa-hourglass-start(c="f251")
        i.fa.fa-houzz(c="f27c")
        i.fa.fa-html5(c="f13b")
        i.fa.fa-i-cursor(c="f246")
        i.fa.fa-id-badge(c="f2c1")
        i.fa.fa-id-card(c="f2c2")
        i.fa.fa-id-card-o(c="f2c3")
        i.fa.fa-ils(c="f20b")
        i.fa.fa-image(c="f03e")
        i.fa.fa-imdb(c="f2d8")
        i.fa.fa-inbox(c="f01c")
        i.fa.fa-indent(c="f03c")
        i.fa.fa-industry(c="f275")
        i.fa.fa-info(c="f129")
        i.fa.fa-info-circle(c="f05a")
        i.fa.fa-inr(c="f156")
        i.fa.fa-instagram(c="f16d")
        i.fa.fa-institution(c="f19c")
        i.fa.fa-internet-explorer(c="f26b")
        i.fa.fa-intersex(c="f224")
        i.fa.fa-ioxhost(c="f208")
        i.fa.fa-italic(c="f033")
        i.fa.fa-joomla(c="f1aa")
        i.fa.fa-jpy(c="f157")
        i.fa.fa-jsfiddle(c="f1cc")
        i.fa.fa-key(c="f084")
        i.fa.fa-keyboard-o(c="f11c")
        i.fa.fa-krw(c="f159")
        i.fa.fa-language(c="f1ab")
        i.fa.fa-laptop(c="f109")
        i.fa.fa-lastfm(c="f202")
        i.fa.fa-lastfm-square(c="f203")
        i.fa.fa-leaf(c="f06c")
        i.fa.fa-leanpub(c="f212")
        i.fa.fa-legal(c="f0e3")
        i.fa.fa-lemon-o(c="f094")
        i.fa.fa-level-down(c="f149")
        i.fa.fa-level-up(c="f148")
        i.fa.fa-life-bouy(c="f1cd")
        i.fa.fa-life-buoy(c="f1cd")
        i.fa.fa-life-ring(c="f1cd")
        i.fa.fa-life-saver(c="f1cd")
        i.fa.fa-lightbulb-o(c="f0eb")
        i.fa.fa-line-chart(c="f201")
        i.fa.fa-link(c="f0c1")
        i.fa.fa-linkedin(c="f0e1")
        i.fa.fa-linkedin-square(c="f08c")
        i.fa.fa-linode(c="f2b8")
        i.fa.fa-linux(c="f17c")
        i.fa.fa-list(c="f03a")
        i.fa.fa-list-alt(c="f022")
        i.fa.fa-list-ol(c="f0cb")
        i.fa.fa-list-ul(c="f0ca")
        i.fa.fa-location-arrow(c="f124")
        i.fa.fa-lock(c="f023")
        i.fa.fa-long-arrow-down(c="f175")
        i.fa.fa-long-arrow-left(c="f177")
        i.fa.fa-long-arrow-right(c="f178")
        i.fa.fa-long-arrow-up(c="f176")
        i.fa.fa-low-vision(c="f2a8")
        i.fa.fa-magic(c="f0d0")
        i.fa.fa-magnet(c="f076")
        i.fa.fa-mail-forward(c="f064")
        i.fa.fa-mail-reply(c="f112")
        i.fa.fa-mail-reply-all(c="f122")
        i.fa.fa-male(c="f183")
        i.fa.fa-map(c="f279")
        i.fa.fa-map-marker(c="f041")
        i.fa.fa-map-o(c="f278")
        i.fa.fa-map-pin(c="f276")
        i.fa.fa-map-signs(c="f277")
        i.fa.fa-mars(c="f222")
        i.fa.fa-mars-double(c="f227")
        i.fa.fa-mars-stroke(c="f229")
        i.fa.fa-mars-stroke-h(c="f22b")
        i.fa.fa-mars-stroke-v(c="f22a")
        i.fa.fa-maxcdn(c="f136")
        i.fa.fa-meanpath(c="f20c")
        i.fa.fa-medium(c="f23a")
        i.fa.fa-medkit(c="f0fa")
        i.fa.fa-meetup(c="f2e0")
        i.fa.fa-meh-o(c="f11a")
        i.fa.fa-mercury(c="f223")
        i.fa.fa-microchip(c="f2db")
        i.fa.fa-microphone(c="f130")
        i.fa.fa-microphone-slash(c="f131")
        i.fa.fa-minus(c="f068")
        i.fa.fa-minus-circle(c="f056")
        i.fa.fa-minus-square(c="f146")
        i.fa.fa-minus-square-o(c="f147")
        i.fa.fa-mixcloud(c="f289")
        i.fa.fa-mobile(c="f10b")
        i.fa.fa-mobile-phone(c="f10b")
        i.fa.fa-modx(c="f285")
        i.fa.fa-money(c="f0d6")
        i.fa.fa-moon-o(c="f186")
        i.fa.fa-mortar-board(c="f19d")
        i.fa.fa-motorcycle(c="f21c")
        i.fa.fa-mouse-pointer(c="f245")
        i.fa.fa-music(c="f001")
        i.fa.fa-navicon(c="f0c9")
        i.fa.fa-neuter(c="f22c")
        i.fa.fa-newspaper-o(c="f1ea")
        i.fa.fa-object-group(c="f247")
        i.fa.fa-object-ungroup(c="f248")
        i.fa.fa-odnoklassniki(c="f263")
        i.fa.fa-odnoklassniki-square(c="f264")
        i.fa.fa-opencart(c="f23d")
        i.fa.fa-openid(c="f19b")
        i.fa.fa-opera(c="f26a")
        i.fa.fa-optin-monster(c="f23c")
        i.fa.fa-outdent(c="f03b")
        i.fa.fa-pagelines(c="f18c")
        i.fa.fa-paint-brush(c="f1fc")
        i.fa.fa-paper-plane(c="f1d8")
        i.fa.fa-paper-plane-o(c="f1d9")
        i.fa.fa-paperclip(c="f0c6")
        i.fa.fa-paragraph(c="f1dd")
        i.fa.fa-paste(c="f0ea")
        i.fa.fa-pause(c="f04c")
        i.fa.fa-pause-circle(c="f28b")
        i.fa.fa-pause-circle-o(c="f28c")
        i.fa.fa-paw(c="f1b0")
        i.fa.fa-paypal(c="f1ed")
        i.fa.fa-pencil(c="f040")
        i.fa.fa-pencil-square(c="f14b")
        i.fa.fa-pencil-square-o(c="f044")
        i.fa.fa-percent(c="f295")
        i.fa.fa-phone(c="f095")
        i.fa.fa-phone-square(c="f098")
        i.fa.fa-photo(c="f03e")
        i.fa.fa-picture-o(c="f03e")
        i.fa.fa-pie-chart(c="f200")
        i.fa.fa-pied-piper(c="f2ae")
        i.fa.fa-pied-piper-alt(c="f1a8")
        i.fa.fa-pied-piper-pp(c="f1a7")
        i.fa.fa-pinterest(c="f0d2")
        i.fa.fa-pinterest-p(c="f231")
        i.fa.fa-pinterest-square(c="f0d3")
        i.fa.fa-plane(c="f072")
        i.fa.fa-play(c="f04b")
        i.fa.fa-play-circle(c="f144")
        i.fa.fa-play-circle-o(c="f01d")
        i.fa.fa-plug(c="f1e6")
        i.fa.fa-plus(c="f067")
        i.fa.fa-plus-circle(c="f055")
        i.fa.fa-plus-square(c="f0fe")
        i.fa.fa-plus-square-o(c="f196")
        i.fa.fa-podcast(c="f2ce")
        i.fa.fa-power-off(c="f011")
        i.fa.fa-print(c="f02f")
        i.fa.fa-product-hunt(c="f288")
        i.fa.fa-puzzle-piece(c="f12e")
        i.fa.fa-qq(c="f1d6")
        i.fa.fa-qrcode(c="f029")
        i.fa.fa-question(c="f128")
        i.fa.fa-question-circle(c="f059")
        i.fa.fa-question-circle-o(c="f29c")
        i.fa.fa-quora(c="f2c4")
        i.fa.fa-quote-left(c="f10d")
        i.fa.fa-quote-right(c="f10e")
        i.fa.fa-ra(c="f1d0")
        i.fa.fa-random(c="f074")
        i.fa.fa-ravelry(c="f2d9")
        i.fa.fa-rebel(c="f1d0")
        i.fa.fa-recycle(c="f1b8")
        i.fa.fa-reddit(c="f1a1")
        i.fa.fa-reddit-alien(c="f281")
        i.fa.fa-reddit-square(c="f1a2")
        i.fa.fa-refresh(c="f021")
        i.fa.fa-registered(c="f25d")
        i.fa.fa-remove(c="f00d")
        i.fa.fa-renren(c="f18b")
        i.fa.fa-reorder(c="f0c9")
        i.fa.fa-repeat(c="f01e")
        i.fa.fa-reply(c="f112")
        i.fa.fa-reply-all(c="f122")
        i.fa.fa-resistance(c="f1d0")
        i.fa.fa-retweet(c="f079")
        i.fa.fa-rmb(c="f157")
        i.fa.fa-road(c="f018")
        i.fa.fa-rocket(c="f135")
        i.fa.fa-rotate-left(c="f0e2")
        i.fa.fa-rotate-right(c="f01e")
        i.fa.fa-rouble(c="f158")
        i.fa.fa-rss(c="f09e")
        i.fa.fa-rss-square(c="f143")
        i.fa.fa-rub(c="f158")
        i.fa.fa-ruble(c="f158")
        i.fa.fa-rupee(c="f156")
        i.fa.fa-s15(c="f2cd")
        i.fa.fa-safari(c="f267")
        i.fa.fa-save(c="f0c7")
        i.fa.fa-scissors(c="f0c4")
        i.fa.fa-scribd(c="f28a")
        i.fa.fa-search(c="f002")
        i.fa.fa-search-minus(c="f010")
        i.fa.fa-search-plus(c="f00e")
        i.fa.fa-sellsy(c="f213")
        i.fa.fa-send(c="f1d8")
        i.fa.fa-send-o(c="f1d9")
        i.fa.fa-server(c="f233")
        i.fa.fa-share(c="f064")
        i.fa.fa-share-alt(c="f1e0")
        i.fa.fa-share-alt-square(c="f1e1")
        i.fa.fa-share-square(c="f14d")
        i.fa.fa-share-square-o(c="f045")
        i.fa.fa-shekel(c="f20b")
        i.fa.fa-sheqel(c="f20b")
        i.fa.fa-shield(c="f132")
        i.fa.fa-ship(c="f21a")
        i.fa.fa-shirtsinbulk(c="f214")
        i.fa.fa-shopping-bag(c="f290")
        i.fa.fa-shopping-basket(c="f291")
        i.fa.fa-shopping-cart(c="f07a")
        i.fa.fa-shower(c="f2cc")
        i.fa.fa-sign-in(c="f090")
        i.fa.fa-sign-language(c="f2a7")
        i.fa.fa-sign-out(c="f08b")
        i.fa.fa-signal(c="f012")
        i.fa.fa-signing(c="f2a7")
        i.fa.fa-simplybuilt(c="f215")
        i.fa.fa-sitemap(c="f0e8")
        i.fa.fa-skyatlas(c="f216")
        i.fa.fa-skype(c="f17e")
        i.fa.fa-slack(c="f198")
        i.fa.fa-sliders(c="f1de")
        i.fa.fa-slideshare(c="f1e7")
        i.fa.fa-smile-o(c="f118")
        i.fa.fa-snapchat(c="f2ab")
        i.fa.fa-snapchat-ghost(c="f2ac")
        i.fa.fa-snapchat-square(c="f2ad")
        i.fa.fa-snowflake-o(c="f2dc")
        i.fa.fa-soccer-ball-o(c="f1e3")
        i.fa.fa-sort(c="f0dc")
        i.fa.fa-sort-alpha-asc(c="f15d")
        i.fa.fa-sort-alpha-desc(c="f15e")
        i.fa.fa-sort-amount-asc(c="f160")
        i.fa.fa-sort-amount-desc(c="f161")
        i.fa.fa-sort-asc(c="f0de")
        i.fa.fa-sort-desc(c="f0dd")
        i.fa.fa-sort-down(c="f0dd")
        i.fa.fa-sort-numeric-asc(c="f162")
        i.fa.fa-sort-numeric-desc(c="f163")
        i.fa.fa-sort-up(c="f0de")
        i.fa.fa-soundcloud(c="f1be")
        i.fa.fa-space-shuttle(c="f197")
        i.fa.fa-spinner(c="f110")
        i.fa.fa-spoon(c="f1b1")
        i.fa.fa-spotify(c="f1bc")
        i.fa.fa-square(c="f0c8")
        i.fa.fa-square-o(c="f096")
        i.fa.fa-stack-exchange(c="f18d")
        i.fa.fa-stack-overflow(c="f16c")
        i.fa.fa-star(c="f005")
        i.fa.fa-star-half(c="f089")
        i.fa.fa-star-half-empty(c="f123")
        i.fa.fa-star-half-full(c="f123")
        i.fa.fa-star-half-o(c="f123")
        i.fa.fa-star-o(c="f006")
        i.fa.fa-steam(c="f1b6")
        i.fa.fa-steam-square(c="f1b7")
        i.fa.fa-step-backward(c="f048")
        i.fa.fa-step-forward(c="f051")
        i.fa.fa-stethoscope(c="f0f1")
        i.fa.fa-sticky-note(c="f249")
        i.fa.fa-sticky-note-o(c="f24a")
        i.fa.fa-stop(c="f04d")
        i.fa.fa-stop-circle(c="f28d")
        i.fa.fa-stop-circle-o(c="f28e")
        i.fa.fa-street-view(c="f21d")
        i.fa.fa-strikethrough(c="f0cc")
        i.fa.fa-stumbleupon(c="f1a4")
        i.fa.fa-stumbleupon-circle(c="f1a3")
        i.fa.fa-subscript(c="f12c")
        i.fa.fa-subway(c="f239")
        i.fa.fa-suitcase(c="f0f2")
        i.fa.fa-sun-o(c="f185")
        i.fa.fa-superpowers(c="f2dd")
        i.fa.fa-superscript(c="f12b")
        i.fa.fa-support(c="f1cd")
        i.fa.fa-table(c="f0ce")
        i.fa.fa-tablet(c="f10a")
        i.fa.fa-tachometer(c="f0e4")
        i.fa.fa-tag(c="f02b")
        i.fa.fa-tags(c="f02c")
        i.fa.fa-tasks(c="f0ae")
        i.fa.fa-taxi(c="f1ba")
        i.fa.fa-telegram(c="f2c6")
        i.fa.fa-television(c="f26c")
        i.fa.fa-tencent-weibo(c="f1d5")
        i.fa.fa-terminal(c="f120")
        i.fa.fa-text-height(c="f034")
        i.fa.fa-text-width(c="f035")
        i.fa.fa-th(c="f00a")
        i.fa.fa-th-large(c="f009")
        i.fa.fa-th-list(c="f00b")
        i.fa.fa-themeisle(c="f2b2")
        i.fa.fa-thermometer(c="f2c7")
        i.fa.fa-thermometer-0(c="f2cb")
        i.fa.fa-thermometer-1(c="f2ca")
        i.fa.fa-thermometer-2(c="f2c9")
        i.fa.fa-thermometer-3(c="f2c8")
        i.fa.fa-thermometer-4(c="f2c7")
        i.fa.fa-thermometer-empty(c="f2cb")
        i.fa.fa-thermometer-full(c="f2c7")
        i.fa.fa-thermometer-half(c="f2c9")
        i.fa.fa-thermometer-quarter(c="f2ca")
        i.fa.fa-thermometer-three-quarters(c="f2c8")
        i.fa.fa-thumb-tack(c="f08d")
        i.fa.fa-thumbs-down(c="f165")
        i.fa.fa-thumbs-o-down(c="f088")
        i.fa.fa-thumbs-o-up(c="f087")
        i.fa.fa-thumbs-up(c="f164")
        i.fa.fa-ticket(c="f145")
        i.fa.fa-times(c="f00d")
        i.fa.fa-times-circle(c="f057")
        i.fa.fa-times-circle-o(c="f05c")
        i.fa.fa-times-rectangle(c="f2d3")
        i.fa.fa-times-rectangle-o(c="f2d4")
        i.fa.fa-tint(c="f043")
        i.fa.fa-toggle-down(c="f150")
        i.fa.fa-toggle-left(c="f191")
        i.fa.fa-toggle-off(c="f204")
        i.fa.fa-toggle-on(c="f205")
        i.fa.fa-toggle-right(c="f152")
        i.fa.fa-toggle-up(c="f151")
        i.fa.fa-trademark(c="f25c")
        i.fa.fa-train(c="f238")
        i.fa.fa-transgender(c="f224")
        i.fa.fa-transgender-alt(c="f225")
        i.fa.fa-trash(c="f1f8")
        i.fa.fa-trash-o(c="f014")
        i.fa.fa-tree(c="f1bb")
        i.fa.fa-trello(c="f181")
        i.fa.fa-tripadvisor(c="f262")
        i.fa.fa-trophy(c="f091")
        i.fa.fa-truck(c="f0d1")
        i.fa.fa-try(c="f195")
        i.fa.fa-tty(c="f1e4")
        i.fa.fa-tumblr(c="f173")
        i.fa.fa-tumblr-square(c="f174")
        i.fa.fa-turkish-lira(c="f195")
        i.fa.fa-tv(c="f26c")
        i.fa.fa-twitch(c="f1e8")
        i.fa.fa-twitter(c="f099")
        i.fa.fa-twitter-square(c="f081")
        i.fa.fa-umbrella(c="f0e9")
        i.fa.fa-underline(c="f0cd")
        i.fa.fa-undo(c="f0e2")
        i.fa.fa-universal-access(c="f29a")
        i.fa.fa-university(c="f19c")
        i.fa.fa-unlink(c="f127")
        i.fa.fa-unlock(c="f09c")
        i.fa.fa-unlock-alt(c="f13e")
        i.fa.fa-unsorted(c="f0dc")
        i.fa.fa-upload(c="f093")
        i.fa.fa-usb(c="f287")
        i.fa.fa-usd(c="f155")
        i.fa.fa-user(c="f007")
        i.fa.fa-user-circle(c="f2bd")
        i.fa.fa-user-circle-o(c="f2be")
        i.fa.fa-user-md(c="f0f0")
        i.fa.fa-user-o(c="f2c0")
        i.fa.fa-user-plus(c="f234")
        i.fa.fa-user-secret(c="f21b")
        i.fa.fa-user-times(c="f235")
        i.fa.fa-users(c="f0c0")
        i.fa.fa-vcard(c="f2bb")
        i.fa.fa-vcard-o(c="f2bc")
        i.fa.fa-venus(c="f221")
        i.fa.fa-venus-double(c="f226")
        i.fa.fa-venus-mars(c="f228")
        i.fa.fa-viacoin(c="f237")
        i.fa.fa-viadeo(c="f2a9")
        i.fa.fa-viadeo-square(c="f2aa")
        i.fa.fa-video-camera(c="f03d")
        i.fa.fa-vimeo(c="f27d")
        i.fa.fa-vimeo-square(c="f194")
        i.fa.fa-vine(c="f1ca")
        i.fa.fa-vk(c="f189")
        i.fa.fa-volume-control-phone(c="f2a0")
        i.fa.fa-volume-down(c="f027")
        i.fa.fa-volume-off(c="f026")
        i.fa.fa-volume-up(c="f028")
        i.fa.fa-warning(c="f071")
        i.fa.fa-wechat(c="f1d7")
        i.fa.fa-weibo(c="f18a")
        i.fa.fa-weixin(c="f1d7")
        i.fa.fa-whatsapp(c="f232")
        i.fa.fa-wheelchair(c="f193")
        i.fa.fa-wheelchair-alt(c="f29b")
        i.fa.fa-wifi(c="f1eb")
        i.fa.fa-wikipedia-w(c="f266")
        i.fa.fa-window-close(c="f2d3")
        i.fa.fa-window-close-o(c="f2d4")
        i.fa.fa-window-maximize(c="f2d0")
        i.fa.fa-window-minimize(c="f2d1")
        i.fa.fa-window-restore(c="f2d2")
        i.fa.fa-windows(c="f17a")
        i.fa.fa-won(c="f159")
        i.fa.fa-wordpress(c="f19a")
        i.fa.fa-wpbeginner(c="f297")
        i.fa.fa-wpexplorer(c="f2de")
        i.fa.fa-wpforms(c="f298")
        i.fa.fa-wrench(c="f0ad")
        i.fa.fa-xing(c="f168")
        i.fa.fa-xing-square(c="f169")
        i.fa.fa-y-combinator(c="f23b")
        i.fa.fa-y-combinator-square(c="f1d4")
        i.fa.fa-yahoo(c="f19e")
        i.fa.fa-yc(c="f23b")
        i.fa.fa-yc-square(c="f1d4")
        i.fa.fa-yelp(c="f1e9")
        i.fa.fa-yen(c="f157")
        i.fa.fa-yoast(c="f2b1")
        i.fa.fa-youtube(c="f167")
        i.fa.fa-youtube-play(c="f16a")
        i.fa.fa-youtube-square(c="f166")
