//- module
+cover-modal("pageConfig.modal", "editor-blockconfig-modal")
  - var config = "settings"
  .card(ng-controller="webSettings")
    .closebtn.lg(ng-click="pageConfig.modal.ctrl.toggle()")
    .card-body
      ul.nav.nav-tabs
        li.nav-item: a.nav-link.clickable(ng-class="{'active':pageConfig.tab == 1}",
        ng-click="pageConfig.tab = 1") General Style
        li.nav-item: a.nav-link.clickable(ng-class="{'active':pageConfig.tab == 2}",
        ng-click="pageConfig.tab = 2") Custom CSS
        //-
          li.nav-item: a.nav-link.clickable(ng-class="{'active':pageConfig.tab == 3}",
          ng-click="pageConfig.tab = 3") Theme
      +nbr(1)
      //-
        div(ng-show="pageConfig.tab == 3")
          label Theme
          select.mb-2.form-control(ng-options="item as item.name for item in css.theme.list track by item.name",
          ng-model="css.theme.value")
      div(ng-show="pageConfig.tab == 2")
        label Custom Stylesheet
        textarea.form-control(ng-model="css.inline.value",placeholder="type custom stylesheet here...",rows="8")
        br
        label External CSS files

        .input-group
          input.form-control(type="text",ng-model="css.links.value")
          .input-group-append
            .btn.btn-outline-secondary(ng-click="css.links.add(css.links.value, true)") Add
        br
        .text-center.gray(ng-show="!css.links.list.length") no external css files
        ul.list-group(style="max-height:200px;overflow-y:scroll")
          li.list-group-item.ellipsis(ng-repeat="item in css.links.list")
            span {{item}}
            .closebtn(ng-click="css.links.remove(item, true)")

      div(ng-show="pageConfig.tab == 1")
        h4 Background
        .row.mb-3
          .col
            label Image
            .btn.btn-outline-secondary.btn-block(ng-click="setBackgroundImage()") Choose
          .col
            label Color
            +color-input(config + ".style.backgroundColor", 0, null)
          .col
            label Attachment
            +dropdown(config + ".style.backgroundAttachment", config + ".option.backgroundAttachment")
        .row
          .col
            label Position X
            +dropdown(config + ".style.backgroundPositionX", config + ".option.backgroundPositionX")
          .col
            label Position Y
            +dropdown(config + ".style.backgroundPositionY", config + ".option.backgroundPositionY")
          .col
            label Repeat
            +dropdown(config + ".style.backgroundRepeat", config + ".option.backgroundRepeat")
          .col
            label Size
            +dropdown(config + ".style.backgroundSize", config + ".option.backgroundSize")
        +nbr(2)
        h4 Font
        .row.mb-3
          .col
            label Color
            +color-input(config + ".style.color", 0, null)
          .col
            label Size
            +slider(config + ".style.fontSize","{min:0, max:128, step: 1, postfix: 'px' }")
          .col
            label Weight
            +dropdown(config + ".style.fontWeight", config + ".option.fontWeight")
          .col
            label Shadow
            +dropdown(config + ".style.boxShadow", config + ".option.boxShadow")
        .row.mb-3
          .col
            label Family
            +input-dropdown(config + ".style.fontFamily", config + ".option.fontFamily")
        +nbr(2)
        .btn.btn-primary.pull-right(ng-click="pageConfig.modal.ctrl.toggle()") Close
        .btn.btn-danger(ng-click="reset()") Reset
