//- module
+cover-modal("pageConfig.modal", "editor-blockconfig-modal")
  - var config = "settings"
  .card(ng-controller="webSettings")
    .card-body
      ul.nav.nav-tabs
        li.nav-item: a.nav-link.active(href="#") General Style
      +nbr(1)
      h4 Background
      .row.mb-3
        .col
          label Image
          .btn.btn-outline-secondary.btn-block(ng-click="setBackgroundImage()") Choose
        .col
          label Color
          +color-input(config + ".style.backgroundColor", 0, null)
        .col
          label Attachment
          +dropdown(config + ".style.backgroundAttachment", config + ".option.backgroundAttachment")
      .row
        .col
          label Position X
          +dropdown(config + ".style.backgroundPositionX", config + ".option.backgroundPositionX")
        .col
          label Position Y
          +dropdown(config + ".style.backgroundPositionY", config + ".option.backgroundPositionY")
        .col
          label Repeat
          +dropdown(config + ".style.backgroundRepeat", config + ".option.backgroundRepeat")
        .col
          label Size
          +dropdown(config + ".style.backgroundSize", config + ".option.backgroundSize")
      +nbr(2)
      h4 Font
      .row.mb-3
        .col
          label Color
          +color-input(config + ".style.color", 0, null)
        .col
          label Size
          +slider(config + ".style.fontSize","{min:0, max:128, step: 1, postfix: 'px' }")
        .col
          label Weight
          +dropdown(config + ".style.fontWeight", config + ".option.fontWeight")
        .col
          label Shadow
          +dropdown(config + ".style.boxShadow", config + ".option.boxShadow")
      .row.mb-3
        .col
          label Family
          +input-dropdown(config + ".style.fontFamily", config + ".option.fontFamily")
        .col
          label Family #[small.gray for CJK]
          +input-dropdown(config + ".style.fontFamilyCJK", config + ".option.fontFamilyCJK")
