//- module
+cover-modal("share.modal","editor-share-modal")
  .card
    .card-body
      h3 Share with Others
      +nbr(1)
      div(ng-clipboard,target="#editor-share-link",dir="bottom")
        .input-group
          input#editor-share-link.form-control(placeholder="shareable link",ng-model="share.link")
          .input-group-append: .btn.btn-primary #[i.fa.fa-clipboard] Copy
      +nbr(1)
      .text-right
        a.btn.btn-secondary.mr-1(ng-attr-href="{{share.link}}",target="_blank") #[i.fa.fa-link] Open 
        .btn.btn-secondary(ng-click="share.modal.ctrl.toggle(false)") #[i.fa.fa-times] Close


