//- module
+cover-modal("share.modal","editor-share-modal")
  .card
    .card-body
      h3 Share with Others
      +nbr(1)
      div(ng-clipboard,target="#editor-share-link",dir="bottom")
        .input-group
          input#editor-share-link.form-control(placeholder="shareable link",ng-model="share.link",
          ng-class="{'disabled':!share.public}",ng-disabled="!share.public")
          .input-group-append: .btn.btn-primary #[i.fa.fa-clipboard] Copy
      +nbr(1)
      .row
        .col.text-left
          .btn-group.mr-4
            .btn(ng-click="share.setPublic(true)",
            ng-class="{'btn-primary active':share.public,'btn-outline-primary':!share.public}") Published #[i.fa.fa-check.text-success(ng-show="share.public")]
            .btn(ng-click="share.setPublic(false)",
            ng-class="{'btn-primary active':!share.public,'btn-outline-primary':share.public}") Hide #[i.fa.fa-check.text-success(ng-show="!share.public")]
        .col.text-right
          a.btn.btn-secondary.mr-1(ng-show="share.public",
          ng-attr-href="{{share.link}}",target="_blank") #[i.fa.fa-link] Open
          .btn.btn-secondary(ng-click="share.modal.ctrl.toggle(false)") #[i.fa.fa-times] Close


