.text-center(repeat-host)
  a.btn.btn-primary.mr-2.btn-lg(href="#",repeat-item) Action 1
  a.btn.btn-primary.mr-2.btn-lg(href="#",repeat-item) Action 2
  a.btn.btn-primary.mr-2.btn-lg(href="#",repeat-item) Action 3
