.jumbotron(image="bk")
  h1.display-4 Hello World!
  p.lead This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
  hr
  p It uses utility classes for typography and spacing to space content out within the larger container.
  p
    a.btn.btn-primary.btn-lg(href="#") Learn more
  br
  .btn.btn-primary Center test
  a.btn.btn-primary Center test
  a.btn.btn-primary(href="#") Center test
  br
  br
  br
  .row
    .col
      span It uses utility classes for typography and spacing to space content out within the larger container.
    .col
      a.btn.btn-primary(href="#") Blah
      p hello #[br] world!
    .col
      ul
        li Test 1
        li Test 1
        li Test 1
