.block-speaker .speaker {
  width: 80%;
  min-width: 130px;
  margin: auto;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.1);
}
.block-speaker .speaker .inner {
  height: 0;
  padding-bottom: 100%;
}
.block-speaker .name,
.block-speaker .title {
  text-align: center;
}
.block-speaker .name {
  font-size: 1.2em;
  font-weight: 700;
}
