[image=image]
  background-size: cover
  background-repeat: no-repeat
  background-position: center center

.block-item
  position: relative
  //- for preventing margin collapsing
  border-top: 1px solid transparent
  border-bottom: 1px solid transparent
  & > .inner
    margin: 20px
