[image=image]
  background-size: cover
  background-repeat: no-repeat
  background-position: center center

.block-item
  position: relative
  //- for preventing margin collapsing
  border-top: 0.1px solid transparent
  border-bottom: 0.1px solid transparent
  & > .inner
    margin: 40px

.block-item
  color: #555
  h1, h2, h3
    color: #333
