.block-item
  & > .handle
    position: absolute
    cursor: pointer
    display: none
    top: 0
    left: auto
    right: 100%
    margin: 5px -2px 0 0
    padding: 2px 5px
    background: #fff
    border: 1px solid #ccc
    border-right: 0
    border-radius: 5px 0 0 5px
    box-shadow: -2px 0px 1px rgba(0,0,0,.05)
    color: #777
    font-size: 14px
    text-align: center
.block-item:hover > .handle
  display: block
.block-item.sortable-ghost > .handle
    display: none
.block-item *[image]
  position: relative
