.block-item
  & > .handle
    position: absolute
    cursor: pointer
    display: none
    animation-duration: 0.1s
    top: 0
    left: auto
    right: 100%
    z-index: index(order, 'block-handle')
    margin: 5px -2px 0 0
    padding: 2px 0
    background: #fff
    border: 1px solid #e1e3e4
    border-radius: 5px
    box-shadow: 1px 2px 2px rgba(0,0,0,0.05)
    color: #777
    font-size: 14px
    text-align: center
    &:after
      content: " "
      display: block
      position: absolute
      width: 10px
      height: 10px
      background: #fff
      border-right: 1px solid #e1e3e4
      border-top: 1px solid #e1e3e4
      transform: rotate(45deg)
      right: -5px
      top: 10px
    i.fa
      padding: 3px 6px
    i.fa:hover
      color: #007bff
    i.fa:first-child
      padding-top: 8px
    i.fa:last-child
      padding-bottom: 8px
.block-item:hover > .handle
  display: block

//- iframe will eat drag event. hide them or sortablejs will fail
.block-item.sortable-ghost iframe
  display: none

//- make the ghost smaller so it wont hurt sortable too much
.block-item.sortable-ghost
  max-height: 300px
  overflow: hidden
.block-item.sortable-ghost > .handle
    display: none
.block-item *[image]
  position: relative

*[image]
  position: relative
*[image]:after
  content: "\f030"
  font: normal normal normal 14px/1 FontAwesome
  display: block
  width: 30px
  height: 25px
  transform: scale(0)
  padding: 5px 6px
  opacity: 0
  border-radius: 3px
  border: 1px solid #999
  box-shadow: 0 1px 3px rgba(0,0,0,.1)
  position: absolute
  top: 10px
  right: 10px
  background: linear-gradient(to bottom, #ffffff 0%,#f4f4f4 100%)
  cursor: pointer
  transition(all 0.3s ease-in-out)
  color: #444
*[image]:hover:after
  width: 30px
  height: 25px
  transform: scale(1)
  opacity: 1
  transition(all 0.3s ease-in-out)
