@import '../vars.styl'
@import '../basic.styl'

#nav-top
  display: none

body
  background: #eee

#editor-root
  width: 100%
  min-height: 100%
  height: 100%
  padding: 5px 0 0 0
  background: #eee

[contenteditable=true]
  outline: none

[image=image]
  .uploadcare--widget button
    cursor: pointer

#editor
  width: 100%
  height: 100%
  padding: 0
  width: 100%
  & > .head
    width: 800px
    margin: auto
    height: 36px
  & > .inner
    font-family: 'Raleway', sans-serif
    width: 800px
    min-height: 100%
    border: 0px solid #ccc
    border-top: 1px solid rgba(0,0,0,0) //- prevent margin collapsing
    margin: auto
    background: #fff
    box-shadow: 0 6px 6px rgba(0,0,0,.2)
    & > .sortable-ghost
      background-image: none!important
      border: 2px dashed #ccc
      margin: 10px
      padding: 10px

#blocks-picker
  overflow: scroll
  position: fixed
  padding: 41px 10px 10px
  width: 110px
  height: 100%
  left: 0
  top: 0
  .block-thumb
    text-align: center
    margin-bottom: 10px
    .name
      line-height: 14px
      font-size: 13px
      color: #aaa
    .thumb
      width: 90px
      height: 60px
      background-image: none!important
      background: #fff
      margin-bottom: 5px
      background: #fff center center no-repeat
      background-size: contain
      box-shadow: 0 3px 2px rgba(0,0,0,0.1)

#collab-info
  position: fixed
  padding: 41px 10px 10px
  width: 110px
  height: 100%
  top: 0
  right: 0
  color: #444
  .list
    font-size: 0.8em
    color: #777

.editor-export-modal
  pre
    white-space: normal
    font-family: consolas, monospace
    font-size: 16px
    background: #eee
    border: 1px solid #ccc
    box-shadow: inset 0 2px 4px rgba(0,0,0,.1)
    height: 300px
    overflow: scroll
    border-radius: 5px
    padding: 10px

[ng-clipboard]
  position: relative
  .hover-tip
    display: none

.copied[ng-clipboard] .hover-tip
  display: block


.editor-preview-modal .cover-modal-inner
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  height: 80%
  width: 800px
  max-width: 90%
  .card, .card-body
    width: 100%
    height: 100%
  #editor-preview
    padding: 0
    overflow: scroll

#editor > .inner > .placeholder
  width: 100%
  height: 300px
  padding: 10px
  display: table
  & > div
    width: 100%
    height: 300px
    border: 4px dashed #49f
    border-radius: 3px
    display: table-cell
    vertical-align: middle
    text-align: center
    font-size: 3em
    color: #ddd
    &:after
      content: "Drop Here"
      display: block
