@import '../vars.styl'
@import '../basic.styl'
@import 'page-detail.styl'

#nav-top
  display: none

body
  background: #f1f3f3

#editor-root
  width: 100%
  min-height: 100%
  height: 100%
  padding: 0
  background: #f1f3f3

[contenteditable=true]
  outline: none

#editor
  width: 100%
  height: 100%
  padding: 0
  width: 100%
  & > .head
    width: 800px
    margin: auto
    padding: 15px 0
    color: #777
    height: 61px
    transition(width .3s ease-in-out)
    .btn
      font-weight: 200
    .dropdown-item
      color: #666
      font-weight: 200
    .dropdown-menu
      box-shadow: 0 3px 1px rgba(0,0,0,.09)
      border-radius: 1px
      border: none
  & > .inner
    z-index: index(order, 'editor-inner')
    position: relative
    font-family: 'Raleway', sans-serif
    width: 800px
    min-height: 100%
    border: 0px solid #ccc
    border-top: .1px solid rgba(0,0,0,0) //- prevent margin collapsing
    margin: auto auto 200px
    background: #fff
    box-shadow: 0 24px 18px rgba(0,0,0,.2)
    transition(width .3s ease-in-out)
    & > .sortable-ghost
      background-image: none!important
      border: 2px dashed #ccc
      margin: 10px
      padding: 10px

#blocks-picker
  overflow-y: scroll
  position: fixed
  //- padding-bottom 50px to soothe the thumbnail for the last block overflow-scrolling glitch
  padding: 81px 10px 50px
  width: 190px
  height: 100%
  left: auto
  top: 0
  z-index: index(order, 'blocks-picker')
  transition(right .3s ease-in-out)
  .block-thumb
    text-align: center
    margin-bottom: 10px
    width: 160px
    .name
      line-height: 14px
      font-size: 13px
      color: #aaa
    .thumb
      width: 160px
      height: 0 //-60px
      padding-bottom: 40%
      //-background-image: none!important
      background: #fff
      margin-bottom: 5px
      background: #fff center center no-repeat
      background-size: contain
      box-shadow: 0 3px 2px rgba(0,0,0,0.1)

#blocks-preview
  display: none
  position: absolute
  top: 100px
  left: 200px
  width: 320px
  height: auto
  background: #fff
  z-index: index(order, 'blocks-preview')
  border-radius: 5px
  box-shadow: 0 2px 4px rgba(0,0,0,.3)
  border: 0px solid #fff
  .name
    //- a little complicated visually. hide for now.
    display: none
    position: absolute
    top: -26px
    left: 50%
    transform: translate(-50%,0)
    background: rgba(255,255,255,.8)
    padding: 0 10px
    font-size: 14px
    border-radius: 2px
    text-transform: capitalize
  .inner
    position: relative
    z-index: 1
    width: 100%
    height: 0
    border-radius: 3px
    background-color: #fff
    background-position: center center
    background-repeat: no-repeat
  .pin:after
    content: " "
    display: block
    width: 10px
    height: 10px
    transform: rotate(45deg)
    background: #fff
    border-left: 0px solid #eee
    border-bottom: 0px solid #eee
    background: #fff
    position: absolute
    left: -5px
    top: 20px
    z-index: 0
    box-shadow: 2px 2px 4px rgba(0,0,0,.3)

#collab-info
  position: fixed
  padding: 81px 10px 10px 20px
  width: 110px
  height: 100%
  top: 0
  right: auto
  transition(left .3s ease-in-out)
  color: #444
  .avatar
    vertical-align: -5px
  .list
    font-size: 0.8em
    color: #777
    .item
      margin-bottom: 5px
      a
        color: #444
        ellipsis()
        width: 150px
        display: inline-block
        border-left: 4px solid #777
        padding-left: 5px
        margin-left: 3px

      i
        margin-right: 5px

.editor-export-modal
  pre
    white-space: normal
    font-family: Inconsolata, monospace
    font-size: 16px
    background: #eee
    border: 1px solid #ccc
    box-shadow: inset 0 2px 4px rgba(0,0,0,.1)
    height: 300px
    overflow: scroll
    border-radius: 5px
    padding: 10px

.editor-preview-modal .cover-modal-inner
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  height: 80%
  width: 800px
  max-width: 90%
  .card, .card-body
    width: 100%
    height: 100%
  #editor-preview
    padding: 0
    overflow: scroll
    iframe
      border: none
      width: 100%
      height: 100%

.editor-iconpicker-modal
  .cover-modal-inner
    overflow-y: scroll
    height: 500px

  .list
    flexbox()
    flex-wrap(wrap)
    font-size: 2em
    &:after
      display: block
      content: " "
      flex(999 0 auto)
    i
      display: inline-block
      width: 40px
      height: 40px
      vertical-align: middle
      text-align: center
      margin: 5px
      flex(1 1 auto)
      cursor: pointer
#editor > .inner > .placeholder
  width: 100%
  height: 300px
  padding: 10px
  display: table
  & > div
    width: 100%
    height: 300px
    border: 4px dashed #49f
    border-radius: 3px
    display: table-cell
    vertical-align: middle
    text-align: center
    font-size: 3em
    color: #ddd
    &:after
      content: "Drop Here"
      display: block

*[image]:hover
  box-shadow: 0 0 3px 3px rgba(0,0,0,.1)

#editor-insert-handle
  position: fixed
  display: none
  left: 50%
  padding: 0 20px
  transform: translate(-50%,0)
  background: #fff
  box-shadow:0 1px 3px rgba(0,0,0,.2)
  border-radius: 20px
  z-index: index(order, 'handle')
  transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out
  background: #000
  color: #ccc
  &:after
    position: absolute
    display: none
    content: " "
    width: 10px
    height: 10px
    transform: rotate(45deg) translate(0,60%)
    left: 50%
    bottom: 0
    background: #000
  &:hover
    opacity: 1!important
  .clickable
    padding: 4px 8px
  .clickable:hover
    color: #fff
  .clickable .hr
    width: 16px
    height: 16px
    display: inline-block
    &:before
      content: "—"
      display: inline


#editor-text-handle
  position: absolute
  z-index: index(order, 'handle')
  width: 400px
  display: none
  a
    cursor: pointer

#editor-node-handle
  position: absolute
  top: 100px
  left: 100px
  width: 30px
  z-index: index(order, 'handle')
  background: #fff
  text-align: center
  border: 1px solid #ccc
  border-radius: 5px
  color: #777
  display: none
  &:before
    content: " "
    display: block
    width: 8px
    height: 8px
    position: absolute
    transform: translate(-60%,-50%) rotate(45deg)
    top: 30%
    background: #fff
    border-left: 1px solid #ccc
    border-bottom: 1px solid #ccc
  i.fa
    display: block
    padding: 7px 5px
    border-bottom: 1px solid #ddd
    cursor: pointer
  i.fa.fa-arrows
    font-size: 15px
  i.fa.fa-trash-o
    font-size: 18px
    border: none
  i.fa.fa-link
    display: none
  &.link
    i.fa
      display: none
    i.fa.fa-link
      display: block
  i.fa.fa-lock, i.fa.fa-unlock-alt, i.fa.fa-camera, i.fa.fa-align-left
    display: none
#editor-node-handle
  .submenu i.fa
    display: none
  .submenu:hover
    padding: 0
    display: table!important
    white-space: nowrap
    i.fa
      background: #fff
      display: inline-block
      border: 1px solid #ccc
      border-left: 0
      padding: 6px
    i.fa:last-child
      border-radius: 0 3px 3px 0
    &:before
      display: none


#editor-node-handle.no-repeat
  i.fa.fa-clone
    display: none
#editor-node-handle.aspect-ratio
  i.fa.fa-lock
    display: block
#editor-node-handle.aspect-ratio.aspect-ratio-on
  i.fa.fa-lock
    display: none
  i.fa.fa-unlock-alt
    display: block
#editor-node-handle.image
  i.fa.fa-camera
    display: block
#editor-node-handle.no-delete
  i.fa.fa-trash-o
    display: none
#editor-node-handle.alignment > i.fa.fa-align-left
  display: block

#collaborator-cursors
  position: relative
  margin: auto
#collaborator-cursors .cursor
  position: absolute
  width: 2px
  background: rgba(255,255,255,0.3)
  height: 24px
  color: #f00
  border: 1px solid #777
  border-radius: 3px
  z-index: index(order, 'cursor')
colors = #000000 #F44336 #FF9800 #FFEB3B #8BC34A #009688 #03A9F4 #3F51B5 #9C27B0 #795548 #000000
#collaborator-cursors .cursor, #collab-info .item a
  for color,index in colors
    &.color{index}
      border-color: color

#editor > .inner div[base-block].initializing
  margin: 20px
  .thumb
    height: 50px
    border-radius: 25px
    background: url(/assets/img/loader/msg.gif) #eee  center center no-repeat
  .name
    display: none
#editor > .inner div[base-block].sortable-ghost
  padding: 20px
  margin: 20px
  .thumb
    display: none

.sortable-drag
  iframe
    visibility: hidden
    pointer-events: none

#editor > .inner > .block-item
  transition(outline 0.5s ease-in-out)
  outline: 2px dashed rgba(224,224,224,0)
#editor > .inner > .block-item:hover
  transition(outline 0.5s ease-in-out)
  outline: 2px dashed rgba(224,224,224,1)
#editor > .inner > .block-item [repeat-item]:hover
  outline: 1px dashed rgba(224,224,224,1)

.editor-blockconfig-modal
  .cover-modal-inner
    margin: 5vh auto
    height: 90vh
  .nav-tabs
    margin: 0
  .card
    height: 100%
    overflow: scroll

.editor-fontchooser-modal .choosefont
  overflow: scroll


#collab-info .list
  .item.ng-enter
    transform: translate(-200%,0) skewX(45deg)
    animation(ldt-rush-left-in 1s linear forwards)
  .item.ng-leave
    transform: translate(0,0)
    animation(ldt-slide-left-out 1s cubic-bezier(0,0.5,0.5,1) forwards)

[edit-transition='jump-in']
  transform: scale(0)
  animation(ldt-jump-in .6s forwards)
[edit-transition='jump-out']
  transform: scale(1)
  animation(ldt-jump-out .6s forwards)
