extends /base.jade
block head
  script.
    UPLOADCARE_PUBLIC_KEY = "99aecfabc8335358700e";
    UPLOADCARE_LOCALE = 'en';
    UPLOADCARE_IMAGES_ONLY = true;
    UPLOADCARE_PREVIEW_STEP = true;
    UPLOADCARE_CLEARABLE = true;
  +css("/css/pack/editor.css")
  +script("/js/pack/editor.js")
  +script("https://ucarecdn.com/libs/widget/3.x/uploadcare.min.js")
  link(href="https://fonts.googleapis.com/css?family=Raleway:400,700,900",rel="stylesheet")

  style#page-basic(type="text/css")
    include ../../../static/css/page/basic.css

block body
  a#makeweb(href="/") #[span Powered By] #[img(src="/assets/img/logo.svg")]
  #editor-root(ng-controller="editor")

    include /page/modal/config.jade
    include /page/modal/preview.jade
    include /page/modal/export.jade

    #blocks-picker(ng-controller="blocksPicker",ng-cloak)
      .block-thumb(ng-repeat="block in blocks",ng-attr-base-block="{{block}}")
        .thumb
        .name {{block}}
    #editor
      .head(ng-attr-style="width:{{config.size.value}}px")
        .pull-right
          a.btn.btn-text.btn-sm(href="#",ng-click="needlogin('/page/create')") #[i.fa.fa-plus] New
          a.btn.btn-text.btn-sm(href="#",ng-click="needlogin('clone', true)") #[i.fa.fa-clone] Make a Copy
        .pull-left
          small.clickable(ng-show="!user.data",style="margin-top:3px")
            .btn.btn-text.btn-sm(ng-click="auth.isSignIn=false;auth.ctrl.toggle()") Sign Up
            .btn.btn-text.btn-sm(ng-click="auth.isSignIn=true;auth.ctrl.toggle()") Login
          span(ng-show="user.data",ng-cloak)
            .btn-group.clickable
              .btn.btn-text.btn-sm.dropdown-toggle(
              data-toggle="dropdown") #[i.fa.fa-user-circle] {{user.data.displayname}}
              .dropdown-menu
                a.dropdown-item(href="/me/") Profile
                .dropdown-divider
                a.dropdown-item(href="#",ng-click="auth.logout()") Logout
            //-.btn.btn-primary.btn-sm(style="padding:2px .5rem") Upgrade
        .text-center
          .btn.btn-text.btn-sm: big #[i.fa.fa-cog]
          .btn-group.clickable
            .btn.btn-text.btn-sm.dropdown-toggle(data-toggle="dropdown") {{config.size.name}}
            .dropdown-menu
              a.dropdown-item(href="#",ng-click="config.size.set('Full Screen')") Full Screen
              a.dropdown-item(href="#",ng-click="config.size.set('1024px')") 1024px
              a.dropdown-item(href="#",ng-click="config.size.set('800px')") 800px
              a.dropdown-item(href="#",ng-click="config.size.set('480px')") 480px
      .inner(ng-attr-style="width:{{config.size.value}}px")
        .placeholder: div
      #editor-style
      #editor-node-handle
        i.fa.fa-clone
        i.fa.fa-trash-o
    #collab-info(ng-controller="collabInfo",ng-cloak)
      b Publish
      .sep
      .list
        .item.clickable(ng-click="preview.run()") #[i.fa.fa-eye] Preview
        .item.clickable(ng-click="export.run()") #[i.fa.fa-download] Export
        .item.clickable #[i.fa.fa-link] Share
      +nbr(2)
      b Collaborators
      .sep
      .list
        .item(ng-repeat="(key, user) in collaborator")
          a(ng-show="!user.guest",ng-attr-href="/user/{{key}}") #[i.fa.fa-user-circle] {{user.displayname}}
          span(ng-show="user.guest") #[i.fa.fa-user-circle] {{user.displayname}}
