//- view
doctype html
- var thumbnail = "https://makeweb.io/assets/img/thumbnail.png"
- var thumbtype = "image/jpeg"
- var thumb_width = "1200"
- var thumb_height = "630"
- var favicon = "/assets/img/favicon.png"
- var title = "MakeWeb.io - Collaborate Web Editing"
- var description = "make web pages in the simple way with makeweb's collaborative web page visual editor"
html
  include /mixins/index.jade
  head
    include /module/head.jade
    +css("/css/pack/viewer.css")
    +script("/js/pack/viewer.js")
    script.
    +css("/blocks/all.min.css")
    +script("/js/pack/viewer.js")
    +script("/blocks/all.js")
    script.
      var blockTypes = !{'[' + data.child.map(function(it) { return '"' + it.type + '"'; }).join(',') + ']'};
  body
    #root(style="margin:auto;width:1024px")
      each block in data.child
        .block-item(id="block-id#{$index}", class="block-" + block.type,base-block=block.type)
          .inner!= block.content
  a#makeweb.ld.ld-bounce(href="/") #[span Powered By] #[img(src="/assets/img/logo.svg")]
  a#edit-this-page(href="./") #[i.fa.fa-edit] Edit This Page
  script.
    Array.from(document.querySelectorAll('[contenteditable=true]')).map(function(it) {
      it.setAttribute('contenteditable', false);
    });
    blocksManager.code.loadLibrary(blockTypes);
    blocksManager.code.wrap(document.querySelectorAll('#root > .block-item'))
