.block-footer {
  width: 100% !important;
  max-width: initial !important;
  background: #444;
  color: #fff;
}
.block-footer > .inner {
  margin: 0 !important;
  padding: 20px;
}
.block-footer .item a {
  color: #fff;
}
