.thumbs(editable="false",repeat-host)
  .thumb(image,repeat-item): .inner
  .thumb(image,repeat-item): .inner
  .thumb(image,repeat-item): .inner
  .thumb(image,repeat-item): .inner
  .thumb(image,repeat-item): .inner
  .thumb(image,repeat-item): .inner
  .thumb(image,repeat-item): .inner
  .thumb(image,repeat-item): .inner
