.thumbs(editable="false")
  .thumb(image): .inner
  .thumb(image): .inner
  .thumb(image): .inner
  .thumb(image): .inner
  .thumb(image): .inner
  .thumb(image): .inner
  .thumb(image): .inner
  .thumb(image): .inner
