@import '../vars'
@import '../basic'

+keyframes(auth-reset-img)
  0%
    opacity: 1
  50%
    opacity: 1
    height: 200px
  100%
    opacity: 0
    height: 0

+keyframes(auth-reset-icon)
  0%
    opacity: 0
  50%
    opacity: 0
    font-size: 0
  100%
    opacity: 1
    font-size: 128px

#auth-reset-sent
  img
    animation(auth-reset-img 1.5s ease-out 1 forwards)
    
  i.fa
    color: #a7f887
    margin: 40px 0
    animation(auth-reset-icon 1.5s ease-in 1 forwards)


@media (max-width: 768px)
  .authpanel-static-outer
    width: 100%
  .authpanel .card-body
    padding: 15px 10px
  .authpanel.cover-modal-wrapper .cover-modal-inner
    max-width: 400px
    width: 95%

@media (max-height: 536px)
  .authpanel
    label
      margin-bottom: .1rem
      font-size: 14px
    .form-group
      margin-bottom: .7rem
    input[type=text]
      height: 32px
    .btn-success
      padding: .375rem .75rem
      font-size: 1rem
