@import '../vars.styl'
@import '../basic.styl'

.page-list
  .list.head
    background: none
    border: none
    box-shadow: none
    margin-bottom: 0
  .list.head, .list .ctrl .dropdown-item
    font-size: 13px
  .pull-right
    font-size: 13px
  .list.ng-leave
    transition: all 0.4s cubic-bezier(0,.5,.5,1)
    opacity: 1
    overflow: hidden
  .list.ng-leave.ng-leave-active
    opacity: 0
    height: 0px
    padding-top: 0px
    padding-bottom: 0px
    margin-bottom: 0

.page-list .list
  background: #fff
  box-shadow: 0 2px 2px rgba(0,0,0,.05)
  border: 1px solid #e5e6e7
  border-bottom-color: #dbdcdd
  border-radius: 3px
  margin-bottom: 10px
  padding: 10px 20px

.page-list .list .item
  display: inline-block
  opacity: 1
  transition: all 0.5s linear
  &.thumb
    width: 56px
    display: inline-block
    vertical-align: middle
    .img
      width: 46px
      height: 25px
      background-size: cover
      background-position: center center
  &.title
    min-width: 300px
  &.owner
    width: 100px
  &.createdtime
    width: 200px
  &.revision
    width: 60px
  &.action
    width: 100px
  & > a, & > span
    padding: 10px 0
    vertical-align: middle
    line-height: 20px

.page-list .list .dropdown-item
  i.fa
    width: 20px
    text-align: center

.page-list
  .detail
    position: relative
    max-height: 1000px
    transition: 0.5s ease-in-out all
    overflow: hidden
    label.block
      margin: -1px 0 0
    label.block + small.gray
      display: block
      margin-top: -6px
  .detail.ng-hide
    max-height: 0
  .detail.disabled
    &:after
      content: " "
      display: block
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: rgba(255,255,255,.8)
      z-index: index(order, 'modal')
  .action
    position: relative
    z-index: index(order, 'modal-inner')

.page-list .detail .btn.thumbnail
  background: #fff center center no-repeat
  background-size: cover

.page-list .detail
  .dropdown-menu
    min-width: 6rem
  .perm-list
    flexbox()
    &:after
      content: " "
      display: inline-block
      flex(2.5 0 120px)
  .perm
    flex(1 1 120px)
    .displayname
      display: inline-block
    .username
      display: none
    i.fa.fa-minus
      display: none
  .perm:hover
    .displayname
      display: none
    .username
      display: inline-block
    i.fa
      display: none
    i.fa.fa-minus
      display: inline-block
