@import '../vars.styl'
@import '../basic.styl'
@import '../page/page-detail.styl'

.page-list
  .list.head
    background: none
    border: none
    box-shadow: none
    margin-bottom: 0
    .pull-right .item
      padding: 0
    .state
      overflow: hidden
      white-space: nowrap
  .list.head, .list .ctrl .dropdown-item
    font-size: 13px
  .pull-right
    font-size: 13px
    .item
      padding: 13px 0
  .list.ng-leave
    transition: all 0.4s cubic-bezier(0,.5,.5,1)
    opacity: 1
    overflow: hidden
  .list.ng-leave.ng-leave-active
    opacity: 0
    height: 0px
    padding-top: 0px
    padding-bottom: 0px
    margin-bottom: 0

.page-list .list
  background: #fff
  box-shadow: 0 2px 2px rgba(0,0,0,.05)
  border: 1px solid #e5e6e7
  border-bottom-color: #dbdcdd
  border-radius: 3px
  margin-bottom: 10px
  padding: 5px 10px

.page-list .list.head .item.thumb
  vertical-align: initial

.page-list .list .item
  display: inline-block
  opacity: 1
  transition: all 0.5s linear
  &.state
    width: 108px
    vertical-align: middle
    padding: 0 10px 4px 0
    .fa
      width: 12px
      text-align: center
    .badge
      font-weight: 200
      text-align: left
      width: 100%
      vertical-align: middle
    a
      line-height: unset
      padding: 0 5px
  &.state.min
    width: 30px
    margin-left: -30px
    overflow: hidden
    .badge
      border-radius: 3px 0 0 3px
  &.state.min:hover
    overflow: visible
    .badge
      border-radius: 3px
      width: 108px
      position: relative
      z-index: index(order, 'hover-tip')

  &.thumb
    width: 56px
    display: inline-block
    vertical-align: middle
    .img
      width: 46px
      height: 43px
      margin-top: 1px
      background-size: cover
      background-position: center center
  &.title
    min-width: 300px
  &.owner
    width: 100px
  &.createdtime
    width: 200px
  &.revision
    width: 60px
  &.action
    width: 100px
  & > a, & > span
    padding: 10px 0
    vertical-align: middle
    line-height: 20px

.page-list .list .dropdown-item
  i.fa
    width: 20px
    text-align: center

.page-list
  .page-detail
    position: relative
    max-height: 1000px
    transition: 0.5s ease-in-out all
    overflow: hidden

  .page-detail.ng-hide
    max-height: 0
  .page-detail.disabled
    &:after
      content: " "
      display: block
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: rgba(255,255,255,.8)
      z-index: index(order, 'modal')
  .action
    z-index: index(order, 'modal-inner')

.page-list .page-detail .btn.thumbnail
  background: #fff center center no-repeat
  background-size: cover
  div
    display: none
  &:hover div
    display: block
    position: fixed
    top: 50%
    left: 50%
    width: 50%
    height: 50%
    background-position: center center
    background-size: cover
    background-repeat: no-repeat
    transform: translate(-50%,-50%)
    z-index: index(order, 'modal')
    &:before
      content: "\f00d"
      font-family: FontAwesome
      font-size: 20px
      position: absolute
      top: 0
      right: -25px
      color: #444
      text-shadow: 0 0 1px rgba(255,255,255,1)


.page-list .page-detail
  .dropdown-menu
    min-width: 6rem
  .perm-list
    flexbox()
    &:after
      content: " "
      display: inline-block
      flex(2.5 0 120px)
  .perm
    flex(1 1 120px)
    .displayname
      display: inline-block
    .username
      display: none
    i.fa.fa-minus
      display: none
  .perm:hover
    .displayname
      display: none
    .username
      display: inline-block
    i.fa
      display: none
    i.fa.fa-minus
      display: inline-block

@media (max-width: 991px)
  .page-list .list.head
    display: none
  .page-list .list
    .item.thumb
      display: none
    .ctrl
      height: 25px
    .item.title
      height: 25px
      min-width: 160px
      width: 160px
      ellipsis()
    .pull-right
      margin: 2px 0 0
      .createdtime, .owner a
        display: none
      .owner
        width: 30px
      .action
        width: 40px
    .page-detail
      .caption
        text-align: left
      .row.mb-2
          margin-bottom: 1.2em!important

@media (max-width: 768px)
  .profile
    .comma
      height: 0
      display: block
      opacity: 0
