@import '../vars.styl'
@import '../basic.styl'

.document
  h2, h3, h4
    margin: 0
  .section, .subsection
    h4 + small.grayed
      display: inline-block
      line-height: 1.1em
      margin-top: 4px
  .section
    margin-top: 30px
  .subsection
    margin-top: 10px
