@import 'footer.styl'
@import 'auth.styl'
@import 'pricing.styl'

.root-bk-gradient
  min-height: 100%
  color: #fff
  background: linear-gradient(45deg, #1e5799 0%, #7db9e8 100%)
  & > .inner
    background: url(/assets/img/bk/ripple.svg)
    padding: 80px 20px 10px
    min-height: 100%
  a
    color: #fff
    text-decoration: underline
  a:hover
    color: #f9ff4d
  .card
    color: #323334
    a
      color: #007bff
  a.btn
    text-decoration: none

.badge.badge-plan
  font-weight: 200
  text-transform: uppercase
  font-family: verdana, tahoma
  line-height: 11px
  &:empty
    display: inline-block
  &:after
    content: "FREE"
    display: inline
  &.free
    background: #999
    &:after
      content: "FREE"
  &.advanced:after
    content: "ADV"
  &.pro:after
    content: "PRO"

@media (max-height: 768px)
  .root-bk-gradient > .inner
    padding: 10px 5px
