@import '../vars.styl'
@import '../basic.styl'

@keyframes blink
  0%
    opacity: 0
  29%
    opacity: 0
  30%
    opacity: 1
  100%
    opacity: 1

#landing
  color: #444
  background: linear-gradient(45deg, #1e5799 0%,#7db9e8 100%)
  padding-top: 80px
  overflow: visible
  height: 650px
  position: relative
  svg
    width: 100%
    height: 300px
    margin-top: -300px
    position: absolute
    z-index: 0
  &:before
    content: " "
    display: block
    max-width: 1200px
    width: 90%
    height: 450px
    background: #fff
    position: absolute
    left: 0
    right: 0
    z-index: 1
    margin: 0px auto
    box-shadow: 0 80px 80px 0 rgba(0,0,0,.4)

  & > .bk
    width: 100%
    height: 100%
    background: url(/assets/img/bk/ripple.svg) center center
    overflow: visible
    position: relative
    z-index: 1

  .inner
    max-width: 1200px
    width: 90%
    margin: auto
    background: url(/assets/img/bk/nw.jpg) #fff center center
    overflow: hidden

    .bk
      position: relative
      z-index: 1
      width: 100%
      height: 100%
      padding: 0 80px
      background-image: linear-gradient(45deg, rgba(0,0,0,.1) 0%, rgba(255,255,255,.5) 33%, rgba(255,255,255,.9) 65%,rgba(255,255,255,.3) 100%)
      .row
        position: relative
        z-index: 1
        .col:first-child
          padding-top: 115px
          padding-bottom: 20px
      &:after
        content: " "
        display: block
        width: 100%
        height: 100%
        position: absolute
        background: url(/assets/img/bk/redtri.png) right top no-repeat
        z-index: 0
        top: 0
        right: 0

  h1 
    color: #000
    max-width: 420px
    font-size: 3em
    font-weight: 800
    & > div > span
      white-space: nowrap
      & > span
        display: inline-block
        border-left: 3px solid #0f0
        width: 1px
        height: 36px
        animation(blink 1.3s linear infinite)
        &.blue
          border-left-color: #99f
          animation-delay: .7s
        &.pink
          border-left-color: #f99
          animation-delay: .3s
  .sep
    margin: 1.5rem 0
  p
    font-size: 1.2em
    font-family: 'soleil', sans-serif
  .btn
    background-image: linear-gradient(to bottom, #d8686f 0%,#dc3545 100%)
    border-radius: 50px
    padding: 10px 30px
  .sample
    opacity: 0.95
    height: 510px
    background: url(/assets/img/landing/sample.png) center top no-repeat
    background-color: #fff
    background-size: cover
    border-radius: 15px 15px 0 0
    box-shadow: 0 60px 40px 0 rgba(0,0,0,.2)

#landing-detail
  .social-links
    margin-top: 12px
    padding: 28px 0
    position: relative
    background: url(/assets/img/landing/chevron-down-dark.apng) transparent center center no-repeat
    z-index: 3
    color: #c1c3c4
    .inner
      max-width: 1200px
      width: 90%
      margin: auto
    i.fa
      margin: 0 15px
      font-size: 1.5em
    i.fa.fa-heart
      margin: 0 7px 0 15px

  .cta.ld.ld-radio:after
    border-radius: 10px
    border: 1px solid #0F6BFF

@keyframes show
  0%
    height: 0
    margin-bottom: 0
  49%
    height: 0
    margin-bottom: 0
  50%
    height: auto
    margin-bottom: 10px
  100%
    height: auto
    margin-bottom: 10px

@keyframes show-2
  0%
    height: auto
    opacity: 1
  48%
    height: auto
  49%
    height: 0
  100%
    height: 0
    opacity: 1

#landing-publish-text
  white-space: pre-line
  &:after
    //- looks like that chrome has bugs, if we have this then text will stop at middle
    display: none
    content: " "
    height: 1em
    width: 7px
    background: #0f0
    animation(blink 1s linear infinite)
    margin-left: 5px

#landing-drag-sample-inner
  width: 300px
  height: 400px
  background: #fff
  margin: auto
  box-shadow: 0 40px 30px rgba(0,0,0,.3)
  padding: 20px
  color: #444
  .inner
    width: 100%
    font-size: .8em
  .gallery
    flexbox()
    flex-wrap(wrap)
    .thumb
      margin: 2px
      width: 20%
      flex(1 1 auto)
      height: 30px
      background: #ddd
  .ghost
    width: 100%
    height: 40px
    overflow: hidden
    margin-bottom: 10px
    opacity: 0
    .inner
      border: 2px dashed #ccc
      margin-top: 10px
      text-align: center
      color: #aaa
      padding: 10px
  hr
    margin: 5px 0 10px
  .sample-block
    height: 0
    margin-bottom: 0
    overflow: hidden
  .thumb
    flexbox()
    flex-wrap(no-wrap)
  .thumb-img
    width: 40%
    flex: 1 1 auto
    height: 70px
    margin: auto
    border-radius: 0
    background: #ddd
  .brief
    width: 60%
    flex: 1 1 auto

@keyframes sample-block-thumbnail
  0%
    transform: translate(0,0)
    animation-timing-function: ease-in
    opacity: 1
  18%
    transform: translate(80px,-20px)
    animation-timing-function: ease-out
  36%
    transform: translate(160px,0)
    opacity: 1
  50%
    opacity: 1
  57%
    opacity: 0
  100%
    transform: translate(160px,0)
    opacity: 0

#sample-block-thumbnail
  width: 90px
  height: 50px
  background: #fff
  position: absolute
  box-shadow: 0 4px 8px rgba(0,0,0,.1)
  opacity: 0
  z-index: 2

#landing-drag-sample.active
  .sample-block
    animation(show 4s linear 1 forwards)
  .ghost
    animation(show-2 2s linear 7 forwards)
    animation-delay(-1s)
  #sample-block-thumbnail
    animation(sample-block-thumbnail 2s 6 forwards)
    animation-delay(.7s)
  for idx in (1..7)
    .sample-block:nth-child({idx})
      animation-delay: (7 - idx) * 2s

@media (max-width: 768px)
  #landing .inner .bk:after
    background-position: -100% top
    background-size: cover

@media (max-width: 560px)
  #landing
    height: 530px
  #landing .inner .bk
    padding: 0 20px
    .row
      .col:first-child
        padding-top: 40px
    h1
      font-size: 2.5em
