@import '../vars.styl'
@import '../basic.styl'

.pricing .pricing-panel
  position: relative

  & > .row
    max-width: 1024px
    width: 90%
    margin: auto
  .btn
    padding: 5px 30px 5px
  .pricing-plan
    text-align: center
    background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 100%)
    padding-bottom: 40px
    margin-bottom: 20px
    border: 1px solid #ccc
    border-radius: 5px
    box-shadow: 0 20px 20px rgba(0,0,0,.1)
    ul
      text-align: left
      list-style-type: none
      line-height: 1.5em
      height: 90px
      li:before
        content: "\2611"
        display: inline-block
        font-size: 1.2em
        margin-right: 5px

    .name
      text-decoration: underline
      line-height: 60px

    .price
      width: 100%
      height: 122px
      margin: 0 0 20px
      padding: 30px 0
      border-top: 1px solid
      border-bottom: 1px solid
      border-color: #ccc
      background: #fff
      color: #28a745
      .currency
        text-align: left
        display: inline-block
      .amount
        line-height: 32px
        display: inline-block
        font-size: 5em
        font-family: 'Lato'
        font-weight: 700
        .sub, .sup
          font-size: .5em
        .sup
          vertical-align: top
      .period
        font-size: 0.8em
        line-height: 1em

.pricing .pay-panel
  .pricing-plan .btn
    display: none

.pricing .period-switcher
  .btn i.fa
    visibility: hidden
  .btn.active i.fa
    visibility: visible

#prc-cc
  padding: 0
  .form-group
    position: relative
  .form-group .fa.form-check
    position: absolute
    right: 10px
    top: 50%
    font-size: 20px
    transform: translate(0,-50%)
  .form-group.has-error .fa.form-check
    color: #c7254e
    &:after
      content: "\f00d"
  .form-group.ok .fa.form-check
    color: #15b73e
    &:after
      content: "\f00c"
  .form-group .hover-tip
    display: none
    opacity: 0

  .form-group.has-error .hover-tip
    display: block
    opacity: 1
    transition(opacity 1s linear)

.pricing .pricing-panel, .billing
  .bk-animation
    width: 100%
    height: 400px
    position: absolute
    margin-top: 50px
    background: url(/assets/img/bk/ripple-lg.svg) #eee
    border-top: 1px solid #ccc
    border-bottom: 1px solid #ccc
