extends /base.jade
block head
  +css("/css/site/dashboard.css")
  +script("/js/profile.js")
block body
  +nbr(4)
  .block1024(ng-controller="profile")

    h3
      .avatar.mr-2(ng-attr-style="width:64px;height:64px;border-radius:50%;background:url(/s/avatar/{{user.data.key}}.png) #ccc center center no-repeat;background-size:cover;display:inline-block;vertical-align:middle")
      span {{user.data.displayname}}
    +nbr(1)
    .sep
    +nbr(1)
    br
    .btn.btn-text.btn-lg(style="margin-left:-15px"): big Page List
    a.btn.btn-outline-secondary.btn-sm(href="/page/create") #[i.fa.fa-plus.mr-1] #[span new page]
    +nbr(2)
    .page-list
      .list.head
        .item.thumb Thumb
        .item.title Title
        .pull-right
          .item.owner.text-center Owner
          .item.createdtime.text-center Created Time
          .item.revision.text-center Revisions
          .item.action.text-center Action

      .list.ng-animate-on(ng-repeat="doc in docs")
        .item.thumb
          .img(ng-attr-style="background-image:url({{doc.thumbnail || '/assets/img/page/default-thumbnail.jpg'}})")
        .item.title
          a(ng-attr-href="/page/{{doc.slug}}/") {{doc.title || 'untitled'}}
        .pull-right
          .item.owner.text-center
            .avatar.mr-1(ng-attr-style="width:20px;height:20px;border-radius:50%;background:url(/s/avatar/{{doc.owner}}.png) #ccc center center no-repeat;background-size:cover;display:inline-block;vertical-align:middle")
            a(style="vertical-align:middle") {{doc.displayname}}
          .item.createdtime.text-center
            span {{doc.createdtime|nicedatetime}}
          .item.revision.text-center.clickable: i.fa.fa-history
          .item.action.text-center
            .dropdown
              .dropdown-toggle.clickable(data-toggle="dropdown") #[i.fa.fa-ellipsis-h] &nbsp;
              .dropdown-menu
                a.dropdown-item.clickable(ng-attr-href="/page/{{doc.slug}}/clone/") #[i.fa.fa-clone] Clone
                a.dropdown-item.clickable(ng-click="page.delete(doc.slug)") #[i.fa.fa-trash] Delete
    +nbr(1)
    .pull-right: a.btn.btn-outline-secondary.btn-sm(href="/page/create") #[i.fa.fa-plus.mr-1] #[span new page]
    +nbr(6)
