.questions
  padding-left: 1em
  position: relative
  .question.repeat-ghost
    width: 100%
  .question
    display: list-item
    margin-bottom: 25px
    list-style-type: decimal
    p
      margin-bottom: 5px
    .choices
      border-left: 4px solid #ccc
      padding-left: 20px
      .choice
        cursor: pointer
        padding: 3px 10px
