br
h3 Questionnaire
p A simple description about what this questionnaire is for.
hr
.questions(repeat-host)
  .question(repeat-item)
    p This is the question number 1. Users choose from one of the options below.
    .choices(repeat-host)
      .choice.btn.btn-outline-secondary.mr-2.mb-2(repeat-item,
      edit-text="score",edit-text-placeholder="enter score") Answer 1
      .choice.btn.btn-outline-secondary.mr-2.mb-2(repeat-item,
      edit-text="score",edit-text-placeholder="enter score") Answer 2
      .choice.btn.btn-outline-secondary.mr-2.mb-2(repeat-item,
      edit-text="score",edit-text-placeholder="enter score") Answer 3
      .choice.btn.btn-outline-secondary.mr-2.mb-2(repeat-item,
      edit-text="score",edit-text-placeholder="enter score") Answer 4
hr
.row
  .col
    .btn.btn-primary.text-center.submit Submit
  .col
    .result
      small.mr-3 Your Score
      b.score 0
