//- module
.pricing-plan.advanced-monthly
  .name Advanced
  .pricing
    .amount #[span.sup $]12#[span.sub]
    .period.mt-2 USD / monthly
  .gray.mb-4: small includes Basic, Plus:
  ul
    li Complete Widgets
    li unlimited number of pages
  .gray: small 7 day refund guarantee
  .gray: small cancel anytime
  .btn.btn-light.btn-lg.mt-4 Coming Soon
  //-.btn.btn-success.btn-lg.mt-4 Subscribe

