//- module
.pricing-plan.advanced-monthly
  .name Advanced
  .price
    .amount #[span.sup $]{{subscription.price[subscription.period]['advanced']}}#[span.sub]
    .period.mt-2 USD / monthly #[small.text-secondary(ng-show="subscription.period=='yearly'") (${{12 * subscription.price[subscription.period]['advanced']}} annually)]
  .gray.mb-3: small includes Basic, Plus:
  ul
    li Complete Widgets
    li unlimited number of pages
    li Permission Control
  .gray: small 7 day refund guarantee
  .gray: small cancel anytime
  .btn.btn-light.btn-lg.mt-4 Coming Soon
  //-
    .btn.btn-success.btn-lg.mt-4(ng-show="user.data.plan.name != 'advanced'",
    ng-click="subscription.toggle.pay('advanced')") Subscribe
    .btn.btn-outline-secondary.btn-lg.mt-4(ng-show="user.data.plan.name == 'advanced'") Current Plan
