//- module
.pricing-plan
  .name Basic
  .pricing(style="font-size:0.7em"): .amount(style="margin-top:15px;color:#aaa") FREE
  .gray.mb-4: small includes
  ul
    li HTML Export
    li Basic widgets
  .gray: small &nbsp;
  .gray: small &nbsp;
  .btn.btn-success.btn-lg.mt-4(ng-click="auth.isSignIn=false;auth.ctrl.toggle()") Sign Up

