//- module
.pricing-plan.pro-monthly
  .name Pro
  .pricing
    .amount #[span.sup $]24#[span.sub]
    .period.mt-2 USD / monthly
  .gray.mb-4: small includes Advanced, Plus:
  ul
    li Traffic Analysis
    li Custom domain
    li Brand free
  .gray: small 7 day refund guarantee
  .gray: small cancel anytime
  .btn.btn-light.btn-lg.mt-4 Coming Soon
  //-.btn.btn-success.btn-lg.mt-4 Subscribe
