//- module
.pricing-plan.pro-monthly
  .name Pro
  .price
    .amount #[span.sup $]{{subscription.price[subscription.period]['pro']}}#[span.sub]
    .period.mt-2 USD / monthly #[small.text-secondary(ng-show="subscription.period=='yearly'") (${{12 * subscription.price[subscription.period]['pro']}} annually)]
  .gray.mb-3: small includes Advanced, Plus:
  ul
    li Traffic Analysis
    li Custom domain
    li Brand free
  .gray: small 7 day refund guarantee
  .gray: small cancel anytime
  //-.btn.btn-light.btn-lg.mt-4 Coming Soon
  .btn.btn-success.btn-lg.mt-4(ng-show="user.data.plan.name != 'pro'",
  ng-click="subscription.toggle.pay('pro')") Subscribe
  .btn.btn-outline-secondary.btn-lg.mt-4(ng-show="user.data.plan.name == 'pro'") Current Plan
