extends /base.jade
block vars
  - var navbar = false
block head
  +css("/css/site/index.css")
block body
  #blah.root-bk-gradient: .inner.text-center
    +nbr(2)
    h1 Password Reset Done.
    p.grayed Now let's try if you can login with your brand new password
    +nbr(2)
    div(ng-click="auth.ctrl.toggle()")
      i.fa.fa-cog.ld.ld-cycle.clickable(style="font-size:6em;animation-duration:2s")
    +nbr(2)
    script(type="text/javascript").
      $(document).ready(function() {
        setTimeout(function() {
          var auth = angular.element("body").scope().auth;
          auth.isSignIn = true;
          auth.ctrl.toggle();
        }, 1000);
      });

    p #[br] #[a(href="/") back to home]
    script.
      if(!window.location.search) { window.location.search = "?nexturl=/" }
