p So, there are several choices that you can make. Which one will you choose?
.row(repeat-host)
  each i in [1,2]
    .col.flip-card(repeat-item, edit-text="card-score", edit-text-placeholder="enter card score")
      .question
        h4 Choose Me
        p You won't be regret of choosing me.
      .answer
        h3 Well, you have a great choice.
        p Personally this choice is my favorite. I always choose this one when I got a lot of choices to make.
