.list(repeat-host)
  .item(image="bk",repeat-item,style="background-image:url(/assets/img/sample/25.jpg)"): .row
    .col-sm-1
    .col-sm-5
      h3 Internet Technologies #[small.tiny.ml-2 / 1960s]
      p Research into packet switching, one of the fundamental Internet technologies started in the early 1960s in the work of Paul Baran, and packet switched networks such as the NPL network by Donald Davies, ARPANET, Tymnet, the Merit Network, Telenet, and CYCLADES, were developed in the late 1960s and 1970s using a variety of protocols.
      p The ARPANET project led to the development of protocols for internetworking, by which multiple separate networks could be joined into a network of networks.
    .col-sm-5
      .thumb(image,style="background-image:url(/assets/img/sample/1.jpg)")
  .item(image="bk",repeat-item,style="background-image:url(/assets/img/sample/26.jpg)"): .row
    .col-sm-1
    .col-sm-5
      .thumb(image,style="background-image:url(/assets/img/sample/10.jpg)")
    .col-sm-5
      h3 TCP/IP Network Expanded #[small.tiny.ml-2 / 1986]
      p National Science Foundation Network (NSFNet) provided access to supercomputer sites in the United States for researchers, first at speeds of 56 kbit/s and later at 1.5 Mbit/s and 45 Mbit/s.
      p The ARPANET was decommissioned in 1990. By 1995, the Internet was fully commercialized in the U.S. when the NSFNet was decommissioned, removing the last restrictions on use of the Internet to carry commercial traffic.
  .item(image="bk",repeat-item,style="background-image:url(/assets/img/sample/27.jpg)"): .row
    .col-sm-1
    .col-sm-5
      h3 Continues to Grow #[small.tiny.ml-2 / late 1990s]
      p During the late 1990s, it was estimated that traffic on the public Internet grew by 100 percent per year, while the mean annual growth in the number of Internet users was thought to be between 20% and 50%.
    .col-sm-5
      .thumb(image,style="background-image:url(/assets/img/sample/15.jpg)")
