.text-center.mod-contact
  | Subscribe our newsletter to keep update with our latest news!
  .input-group
    input.form-control(type="text")
    span.input-group-addon
      .btn.btn-default Subscribe

