.row.text-center.mod-features
  .col
    .thumb
    h3 Feature 1
    p This is your Feature 1, you can give a brief description here for your users.

  .col
    .thumb
    h3 Feature 2
    p This is your Feature 2, you can give a brief description here for your users.

  .col
    .thumb
    h3 Feature 3
    p This is your Feature 3, you can give a brief description here for your users.

