.text-center
  p An sincerity so extremity he additions. Her yet there truth merit. Mrs all projecting favourable now unpleasing. Son law garden chatty temper. Oh children provided to mr elegance marriage strongly. Off can admiration prosperous now devonshire diminution law. 

.text-center(repeat-host)
  each i in [1,2,3]
    .btn.btn-lg.btn-primary.mr-2(repeat-item,edit-text="branch-target",
    edit-text-placeholder="enter branch id") Choice #{i}
