extends /base.jade
block vars
  - var navbar = false
block head
  +css("/css/site/index.css")
block body
  .root-bk-gradient: .inner.text-center
    +nbr(3)
    h1 Reset Link Expired.
    img.block(src="/assets/img/auth/expire.svg",style="width:128px;margin:auto")
    p.grayed Take too long to receive reset link email? try #[a(href="/auth/reset/") reset] again.
    p #[br] #[a(href="/") back to home]
