.row(repeat-host)
  .col-sm(repeat-item)
    b Brand.co &copy; 2018
    .list(repeat-host)
      .item(repeat-item): a(href="#",editable="true") Home
      .item(repeat-item): a(href="#",editable="true") About
  .col-sm
