.text-center
  h2 Our User
  br
  p check out our users in different companies, organizations from different industries.
  br
  div(repeat-host)
    .thumb(image,repeat-item,editable="false",style="background-image:url(/assets/img/sample/b2.png)")
    .thumb(image,repeat-item,editable="false",style="background-image:url(/assets/img/sample/b1.png)")
    .thumb(image,repeat-item,editable="false",style="background-image:url(/assets/img/sample/b3.png)")
  br
