.text-center
  h2 Our User
  br
  p check out our users in differen companies, organizations from different industries.
  br
  div(repeat-host)
    .thumb(image,repeat-item)
    .thumb(image,repeat-item)
    .thumb(image,repeat-item)
  br
