.block-speaker
  .row
    justify-content: center
  .speaker
    width: 80%
    min-width: 130px
    margin: auto
    border-radius: 50%
    background-color: rgba(0,0,0,.1)
    .inner
      height: 0
      padding-bottom: 100%
  .name, .title
    text-align: center
  .name
    font-size: 1.2em
    font-weight: 700
