.row.ml-0.mr-0(repeat-host)
  each i in [1,2,3]
    .col-sm-4(repeat-item)
      .speaker(editable="false",image): .inner
      .name.mt-2 Takashima Yamato
      .title.mb-2 Cofounder
      .desc
        p Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Aenean mollis urna eu.
