.block-speaker
  .speaker
    width: 80%
    min-width: 130px
    margin: auto
    overflow: hidden
    .inner
      border-radius: 50%
      height: 0
      padding-bottom: 100%
      background: rgba(0,0,0,.1)
  .name, .title
    text-align: center
  .name
    font-size: 1.2em
    font-weight: 700
