br
h2.text-center Our Impact
br
p.text-center Use numbers to raise users' interests about your story.
hr
.row.text-center
  .col-sm.mb-4
    big 12
    span pages
  .col-sm.mb-4
    big 20
    span views
  .col-sm.mb-4
    big 123
    span users
  .col-sm.mb-4
    big 7
    span sites
br
