br
h2.text-center Our Impact
br
p.text-center Use numbers to raise users' interests about your story.
hr
.row.text-center.ml-0.mr-0(repeat-host)
  .col-sm.mb-4(repeat-item)
    big.mb-1.number 12
    span pages
  .col-sm.mb-4(repeat-item)
    big.mb-1.number 20
    span views
  .col-sm.mb-4(repeat-item)
    big.mb-1.number 123
    span users
  .col-sm.mb-4(repeat-item)
    big.mb-1.number 7
    span sites
br
