.block-image-progress-right
  width: 100%!important
  & > .inner
    margin: 0!important
  h1, h2, h3, h4, p
    color: #fff
  .list, .item, .inner
    width: 100%
  .item
    text-shadow: 0 2px 3px rgba(0,0,0,.3)
    height: 100vh
    display: table
    padding: 40px
    background-attachment: fixed
    background-repeat: no-repeat
    background-position: center center
    background-color: #eee
    background-size: cover
    .row
      vertical-align: middle
      align-items: center
      height: 100%
    .thumb
      width: 90%
      margin: auto
      padding-bottom: 62.25%
      height: 0
      background-color: rgba(0,0,0,0.5)
      opacity: 0.9
      box-shadow: 0 20px 30px rgba(0,0,0,.3)
