h2 How to use this block
p This is a block for #[b(style="color:red") multi-storyline interactive]. Once you use this block, your page will be segmented into several numbered blocks, and these blocks will be default hidden in the viewer mode.
p We expect your users to interact with your content by clicking these buttons below; you can config them with the #[b(style="color:red") block number] they are going to reveal after clicking.
p To see the effect, #[b(style="color:red") simply drag another block under this block]; a label with number will appear in the left below this block.
br
br
.text-left(repeat-host)
  ul.big
    each i in [1,2,3]
      li.clickable(repeat-item,edit-text="branch-target",edit-text-placeholder="enter segment number to reveal") Choice #{i}
