.block-image-progress-left {
  width: 100% !important;
}
.block-image-progress-left > .inner {
  margin: 0 !important;
}
.block-image-progress-left h1,
.block-image-progress-left h2,
.block-image-progress-left h3,
.block-image-progress-left h4,
.block-image-progress-left p {
  color: #fff;
}
.block-image-progress-left .list,
.block-image-progress-left .item,
.block-image-progress-left .inner {
  width: 100%;
}
.block-image-progress-left .item {
  text-shadow: 0 2px 3px rgba(0,0,0,0.3);
  height: 100vh;
  display: table;
  padding: 40px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #eee;
  background-size: cover;
}
.block-image-progress-left .item .row {
  vertical-align: middle;
  align-items: center;
  height: 100%;
}
.block-image-progress-left .item .thumb {
  width: 90%;
  margin: auto;
  padding-bottom: 62.25%;
  height: 0;
  background-color: rgba(0,0,0,0.5);
  opacity: 0.9;
  box-shadow: 0 20px 30px rgba(0,0,0,0.3);
}
