.block-blank
  h3 Sample Block
  p This is a sample block with a title and one paragraph. It's the simplest block available here. You can use this block to quickly make a simple web page or turn this page into a collaborative pad.
