.inner(image="bk")
  .row(repeat-host)
    .col-sm(repeat-item,resizable)
      br
      br
      br
      br
      h1 Some#[br]Powerful Words
      hr
      p a little more details about this project, better with one to two sentence.
      br
      div(repeat-host)
        a.btn.btn-lg.btn-danger.mr-1.ml-1(repeat-item,editable="true",href="#") Get Started Now
    .col-sm(repeat-item,resizable)
      .thumb(image,style="margin:0 auto;width:260px;height:524px;background-image:url(/assets/img/sample/i1.png)",
      editable="false")
