.inner(image="bk",style="background-image:url(/assets/img/sample/20.jpg)")
  .text-center
    br
    h1 Some Powerful Words
    hr
    p a little more details about this project, better with one to two sentence.
    br
    div(repeat-host)
      a.btn.btn-lg.btn-danger.mr-1.ml-1(repeat-item,editable="true",href="#") Get Started Now
