.inner(image="bk")
  .text-center
    br
    h1 Some Powerful Words
    hr
    p a little more details about this project, better with one to two sentence.
    br
    a.btn.btn-lg.btn-danger Get Started Now
