extends /base.jade
block head
  +css("/css/site/landing.css")
  +css("/css/site/index.css")
  link(href="https://fonts.googleapis.com/css?family=Asap:400,700|Asap+Condensed",rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Prompt:400,700",rel="stylesheet")
  link(rel="stylesheet",href="https://use.typekit.net/efg4kga.css")
  link(href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed|Encode+Sans:400,700|Lato:700",rel="stylesheet")


block body
  #landing
    .bk: .inner: .bk
      .row
        .col
          +nbr(5)
          h1 
            div: span Cowor#[span]k with 
            div: span web pages i#[span.blue]n 
            div: span the si#[span.pink]mple way.
          .sep
          p collaborative, intuitive web editing with your friends and publish your pages right after your change.
          +nbr(2)
          .btn.btn-danger.btn-lg(ng-click="needlogin('/page/create')") Make One Now
          br
        .col #[+nbr(3)]#[.sample]
    svg(viewBox="0 0 1200 300",preserveAspectRatio="none")
      path(d="M0 300L1200 0L1200 300L0 300Z",fill="#fff")
  #landing-detail
    .social-links: .inner
      .pull-right
        i.fa.fa-facebook
        i.fa.fa-google-plus
        i.fa.fa-twitter
        i.fa.fa-github
      .pull-left(style="margin-top:-5px")
        i.fa.fa-heart.text-danger.ld.ld-heartbeat
        //-span 793
    .block1024

      div(reveal-block="ldt-slide-bottom-in"): .text-center(reveal-block="ldt-fade-in",style="opacity:0")
        .inline-block(style="color:#09f;margin:65px auto 25px;font-size:1.3em;border-bottom:2px solid #09f") makeweb.io
        h1 Collaborative Web Editing
        p No more conflict and attachment. Design webpage with colleagues will never be easier.
        +nbr(1)
      div(reveal-block="ldt-fade-in",style="opacity:0")
        .thumb(style="width:500px;height:300px;margin:20px auto;font-family:consolas;color:#999",reveal-block="ldt-slide-bottom-in")
          div Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac ipsum non purus ultricies commodo vitae sit amet turpis.
          br
          div Donec bibendum porta pharetra. Nullam luctus porta ipsum et ornare. Donec fringilla eu dui ut pretium. Etiam faucibus nunc in vestibulum ultrices. Nulla odio augue, venenatis id mi nec, vehicula vestibulum ex. Integer rutrum libero ac est elementum, ut ultrices ligula ornare. In quis varius nisi. Aliquam erat volutpat.

      +nbr(3)
    div(style="background:#eb1542;color:#fff;padding:60px 30px;")
      .block1024
        .row
          .col-5
            +nbr(2)
            h1(reveal-block="ldt-slide-left-in",style="opacity:0") Simply Drag &amp; Drop
            .sep.white.huge-gap(reveal-block="ldt-slide-left-in",style="animation-delay:0.1s;opacity:0")
            p(reveal-block="ldt-slide-left-in",style="animation-delay:0.2s;opacity:0") Minimize the coding affair by wokring with prebuilt templates to optimize your productivity and focus one the content you are working on.
            +nbr(1)
          .col-7
    div(style="background:url(/assets/img/bk/naturalwhite.jpg) #eee;color:#444;padding:60px 30px;overflow:hidden;")
      .block1024
        .row
          .col-7
            .rel
              img(src="/assets/img/landing/browser.png",style="border-radius:7px 7px 0 0;border:1px solid #aaa;box-shadow:0 70px 50px rgba(0,0,0,.3);position:absolute;top:0;left:0")
              .text.rel(style="z-index:1;width:420px;padding:110px 30px 0;")
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac ipsum non purus ultricies commodo vitae sit amet turpis.

                p Donec bibendum porta pharetra. Nullam luctus porta ipsum et ornare. Donec fringilla eu dui ut pretium. Etiam faucibus nunc in vestibulum ultrices. Nulla odio augue, venenatis id mi nec.
          .col-5
            +nbr(2)
            h1(reveal-block="ldt-slide-right-in",style="opacity:0") Publish on the fly
            .sep.light.huge-gap(reveal-block="ldt-slide-right-in",style="opacity:0;animation-delay:0.1s")
            p(reveal-block="ldt-slide-right-in",style="opacity:0;animation-delay:0.2s") Deploy your website right after your last editing with #[b custom domain], #[b privacy control] and #[b traffic analysis].
            +nbr(1)
    .pricing(style="background:#fff;color:#000;padding:60px 0;")
      .block1024.text-center
        +nbr(2)
        div(reveal-block="ldt-throw-in",style="transform:scale(0)")
          h1 ... and It's free!
          p We provide both free plan and paid pro plans for you to choose, depends on your need.
        +nbr(3)

      .pricing-panel
        .bk-animation
        .row
          .col: .pricing-plan
            .name Basic
            .pricing(style="font-size:0.7em"): .amount(style="margin-top:15px;color:#aaa") FREE
            .gray.mb-4: small includes
            ul
              li HTML Export
              li Basic widgets
            .gray: small &nbsp;
            .gray: small &nbsp;
            .btn.btn-success.btn-lg.mt-4 Sign Up

          .col: .pricing-plan
            .name Advanced
            .pricing
              .amount #[span.sup $]3#[span.sub .95]
              .period.mt-2 USD / monthly
            .gray.mb-4: small includes Basic, Plus:
            ul
              li Complete Widgets
              li unlimited number of pages
            .gray: small 7 day refund guarantee
            .gray: small cancel anytime
            .btn.btn-success.btn-lg.mt-4 Subscribe

          .col: .pricing-plan
            .name Pro
            .pricing
              .amount #[span.sup $]9#[span.sub .95]
              .period.mt-2 USD / monthly
            .gray.mb-4: small includes Advanced, Plus:
            ul
              li Traffic Analysis
              li Custom domain
              li Brand free
            .gray: small 7 day refund guarantee
            .gray: small cancel anytime
            .btn.btn-success.btn-lg.mt-4 Subscribe

    +nbr(3)
    +nbr(3)
    .block1024.text-center
      .inline-block.clickable(ng-click="needlogin('/page/create')")
        .cta.ld.ld-radio
          .btn.btn-lg.btn-primary(style="padding:15px 30px;border-radius:10px;transform:scale(0)",
          reveal-block="ldt-bounce-in") Get Start for Free
          //- h3 Hesitating? Let's see how others built their page! 

  +nbr(10)
  include /module/footer.jade
  +script("js/landing.js")
