extends /base.jade
block vars
  - var url = "https://makeweb.io/";
  - var navInvert = true;
block head
  +css("/css/site/landing.css")
  +css("/css/site/index.css")
  link(href="https://fonts.googleapis.com/css?family=Asap:400,700|Asap+Condensed",rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Prompt:400,700",rel="stylesheet")
  link(rel="stylesheet",href="https://use.typekit.net/efg4kga.css")
  link(href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed|Encode+Sans:400,700|Lato:700",rel="stylesheet")
block body
  include /pricing/plan-modal.jade
  include /pricing/pay-modal.jade
  #landing
    .bk: .inner: .bk
      .row
        .col
          h1
            div: span Cowor#[span]k with 
            div: span web pages i#[span.blue]n 
            div: span the si#[span.pink]mple way.
          .sep
          p collaborative, intuitive web design with your friends and publish your pages right after your change.
          +nbr(2)
          .btn.btn-danger.btn-lg(ng-click="needlogin('/page/create')") Make One Now
          br
        .col.d-none.d-lg-block #[+nbr(3)]#[.sample]
    svg(viewBox="0 0 1200 300",preserveAspectRatio="none")
      path(d="M0 300L1200 0L1200 300L0 300Z",fill="#fff")
  #landing-detail
    .social-links: .inner
      .pull-right
        i.fa.fa-facebook
        i.fa.fa-google-plus
        i.fa.fa-twitter
        i.fa.fa-github
      .pull-left(style="margin-top:-5px")
        i.fa.fa-heart.text-danger.ld.ld-heartbeat
    br
    .landing-block.block1024
      div: .text-center
        .inline-block(style="color:#09f;margin:35px auto 25px;font-size:1.3em;border-bottom:2px solid #09f") makeweb.io
        h1 Collaborative Web Design
        p No more conflict in editing. Design webpage with others will never be easier.
        +nbr(1)
      div(reveal-block="ldt-fade-in")
        .row(reveal-block="ldt-slide-bottom-in",style="opacity:0")
          .col-sm-7.offset-sm-2
            .sample-text
              div Lorem ipsum dolor sit amet, #[.under.red consectetur adipiscing elit.] Morbi ac ipsum non purus ultricies commodo vitae sit amet turpis.
              br
              div Donec bibendum porta pharetra. Nullam luctus #[.under.orange porta ipsum et ornare.] Donec fringilla eu dui ut pretium. Etiam faucibus nunc in vestibulum ultrices. Nulla odio augue, venenatis id mi nec, vehicula vestibulum ex. Integer rutrum libero ac est elementum, #[.under.blue ut ultrices ligula ornare]. In quis varius nisi. Aliquam erat volutpat.
          .col-sm-3
            .sample-collaborator
              +nbr(2)
              label.underline.bold Collaborators
              .user #[.avatar] #[.name James Smith]
              .user.orange #[.avatar] #[.name Wei Wang]
              .user.blue #[.avatar] #[.name Yuzo Takada]

    .landing-block(style="background:#5d99b0;color:#fff"): .block1024
      .row
        .col-sm-5
          +nbr(2)
          h1(reveal-block="ldt-slide-left-in",style="opacity:0") Simply Drag &amp; Drop
          .sep.white.huge-gap(reveal-block="ldt-slide-left-in",style="animation-delay:0.1s;opacity:0")
          p(reveal-block="ldt-slide-left-in",style="animation-delay:0.2s;opacity:0") Minimize the coding effort by wokring with #[b: i prebuilt templates] to optimize your productivity and focus one the content you are working on.
          +nbr(1)
        .col-sm-7
          #landing-drag-sample
            #sample-block-thumbnail
            #landing-drag-sample-inner: .inner
              .ghost: .inner Drop Here
              h3.sample-block Our Portfolio
              p.sample-block Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac ipsum non purus ultricies commodo vitae sit amet turpis.
              .sample-block.thumb
                .thumb-img.mr-2
                .brief
                  .mb-2: b Lorem ipsum
                  span consectetur adipisci elit. Morbi ac ipsum.
              .gallery.sample-block
                each i in [1,2,3,4,5,6]
                  .thumb
              .sample-block: hr
              .text-center.sample-block: .btn.btn.btn-secondary Hire Us

    .landing-block(style="background:url(/assets/img/bk/naturalwhite.jpg) #eee;color:#444;overflow:hidden;")
      .block1024
        .row
          .col-sm-7.d-none.d-lg-block
            .rel
              img(src="/assets/img/landing/browser.png",style="border-radius:7px 7px 0 0;border:1px solid #aaa;box-shadow:0 70px 50px rgba(0,0,0,.3);position:absolute;top:0;left:0")
              .text.rel(style="z-index:1;width:420px;padding:110px 30px 0;")
                #landing-publish-text.
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac ipsum non purus ultricies commodo vitae sit amet turpis.

                  Donec bibendum porta pharetra. Nullam luctus porta ipsum et ornare. Donec fringilla eu dui ut pretium. Etiam faucibus nunc in vestibulum ultrices. Nulla odio augue, venenatis id mi nec.
          .col-sm-5
            +nbr(2)
            h1(reveal-block="ldt-slide-right-in",style="opacity:0") Publish on the fly
            .sep.light.huge-gap(reveal-block="ldt-slide-right-in",style="opacity:0;animation-delay:0.1s")
            p(reveal-block="ldt-slide-right-in",style="opacity:0;animation-delay:0.2s") Deploy your website right after your last edit with #[b: i custom domain], #[b: i privacy control] and #[b: i traffic analysis].
            +nbr(1)
    .pricing(style="background:#fff;color:#000;padding:60px 0;")
      .block1024.text-center
        +nbr(2)
        div(reveal-block="ldt-throw-in",style="transform:scale(0)")
          h1 ... and It's free!
          p We provide both free plan and paid pro plans for you to choose, depends on your need.
        +nbr(2)

        .btn-group.period-switcher
          .btn.btn-outline-secondary.has-tips.top(ng-click="subscription.setPeriod('yearly')",
          ng-class="{'active':subscription.period=='yearly'}")
            span Billed Yearly
            i.fa.fa-check.ml-1
            .hover-tip.top.bg-success.show(style="margin-bottom:10px;padding_1px 7px 3px;min-width:0") Save 25%
          .btn.btn-outline-secondary(ng-click="subscription.setPeriod('monthly')",
          ng-class="{'active':subscription.period=='monthly'}")
            span Billed Monthly
            i.fa.fa-check.ml-1
        span.align-middle.ml-2.inline-block
        +nbr(3)

      .pricing-panel
        .bk-animation.d-none.d-lg-block
        .row
          .col: include /pricing/plans/free.jade
          .col: include /pricing/plans/advanced.jade
          .col: include /pricing/plans/pro.jade
    +nbr(4)
    .block1024.text-center
      .inline-block.clickable(ng-click="needlogin('/page/create')")
        .cta.ld.ld-radio
          .btn.btn-lg.btn-primary(style="padding:15px 30px;border-radius:10px;transform:scale(0)",
          reveal-block="ldt-bounce-in") Get Start for Free
          //- h3 Hesitating? Let's see how others built their page! 

  +nbr(10)
  include /module/footer.jade
  +script("js/landing.js")
