extends /base.jade
block head
  +css("/css/site/landing.css")
  +css("/css/site/index.css")
  link(href="https://fonts.googleapis.com/css?family=Asap:400,700|Asap+Condensed",rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Prompt:400,700",rel="stylesheet")
  link(rel="stylesheet",href="https://use.typekit.net/efg4kga.css")
  link(href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed|Encode+Sans:400,700",rel="stylesheet")


block body
  #landing: .bk: .inner
    .row
      .col
        +nbr(5)
        h1 
          div: span Cowor#[span]k with 
          div: span web pages i#[span.blue]n 
          div: span the si#[span.pink]mple way.
        .sep
        p collaborative, intuitive web editing with your friends and publish your pages right after your change.
        +nbr(2)
        .btn.btn-danger.btn-lg.clickable(ng-click="auth.isSignIn=false;auth.ctrl.toggle()") Make One Now
        br
      .col #[+nbr(3)]#[.sample]
  #landing-detail
    svg(width="100%",height="150px",viewBox="0 -50 1280 150",preserveAspectRatio="none",style="margin-top:-100px")
      defs
        filter#landing-shadow
          feGaussianBlur(stdDeviation="10",result="blur")
          feMerge
            feMergeNode(in="blur")
            feMergeNode(in="SourceGraphic")
      path(d="M0 0A640 50 0 0 0 1280 0L1280 100L0 100Z",fill="white",filter="url(#landing-shadow)")
    .block1024
      .text-center
        +nbr(2)
        h1 Collaborative Web Editing
        p No more conflict, no more attachment. Design webpage with colleagues will never be easier.
        +nbr(1)
      .thumb(style="width:500px;height:300px;background:#ddd;border-radius:10px;box-shadow:0 3px 5px rgba(0,0,0,.1);margin:20px auto")
      +nbr(3)
    div(style="background:#eb1542;color:#fff;padding:60px 30px;")
      .block1024
        .row
          .col
            +nbr(2)
            h1 Simply Drag &amp; Drop
            .sep.light.huge-gap
            p Minimize the coding affair by wokring with prebuilt templates to optimize your productivity and focus one the content you are working on.
            +nbr(1)
          .col
    div(style="background:#eee;color:#444;padding:60px 30px;")
      .block1024
        .row
          .col
          .col
            +nbr(2)
            h1 Publish on the fly
            .sep.light.huge-gap
            p Deploy your website right after your last keystroke with custom domain and advanced privacy control.
            +nbr(1)
    .pricing(style="background:#fff;color:#000;padding:60px 30px;")
      .block1024.text-center
        +nbr(2)
        h1 Furthermore, It's free!
        p We provide both free plan and paid pro plan for you to choose depending on your need.
        +nbr(3)
        .pricing-panel: .row
          .col
            .pricing-plan
              .name Basic
              .pricing: .amount FREE
              small.grayed includes
              ul
                li HTML Export
                li Basic widgets
            .btn.btn-primary.btn-lg Sign Up
          .sep
          .col
            .pricing-plan
              .name Advanced
              .pricing
                .amount 3#[span.sub .95]
                .period USD per month
              small.grayed includes Basic, Plus:
              ul
                li Complete Widgets
                li unlimited number of pages
            .btn.btn-primary.btn-lg Subscribe

          .sep
          .col
            .pricing-plan
              .name Pro
              .pricing
                .amount 9#[span.sub .95]
                .period USD per month
              small.grayed includes Advanced, Plus:
              ul
                li Traffic Analysis
                li Custom domain
                li Brand free
            .btn.btn-primary.btn-lg Subscribe
    +nbr(3)
    .sep.huge-gap
    +nbr(3)
    .block1024.text-center
      h3 Hesitating? Let's see how others built their page! 

  +nbr(10)
  include /module/footer.jade
