//- module
#nav-top
  nav.navbar.navbar-expand-lg.navbar-light.text-dark.fixed-top
    a.navbar-brand(href="/"): img(src="/assets/img/logo.svg")
    button.navbar-toggler(type="button",data-toggle="collapse",data-target="#navbar-supported-content")
      span.navbar-toggler-icon
    .collapse.navbar-collapse#navbar-supported-content
      ul.navbar-nav.mr-auto
        li.nav-item: a.nav-link(href="/page/create") #[i.fa.fa-plus] New Page
        li.nav-item: a.nav-link(href="#",onclick="clone()") #[i.fa.fa-copy] Make a Copy
      ul.navbar-nav.ml-auto
        li.nav-item: a.nav-link(href="#") Sign In
