//- module
#nav-top
  nav.navbar.navbar-expand-lg.fixed-top(class=(navClass || '') + (navInvert ? " do-invert" : ""))
    a.navbar-brand(href="/"): img(src="/assets/img/logo.svg")
    button.navbar-toggler(type="button",data-toggle="collapse",data-target="#navbar-supported-content")
      span.navbar-toggler-icon
    .collapse.navbar-collapse#navbar-supported-content
      ul.navbar-nav.mr-auto
        li.nav-item: a.nav-link(href="#",ng-click="needlogin('/page/create')") + New Page
      ul.navbar-nav.ml-auto(ng-show="!user.data.key")
        li.nav-item: a.nav-link(href="#",ng-click="auth.isSignIn=false;auth.ctrl.toggle()") Sign Up
        li.nav-item: a.nav-link(href="#",ng-click="auth.isSignIn=true;auth.ctrl.toggle()") Login
      ul.navbar-nav.ml-auto(ng-show="user.data.key")
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href="#",data-toggle="dropdown")
            .avatar.mr-2(ng-attr-style="background-image:url(/s/avatar/{{user.data.key}}.png)")
            span {{user.data.displayname}}
          .dropdown-menu
            a.dropdown-item(href="/me/") Dashboard
            .dropdown-divider
            a.dropdown-item(href="#",ng-click="auth.logout()") Logout
