.block-slides
  padding: 0
  margin: 0
  & > .inner
    padding: 0
    margin: 0!important
    width: 100%!important
    max-width: initial!important
  .slides
    width: 100%
    min-height: 100vh
    position: relative
    overflow: hidden
  .slides > .fa
    position: absolute
    z-index: 10
    cursor: pointer
    top: 50%
    transform: translate(0,-50%)
    font-size: 3em
    color: #fff
    text-shadow: 0 0 5px rgba(0,0,0,.2)
  .slides > .fa-chevron-right
    right: 10px
  .slides > .fa-chevron-left
    left: 10px
  .slide
    width: 100%
    height: 100vh
    overflow: hidden
    position: absolute
    display: table
    left: 0
    top: 0
    z-index: 0
    opacity: 0
  .slide > .inner
    display: table-cell
    width: 100%
    height: 100vh
    text-align: center
    vertical-align: middle
