width: 100%;
@-webkit-keyframes auth-reset-img {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    height: 200px;
  }
  100% {
    opacity: 0;
    height: 0;
  }
}
@-webkit-keyframes auth-reset-img {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    height: 200px;
  }
  100% {
    opacity: 0;
    height: 0;
  }
}
@-moz-keyframes auth-reset-img {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    height: 200px;
  }
  100% {
    opacity: 0;
    height: 0;
  }
}
@-ms-keyframes auth-reset-img {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    height: 200px;
  }
  100% {
    opacity: 0;
    height: 0;
  }
}
@-moz-keyframes auth-reset-img {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    height: 200px;
  }
  100% {
    opacity: 0;
    height: 0;
  }
}
@-webkit-keyframes auth-reset-img {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    height: 200px;
  }
  100% {
    opacity: 0;
    height: 0;
  }
}
@-o-keyframes auth-reset-img {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    height: 200px;
  }
  100% {
    opacity: 0;
    height: 0;
  }
}
@keyframes auth-reset-img {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    height: 200px;
  }
  100% {
    opacity: 0;
    height: 0;
  }
}
width: 100%;
@-webkit-keyframes auth-reset-icon {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    font-size: 0;
  }
  100% {
    opacity: 1;
    font-size: 128px;
  }
}
@-webkit-keyframes auth-reset-icon {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    font-size: 0;
  }
  100% {
    opacity: 1;
    font-size: 128px;
  }
}
@-moz-keyframes auth-reset-icon {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    font-size: 0;
  }
  100% {
    opacity: 1;
    font-size: 128px;
  }
}
@-ms-keyframes auth-reset-icon {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    font-size: 0;
  }
  100% {
    opacity: 1;
    font-size: 128px;
  }
}
@-moz-keyframes auth-reset-icon {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    font-size: 0;
  }
  100% {
    opacity: 1;
    font-size: 128px;
  }
}
@-webkit-keyframes auth-reset-icon {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    font-size: 0;
  }
  100% {
    opacity: 1;
    font-size: 128px;
  }
}
@-o-keyframes auth-reset-icon {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    font-size: 0;
  }
  100% {
    opacity: 1;
    font-size: 128px;
  }
}
@keyframes auth-reset-icon {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    font-size: 0;
  }
  100% {
    opacity: 1;
    font-size: 128px;
  }
}
#auth-reset-sent img {
  -ms-animation: auth-reset-img 1.5s ease-out 1 forwards;
  -moz-animation: auth-reset-img 1.5s ease-out 1 forwards;
  -webkit-animation: auth-reset-img 1.5s ease-out 1 forwards;
  -o-animation: auth-reset-img 1.5s ease-out 1 forwards;
  animation: auth-reset-img 1.5s ease-out 1 forwards;
}
#auth-reset-sent i.fa {
  color: #a7f887;
  margin: 40px 0;
  -ms-animation: auth-reset-icon 1.5s ease-in 1 forwards;
  -moz-animation: auth-reset-icon 1.5s ease-in 1 forwards;
  -webkit-animation: auth-reset-icon 1.5s ease-in 1 forwards;
  -o-animation: auth-reset-icon 1.5s ease-in 1 forwards;
  animation: auth-reset-icon 1.5s ease-in 1 forwards;
}
@media (max-width: 768px) {
  .authpanel-static-outer {
    width: 100%;
  }
  .authpanel .card-body {
    padding: 15px 10px;
  }
  .authpanel.cover-modal-wrapper .cover-modal-inner {
    max-width: 400px;
    width: 95%;
  }
}
@media (max-height: 536px) {
  .authpanel label {
    margin-bottom: 0.1rem;
    font-size: 14px;
  }
  .authpanel .form-group {
    margin-bottom: 0.7rem;
  }
  .authpanel input[type=text] {
    height: 32px;
  }
  .authpanel .btn-success {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
  }
}
