.bill-items .bill-item.head {
  font-weight: 900;
  background: #eee;
}
.bill-items .bill-item {
  background: #fff;
}
.bill-items .bill-item.refunded .datetime,
.bill-items .bill-item.refunded .name,
.bill-items .bill-item.refunded .amount,
.bill-items .bill-item.refunded .payment,
.bill-items .bill-item.refunded .payer {
  text-decoration: line-through;
  color: #999;
}
.bill-items .bill-item .datetime,
.bill-items .bill-item .name,
.bill-items .bill-item .amount,
.bill-items .bill-item .payment,
.bill-items .bill-item .payer,
.bill-items .bill-item .invoice {
  padding: 5px 10px;
  display: inline-block;
}
.bill-items .bill-item .datetime {
  width: 175px;
}
.bill-items .bill-item .name {
  width: 275px;
}
.bill-items .bill-item .amount {
  width: 120px;
  text-align: right;
}
.bill-items .bill-item .invoice {
  width: 70px;
  text-align: center;
}
.paper {
  padding: 11mm 15mm 11mm;
  margin: 20px auto;
  width: 210mm;
  height: 297mm;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
.invoice.cover-modal-wrapper {
  position: absolute;
}
.invoice.cover-modal-wrapper .cover-modal {
  position: fixed;
}
.invoice.cover-modal-wrapper .cover-modal-inner {
  width: 210mm;
}
.invoice table {
  width: 100%;
  border-radius: 2px;
  margin-bottom: 5px;
}
.invoice table td {
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 1.5mm 0;
}
.invoice table tr:last-child td {
  border-bottom: 1px solid #ccc;
}
.invoice table tr td:last-child {
  border-right: 1px solid #ccc;
}
.invoice table tr:first-child td {
  background: #f9f9f9;
}
.invoice table tr td:first-child {
  text-align: left;
  padding-left: 2mm;
  padding-right: 2mm;
}
@media print {
  body.for-print {
    width: 210mm;
    height: 297mm;
    background: #fff;
  }
  .paper {
    margin: 0;
    border: 0;
    box-shadow: none;
  }
  .print-hide {
    display: none;
  }
}
