#footer {
  width: 100%;
  background: url("/assets/img/footer-bk.svg") #222;
  text-shadow: 0 3px 2px rgba(0,0,0,0.5);
}
#footer .inner {
  width: 90%;
  max-width: 1024px;
  min-height: 300px;
  margin: auto;
  padding: 100px 20px 50px;
}
#footer .inner,
#footer a {
  color: #eee;
}
#footer .item {
  margin: 5px 0;
}
#footer .item i.fa {
  width: 24px;
  text-align: center;
  margin-right: 5px;
}
.root-bk-gradient {
  height: 100%;
  background: linear-gradient(45deg, #1e5799 0%, #7db9e8 100%);
}
.root-bk-gradient > .inner {
  background: url("/assets/img/bk/ripple.svg");
  padding: 100px 20px 10px;
}
