#landing {
  color: #444;
  background: linear-gradient(45deg, #1e5799 0%, #7db9e8 100%);
  padding-top: 80px;
  overflow: visible;
  height: 650px;
  position: relative;
}
#landing svg {
  width: 100%;
  height: 300px;
  margin-top: -300px;
  position: absolute;
  z-index: 0;
}
#landing:before {
  content: " ";
  display: block;
  max-width: 1200px;
  width: 90%;
  height: 450px;
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 0px auto;
  box-shadow: 0 80px 80px 0 rgba(0,0,0,0.4);
}
#landing > .bk {
  width: 100%;
  height: 100%;
  background: url("/assets/img/bk/ripple.svg") center center;
  overflow: visible;
  position: relative;
  z-index: 1;
}
#landing .inner {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  background: url("/assets/img/bk/nw.jpg") #fff center center;
  overflow: hidden;
}
#landing .inner .bk {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 0 80px;
  background-image: linear-gradient(45deg, rgba(0,0,0,0.1) 0%, rgba(255,255,255,0.5) 33%, rgba(255,255,255,0.9) 65%, rgba(255,255,255,0.3) 100%);
}
#landing .inner .bk .row {
  position: relative;
  z-index: 1;
}
#landing .inner .bk .row .col:first-child {
  padding-top: 115px;
  padding-bottom: 20px;
}
#landing .inner .bk:after {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("/assets/img/bk/redtri.png") right top no-repeat;
  z-index: 0;
  top: 0;
  right: 0;
}
#landing h1 {
  color: #000;
  max-width: 420px;
  font-size: 3em;
  font-weight: 800;
}
#landing h1 > div > span {
  white-space: nowrap;
}
#landing h1 > div > span > span {
  display: inline-block;
  border-left: 3px solid #0f0;
  width: 1px;
  height: 36px;
  -ms-animation: blink 1.3s linear infinite;
  -moz-animation: blink 1.3s linear infinite;
  -webkit-animation: blink 1.3s linear infinite;
  -o-animation: blink 1.3s linear infinite;
  animation: blink 1.3s linear infinite;
}
#landing h1 > div > span > span.blue {
  border-left-color: #99f;
  -ms-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
  -o-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
#landing h1 > div > span > span.pink {
  border-left-color: #f99;
  -ms-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
#landing .sep {
  margin: 1.5rem 0;
}
#landing p {
  font-size: 1.2em;
  font-family: 'soleil', sans-serif;
}
#landing .btn {
  background-image: linear-gradient(to bottom, #d8686f 0%, #dc3545 100%);
  border-radius: 50px;
  padding: 10px 30px;
}
#landing .sample {
  opacity: 0.95;
  height: 510px;
  background: url("/assets/img/landing/sample.png") center top no-repeat;
  background-color: #fff;
  background-size: cover;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 60px 40px 0 rgba(0,0,0,0.2);
}
#landing-detail .sample-text {
  margin: 20px auto;
  font-family: consolas, monospace;
  font-size: 15px;
  color: #999;
}
#landing-detail .under {
  display: inline-block;
  position: relative;
  color: #f44336;
}
#landing-detail .under:after {
  content: " ";
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  border-bottom: 2px solid currentColor;
  -ms-animation: ld-float 1s linear infinite;
  -moz-animation: ld-float 1s linear infinite;
  -webkit-animation: ld-float 1s linear infinite;
  -o-animation: ld-float 1s linear infinite;
  animation: ld-float 1s linear infinite;
}
#landing-detail .under.orange {
  color: #ff9800;
}
#landing-detail .under.green {
  color: #8bc34a;
}
#landing-detail .under.blue {
  color: #3f51b5;
}
#landing-detail .user .avatar,
#landing-detail .user .name {
  display: inline-block;
}
#landing-detail .user .name {
  font-size: 14px;
  border-left: 4px solid #f44336;
  padding-left: 4px;
}
#landing-detail .user .avatar {
  background: url("/assets/img/avatar.svg") center center no-repeat #999;
  width: 16px;
  height: 16px;
  vertical-align: -3px;
}
#landing-detail .user.orange .name {
  border-left-color: #ff9800;
}
#landing-detail .user.green .name {
  border-left-color: #8bc34a;
}
#landing-detail .user.blue .name {
  border-left-color: #3f51b5;
}
#landing-detail .social-links {
  margin-top: 12px;
  padding: 28px 0;
  position: relative;
  background: url("/assets/img/landing/chevron-down-dark.apng") transparent center bottom no-repeat;
  z-index: 3;
  color: #c1c3c4;
}
#landing-detail .social-links .inner {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}
#landing-detail .social-links i.fa {
  margin: 0 15px;
  font-size: 1.5em;
}
#landing-detail .social-links i.fa.fa-heart {
  margin: 0 7px 0 15px;
}
#landing-detail .landing-block {
  padding: 60px 30px;
}
#landing-detail .cta.ld.ld-radio:after {
  border-radius: 10px;
  border: 1px solid #0f6bff;
}
#landing-publish-text {
  white-space: pre-line;
}
#landing-publish-text:after {
  display: none;
  content: " ";
  height: 1em;
  width: 7px;
  background: #0f0;
  -ms-animation: blink 1s linear infinite;
  -moz-animation: blink 1s linear infinite;
  -webkit-animation: blink 1s linear infinite;
  -o-animation: blink 1s linear infinite;
  animation: blink 1s linear infinite;
  margin-left: 5px;
}
#landing-drag-sample-inner {
  max-width: 300px;
  width: 100%;
  height: 400px;
  background: #fff;
  margin: auto;
  box-shadow: 0 40px 30px rgba(0,0,0,0.3);
  padding: 20px;
  color: #444;
}
#landing-drag-sample-inner .inner {
  width: 100%;
  font-size: 0.8em;
}
#landing-drag-sample-inner .gallery {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
#landing-drag-sample-inner .gallery .thumb {
  margin: 2px;
  width: 20%;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  height: 30px;
  background: #ddd;
}
#landing-drag-sample-inner .ghost {
  width: 100%;
  height: 40px;
  overflow: hidden;
  margin-bottom: 10px;
  opacity: 0;
}
#landing-drag-sample-inner .ghost .inner {
  border: 2px dashed #ccc;
  margin-top: 10px;
  text-align: center;
  color: #aaa;
  padding: 10px;
}
#landing-drag-sample-inner hr {
  margin: 5px 0 10px;
}
#landing-drag-sample-inner .sample-block {
  height: 0;
  margin-bottom: 0;
  overflow: hidden;
}
#landing-drag-sample-inner .thumb {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: no-wrap;
  flex-wrap: no-wrap;
}
#landing-drag-sample-inner .thumb-img {
  width: 40%;
  -webkit-flex: 1;
  flex: 1;
  height: 70px;
  margin: auto;
  border-radius: 0;
  background: #ddd;
}
#landing-drag-sample-inner .brief {
  width: 60%;
  -webkit-flex: 1;
  flex: 1;
}
#sample-block-thumbnail {
  width: 90px;
  height: 50px;
  background: #fff;
  position: absolute;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  opacity: 0;
  z-index: 2;
}
#landing-drag-sample.active .sample-block {
  -ms-animation: show 4s linear 1 forwards;
  -moz-animation: show 4s linear 1 forwards;
  -webkit-animation: show 4s linear 1 forwards;
  -o-animation: show 4s linear 1 forwards;
  animation: show 4s linear 1 forwards;
}
#landing-drag-sample.active .ghost {
  -ms-animation: show-2 2s linear 7 forwards;
  -moz-animation: show-2 2s linear 7 forwards;
  -webkit-animation: show-2 2s linear 7 forwards;
  -o-animation: show-2 2s linear 7 forwards;
  animation: show-2 2s linear 7 forwards;
  -ms-animation-delay: -1s;
  -moz-animation-delay: -1s;
  -webkit-animation-delay: -1s;
  -o-animation-delay: -1s;
  animation-delay: -1s;
}
#landing-drag-sample.active #sample-block-thumbnail {
  -ms-animation: sample-block-thumbnail 2s 6 forwards;
  -moz-animation: sample-block-thumbnail 2s 6 forwards;
  -webkit-animation: sample-block-thumbnail 2s 6 forwards;
  -o-animation: sample-block-thumbnail 2s 6 forwards;
  animation: sample-block-thumbnail 2s 6 forwards;
  -ms-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
  -o-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
#landing-drag-sample.active .sample-block:nth-child(1) {
  -ms-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -webkit-animation-delay: 12s;
  -o-animation-delay: 12s;
  animation-delay: 12s;
}
#landing-drag-sample.active .sample-block:nth-child(2) {
  -ms-animation-delay: 10s;
  -moz-animation-delay: 10s;
  -webkit-animation-delay: 10s;
  -o-animation-delay: 10s;
  animation-delay: 10s;
}
#landing-drag-sample.active .sample-block:nth-child(3) {
  -ms-animation-delay: 8s;
  -moz-animation-delay: 8s;
  -webkit-animation-delay: 8s;
  -o-animation-delay: 8s;
  animation-delay: 8s;
}
#landing-drag-sample.active .sample-block:nth-child(4) {
  -ms-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -webkit-animation-delay: 6s;
  -o-animation-delay: 6s;
  animation-delay: 6s;
}
#landing-drag-sample.active .sample-block:nth-child(5) {
  -ms-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -webkit-animation-delay: 4s;
  -o-animation-delay: 4s;
  animation-delay: 4s;
}
#landing-drag-sample.active .sample-block:nth-child(6) {
  -ms-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s;
}
#landing-drag-sample.active .sample-block:nth-child(7) {
  -ms-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}
@media (max-width: 991px) {
  #landing-detail .social-links {
    margin-top: 0;
    padding: 18px 0;
  }
  #landing-detail .social-links i.fa {
    font-size: 1.1em;
    margin: 0 6px;
    color: #222;
  }
}
@media (max-width: 768px) {
  #landing-detail h1 {
    font-size: 1.75em;
  }
  #landing:before {
    box-shadow: 0 20px 60px rgba(0,0,0,0.4);
    height: 370px;
  }
  #landing .inner .bk:after {
    background-position: -100% top;
    background-size: cover;
  }
  #landing-detail .landing-block {
    padding: 30px 10px;
  }
}
@media (max-width: 560px) {
  #landing {
    height: 530px;
  }
  #landing .inner .bk {
    padding: 0 20px;
  }
  #landing .inner .bk .row .col:first-child {
    padding-top: 40px;
  }
  #landing .inner .bk h1 {
    font-size: 2em;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  29% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  29% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes blink {
  0% {
    opacity: 0;
  }
  29% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  29% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes show {
  0% {
    height: 0;
    margin-bottom: 0;
  }
  49% {
    height: 0;
    margin-bottom: 0;
  }
  50% {
    height: auto;
    margin-bottom: 10px;
  }
  100% {
    height: auto;
    margin-bottom: 10px;
  }
}
@-webkit-keyframes show {
  0% {
    height: 0;
    margin-bottom: 0;
  }
  49% {
    height: 0;
    margin-bottom: 0;
  }
  50% {
    height: auto;
    margin-bottom: 10px;
  }
  100% {
    height: auto;
    margin-bottom: 10px;
  }
}
@-o-keyframes show {
  0% {
    height: 0;
    margin-bottom: 0;
  }
  49% {
    height: 0;
    margin-bottom: 0;
  }
  50% {
    height: auto;
    margin-bottom: 10px;
  }
  100% {
    height: auto;
    margin-bottom: 10px;
  }
}
@keyframes show {
  0% {
    height: 0;
    margin-bottom: 0;
  }
  49% {
    height: 0;
    margin-bottom: 0;
  }
  50% {
    height: auto;
    margin-bottom: 10px;
  }
  100% {
    height: auto;
    margin-bottom: 10px;
  }
}
@-moz-keyframes show-2 {
  0% {
    height: auto;
    opacity: 1;
  }
  48% {
    height: auto;
  }
  49% {
    height: 0;
  }
  100% {
    height: 0;
    opacity: 1;
  }
}
@-webkit-keyframes show-2 {
  0% {
    height: auto;
    opacity: 1;
  }
  48% {
    height: auto;
  }
  49% {
    height: 0;
  }
  100% {
    height: 0;
    opacity: 1;
  }
}
@-o-keyframes show-2 {
  0% {
    height: auto;
    opacity: 1;
  }
  48% {
    height: auto;
  }
  49% {
    height: 0;
  }
  100% {
    height: 0;
    opacity: 1;
  }
}
@keyframes show-2 {
  0% {
    height: auto;
    opacity: 1;
  }
  48% {
    height: auto;
  }
  49% {
    height: 0;
  }
  100% {
    height: 0;
    opacity: 1;
  }
}
@-moz-keyframes sample-block-thumbnail {
  0% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  18% {
    -ms-transform: translate(80px, -20px);
    -moz-transform: translate(80px, -20px);
    -webkit-transform: translate(80px, -20px);
    -o-transform: translate(80px, -20px);
    transform: translate(80px, -20px);
    animation-timing-function: ease-out;
  }
  36% {
    -ms-transform: translate(160px, 0);
    -moz-transform: translate(160px, 0);
    -webkit-transform: translate(160px, 0);
    -o-transform: translate(160px, 0);
    transform: translate(160px, 0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  57% {
    opacity: 0;
  }
  100% {
    -ms-transform: translate(160px, 0);
    -moz-transform: translate(160px, 0);
    -webkit-transform: translate(160px, 0);
    -o-transform: translate(160px, 0);
    transform: translate(160px, 0);
    opacity: 0;
  }
}
@-webkit-keyframes sample-block-thumbnail {
  0% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  18% {
    -ms-transform: translate(80px, -20px);
    -moz-transform: translate(80px, -20px);
    -webkit-transform: translate(80px, -20px);
    -o-transform: translate(80px, -20px);
    transform: translate(80px, -20px);
    animation-timing-function: ease-out;
  }
  36% {
    -ms-transform: translate(160px, 0);
    -moz-transform: translate(160px, 0);
    -webkit-transform: translate(160px, 0);
    -o-transform: translate(160px, 0);
    transform: translate(160px, 0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  57% {
    opacity: 0;
  }
  100% {
    -ms-transform: translate(160px, 0);
    -moz-transform: translate(160px, 0);
    -webkit-transform: translate(160px, 0);
    -o-transform: translate(160px, 0);
    transform: translate(160px, 0);
    opacity: 0;
  }
}
@-o-keyframes sample-block-thumbnail {
  0% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  18% {
    -ms-transform: translate(80px, -20px);
    -moz-transform: translate(80px, -20px);
    -webkit-transform: translate(80px, -20px);
    -o-transform: translate(80px, -20px);
    transform: translate(80px, -20px);
    animation-timing-function: ease-out;
  }
  36% {
    -ms-transform: translate(160px, 0);
    -moz-transform: translate(160px, 0);
    -webkit-transform: translate(160px, 0);
    -o-transform: translate(160px, 0);
    transform: translate(160px, 0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  57% {
    opacity: 0;
  }
  100% {
    -ms-transform: translate(160px, 0);
    -moz-transform: translate(160px, 0);
    -webkit-transform: translate(160px, 0);
    -o-transform: translate(160px, 0);
    transform: translate(160px, 0);
    opacity: 0;
  }
}
@keyframes sample-block-thumbnail {
  0% {
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  18% {
    -ms-transform: translate(80px, -20px);
    -moz-transform: translate(80px, -20px);
    -webkit-transform: translate(80px, -20px);
    -o-transform: translate(80px, -20px);
    transform: translate(80px, -20px);
    animation-timing-function: ease-out;
  }
  36% {
    -ms-transform: translate(160px, 0);
    -moz-transform: translate(160px, 0);
    -webkit-transform: translate(160px, 0);
    -o-transform: translate(160px, 0);
    transform: translate(160px, 0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  57% {
    opacity: 0;
  }
  100% {
    -ms-transform: translate(160px, 0);
    -moz-transform: translate(160px, 0);
    -webkit-transform: translate(160px, 0);
    -o-transform: translate(160px, 0);
    transform: translate(160px, 0);
    opacity: 0;
  }
}
