#landing {
  color: #444;
  background: linear-gradient(45deg, #1e5799 0%, #7db9e8 100%);
  padding-top: 80px;
  overflow: visible;
  height: 650px;
  position: relative;
}
#landing svg {
  width: 100%;
  height: 300px;
  margin-top: -300px;
  position: absolute;
  z-index: 0;
}
#landing:before {
  content: " ";
  display: block;
  width: 1200px;
  height: 410px;
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 0px auto;
  box-shadow: 0 100px 100px 10px rgba(0,0,0,0.5);
}
#landing > .bk {
  width: 100%;
  height: 100%;
  background: url("/assets/img/bk/ripple.svg") center center;
  overflow: visible;
  position: relative;
  z-index: 1;
}
#landing .inner {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  background: url("/assets/img/bk/nw.jpg") #fff center center;
  overflow: hidden;
}
#landing .inner .bk {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 0 80px;
  background-image: linear-gradient(45deg, rgba(0,0,0,0.1) 0%, rgba(255,255,255,0.5) 33%, rgba(255,255,255,0.9) 65%, rgba(255,255,255,0.3) 100%);
}
#landing .inner .bk .row {
  position: relative;
  z-index: 1;
}
#landing .inner .bk:after {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("/assets/img/bk/redtri.png") right top no-repeat;
  z-index: 0;
  top: 0;
  right: 0;
}
#landing h1 {
  color: #000;
  max-width: 420px;
  font-size: 3em;
  font-weight: 800;
}
#landing h1 > div > span {
  white-space: nowrap;
}
#landing h1 > div > span > span {
  display: inline-block;
  border-left: 3px solid #0f0;
  width: 1px;
  height: 36px;
  -ms-animation: blink 1.3s linear infinite;
  -moz-animation: blink 1.3s linear infinite;
  -webkit-animation: blink 1.3s linear infinite;
  -o-animation: blink 1.3s linear infinite;
  animation: blink 1.3s linear infinite;
}
#landing h1 > div > span > span.blue {
  border-left-color: #99f;
  -ms-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
  -o-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
#landing h1 > div > span > span.pink {
  border-left-color: #f99;
  -ms-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
#landing .sep {
  margin: 1.5rem 0;
}
#landing p {
  font-size: 1.2em;
  font-family: 'soleil', sans-serif;
}
#landing .btn {
  background-image: linear-gradient(to bottom, #d8686f 0%, #dc3545 100%);
  border-radius: 50px;
  padding: 10px 30px;
}
#landing .sample {
  opacity: 0.95;
  height: 510px;
  background: url("/assets/img/landing/sample.png") center top no-repeat;
  background-color: #fff;
  background-size: cover;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 60px 30px 0 rgba(0,0,0,0.4);
}
#landing-detail .social-links {
  margin-top: 12px;
  padding: 28px 0;
  position: relative;
  background: url("/assets/img/landing/chevron-down-dark.apng") #fff center center no-repeat;
  z-index: 3;
  color: #c1c3c4;
}
#landing-detail .social-links .inner {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}
#landing-detail .social-links i.fa {
  margin: 0 15px;
  font-size: 1.5em;
}
#landing-detail .social-links i.fa.fa-heart {
  margin: 0 7px 0 15px;
}
#landing-detail .cta.ld.ld-radio:after {
  border-radius: 10px;
  border: 1px solid #0f6bff;
}
#landing-detail .pricing .sep {
  height: 500px;
}
#landing-detail .pricing .pricing-panel {
  position: relative;
}
#landing-detail .pricing .pricing-panel .bk-animation {
  width: 100%;
  height: 460px;
  position: absolute;
  margin-top: 50px;
  background: url("/assets/img/bk/ripple-lg.svg") #eee;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
#landing-detail .pricing .pricing-panel .row {
  max-width: 1024px;
  width: 90%;
  text-align: center;
  margin: auto;
}
#landing-detail .pricing .pricing-panel .btn {
  padding: 5px 30px 10px;
}
#landing-detail .pricing .pricing-panel .pricing-plan {
  background: linear-gradient(to bottom, #fff 0%, #f6f6f6 100%);
  padding-bottom: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0,0,0,0.1);
}
#landing-detail .pricing .pricing-panel .pricing-plan ul {
  text-align: left;
  list-style-type: none;
  height: 100px;
}
#landing-detail .pricing .pricing-panel .pricing-plan ul li:before {
  content: "\2611";
  display: inline-block;
  font-size: 1.2em;
  margin-right: 5px;
}
#landing-detail .pricing .pricing-panel .pricing-plan .name {
  text-decoration: underline;
  line-height: 100px;
}
#landing-detail .pricing .pricing-panel .pricing-plan .pricing {
  width: 100%;
  height: 122px;
  margin: 0 0 30px;
  padding: 30px 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #ccc;
  background: #fff;
  color: #28a745;
}
#landing-detail .pricing .pricing-panel .pricing-plan .pricing .currency {
  text-align: left;
  display: inline-block;
}
#landing-detail .pricing .pricing-panel .pricing-plan .pricing .amount {
  line-height: 32px;
  display: inline-block;
  font-size: 5em;
  font-family: 'Lato';
  font-weight: 700;
}
#landing-detail .pricing .pricing-panel .pricing-plan .pricing .amount .sub,
#landing-detail .pricing .pricing-panel .pricing-plan .pricing .amount .sup {
  font-size: 0.5em;
}
#landing-detail .pricing .pricing-panel .pricing-plan .pricing .amount .sup {
  vertical-align: top;
}
#landing-detail .pricing .pricing-panel .pricing-plan .pricing .period {
  font-size: 0.8em;
  line-height: 1em;
}
@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  29% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  29% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes blink {
  0% {
    opacity: 0;
  }
  29% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  29% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
