nav.navbar.fixed-top
  background: none
  border-bottom: 0px solid none
  padding: 20px 10px
  max-width: 1200px
  z-index: index(order, 'nav-top')
  margin: auto
  .navbar-brand img
    height: 20px
    margin-top: -8px
  .nav-link
    transition: color 0.5s ease-in-out
    color: #fff
  &.invert .nav-link
    color: #444
  .avatar
    vertical-align: -6px
  .navbar-toggler
    outline: none
  .navbar-toggler-icon
    font: normal normal normal 20px/1 FontAwesome
    outline: none
    line-height: 1.5em
    color: rgba(0,0,0,.8)
    &:before
      content: "\f0c9"

@media (max-width: 991px)
  nav.navbar.fixed-top
    .navbar-collapse.show .nav-link, .navbar-collapse.collapsing .nav-link
      background: rgba(255,255,255,.95)
      padding-left: 10px
      color: #444
