//- module
order = join(" ",
  base ,
  slider-switch hover-tip,
  blocks-picker editor-inner blocks-preview,
  cursor block-handle handle,
  footer nav-top authpanel-outer,
  modal modal-inner high-modal high-modal-inner high-modal-wrapper,
  authpanel-background authpanel-inner,
  closebtn ldcolorpicker,
  notifications icon-dimmer
  )
