extends /base.jade
block vars
  - var navbar = false
  - var authPanelTitle = "Can't Let You In.";
  - var authPanelDesc = "Try a different method to login";
block head
  +css("/css/site/index.css")
block body
  .root-bk-gradient: .inner
    .authpanel-static-outer
      include ../static.jade
    +nbr(1)
    .text-center: a(href="/") Back to Home
