.row.ml-0.mr-0.text-center(repeat-host)
  each i in [1,2,3]
    .col-sm(repeat-item,resizable)
      .thumb(image,style="background-image:url(/assets/img/sample/" + i + ".jpg",editable="false")
      h3 Feature #{i}
      p Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
