div
  br
  h2.text-center All plans come with
  br
  br
  .row.mr-0.ml-0(repeat-host)
    .col-sm.mb-4(repeat-item)
      b Collaborative Web Editing
      p.mt-2 edit web page with people you are working with. Realtime, concurrent web editing optimize your productivity.
    .col-sm.mb-4(repeat-item)
      b Prebuilt Templates
      p.mt-2 never code it yourself again. Make web pages with drag and drop of our prebuilt templates.
    .col-sm.mb-4(repeat-item)
      b Publish on the Fly
      p.mt-2 show your work with people right after you've done with your web page.
  .text-center: a(href="#") see all questions #[i.fa &#xf061;]
